<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3><strong>
                        <vuetable-pagination-info
                                ref="paginationInfo"
                                info-template="Администраторы (<span>{total}</span>) показано <span>{from} - {to}</span>"
                                info-class="pagination-info"
                        ></vuetable-pagination-info>
                    </strong></h3>
                </div>
                <div class="top-pagination search-block-pagination">
                    <div class="vuetable-pagination">
                        <vuetable-pagination ref="pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </div>
                </div>
            </div>
            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.email" @keyup.enter="doFilter" placeholder="E-mail">
                    </div>
                    <div class="param-deleted">
                        <label>
                            <input type="checkbox" class="form-control" v-model="filterText.deleted"> Удаленные
                        </label>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="showTableHeader"/>
        </b-container>
        <!-- / SEARCH FORM -->

        <div class="users-list-block">
            <div v-if="table.loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div :class="{'table-list-loading' : table.loading}">
                <vuetable ref="vuetable"
                          id="vuetable-container"
                          :api-url="table.apiUrl"
                          :fields="table.fields"
                          :css="table.css.table"
                          :per-page="table.perPage"
                          :sort-order="table.sortOrder"
                          :append-params="table.moreParams"
                          :http-fetch="loadData"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                >
                    <!--name-->
                    <template slot="name" slot-scope="props">
                        <del v-if="props.rowData.deleted_at !== null">
                            {{ props.rowData.name }}
                        </del>
                        <span v-else>
                            {{ props.rowData.name }}
                        </span>
                    </template>

                    <!--level-->
                    <template slot="level" slot-scope="props">
                        {{ levelTitle(props.rowData.level) }}
                    </template>

                    <!--active-->
                    <template slot="active" slot-scope="props">
                        <span v-if="props.rowData.active"><i class="fas fa-check"></i></span>
                    </template>

                    <!--controls-->
                    <template slot="controls" slot-scope="props">
                        <div class="users-actions">
                            <a :href="admin_edit_uri + props.rowData.id"
                               target="_blank"
                               :class="{'disabled': props.rowData.deleted_at !== null}"
                               class="btn btn-primary btn-xs"
                               title="Редактировать администратора"
                            ><i class="fas fa-pencil-alt"></i></a>
                            <a :class="{'disabled': current_user.id === props.rowData.id || props.rowData.deleted_at !== null}"
                               @click="deletedAdmin(props.rowData.id, props.rowData.name)"
                               class="btn btn-danger btn-xs"
                               title="Удалить администратора"
                            ><i class="fas fas fa-trash-alt"></i></a>
                        </div>
                    </template>
                </vuetable>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../../utils/axios'
import permissions from '../../mixins/permissions'

import VueDatepickerLocal from 'vue-datepicker-local'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetablePagination from '../../users/UsersPaginationComponent'
import Spinner from 'vue-simple-spinner'
import VueResize from 'vue-resize'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'
import 'floatthead';

Vue.use(VueResize);

const admin_add_uri = '/settings/admins/admin/add';

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        'vue-simple-spinner': Spinner
    },
    data() {
        return {
            admin_edit_uri: '/settings/admins/admin/edit?id=',
            admin_delete_uri: '/api/settings/admin',
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок'
            },
            filterText: {
                id: '',
                name: '',
                email: '',
                deleted: false,
            },
            levelList: {
                10: 'Модератор',
                20: 'Контролер',
                30: 'Администратор',
                90: 'Владелец',
            },
            table: {
                apiUrl: '/api/settings/admins/get-data',
                perPage: 200,
                fields: [
                    {
                        name: 'id',
                        title: 'Id',
                        sortField: 'id',
                        titleClass: 'users-id',
                        dataClass: 'users-id'
                    },
                    {
                        name: '__slot:name',
                        title: 'Имя',
                        sortField: 'name',
                        titleClass: 'users-name',
                        dataClass: 'users-name'
                    },
                    {
                        name: 'email',
                        title: 'E-mail',
                        sortField: 'email',
                        titleClass: 'users-name',
                        dataClass: 'users-name'
                    },
                    {
                        name: '__slot:level',
                        title: 'Уровень доступа',
                        titleClass: 'users-name',
                        dataClass: 'users-name'
                    },
                    {
                        name: '__slot:active',
                        title: 'Активен',
                        titleClass: 'users-active text-center',
                        dataClass: 'users-active text-center',
                    },
                    {
                        name: '__slot:controls',
                        title: '<a class="btn btn-primary btn-xs" href="' + admin_add_uri + '"><i class="fas fa-pencil-alt"></i> Добавить</a>',
                        titleClass: 'users-controls text-center',
                        dataClass: 'users-controls text-center'
                    }
                ],
                sortOrder: [
                    {
                        field: 'id',
                        direction: 'desc'
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table b-table table-striped table-hover users-list',
                        ascendingClass: 'current-sort',
                        descendingClass: 'current-sort',
                        ascendingIcon: 'glyphicon glyphicon-chevron-down',
                        descendingIcon: 'glyphicon glyphicon-chevron-up',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                        renderIcon: function (classes) {
                            return `<span class="${classes.join(' ')}"></span>`
                        }
                    }
                },
                moreParams: {},
                loading: false,
            }
        }
    },
    async mounted() {
        await this.getCurrentUser();
        this.showTableHeader();
    },
    methods: {
        showTableHeader() {
            let table = $('table#vuetable-container');
            let header = $('header.header');
            let search = $('.search-block');

            table.css('margin-top', search.height() + 'px');
            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function () {
                    return header.outerHeight() + search.outerHeight();
                }
            });
            table.trigger('reflow');
        },
        loadData(apiUrl, httpOptions) {
            return axios.get(apiUrl, httpOptions);
        },
        onLoading() {
            this.table.loading = true;
        },
        onLoaded() {
            this.table.loading = false;
            this.showTableHeader();
        },
        onPaginationData(paginationData) {
            if (paginationData.to > paginationData.total) {
                paginationData.to = paginationData.total;
            }
            this.$refs.pagination.setPaginationData(paginationData);
            this.$refs.paginationInfo.setPaginationData(paginationData);
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page);
        },
        refreshTable() {
            Vue.nextTick(() => this.$refs.vuetable.reload());
        },
        doFilter() {
            this.table.moreParams = {
                'filter': this.filterText
            };
            this.refreshTable();
        },
        resetFilter() {
            this.filterText = {
                id: '',
                name: '',
                email: '',
                deleted: false,
            };
            this.doFilter();
        },
        deletedAdmin(id, name) {
            if (confirm('Удалить администратора ' + name + '?')) {
                axios.delete('/api/settings/admin/' + id)
                    .then(() => {
                        this.refreshTable();
                    });
            }
        },
        levelTitle(level) {
            if (this.levelList.hasOwnProperty(level)) {
                return this.levelList[level];
            }

            return `Неизвестно (${level})`;
        },
    }
};
</script>