<template>
    <section class="wrapper">
        <div class="border-head">
            <h3><strong>Редактирование администратора</strong></h3>
        </div>
        <div>
            <form class="form-horizontal col-sm-12 col-md-9 col-lg-7">
                <div class="form-group">
                    <label for="inputName" class="col-sm-4 control-label">Имя</label>
                    <div class="col-sm-8">
                        <input id="inputName" type="text" class="form-control" v-model="edited.name" placeholder="Введите имя" autocomplete="off">
                        <p v-show="fromErrors.name" class="text-danger" v-html="fromErrors.name"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-4 control-label">E-mail</label>
                    <div class="col-sm-8">
                        <input id="inputEmail" type="text" class="form-control" v-model="edited.email" placeholder="Введите e-mail" autocomplete="off">
                        <p v-show="fromErrors.email" class="text-danger" v-html="fromErrors.email"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-4 control-label">Пароль</label>
                    <div class="col-sm-8">
                        <input id="inputPassword" type="text" class="form-control" v-model="edited.password" placeholder="Введите пароль"
                               autocomplete="off" style="text-security:disc; -webkit-text-security:disc;">
                        <p v-show="fromErrors.password" class="text-danger" v-html="fromErrors.password"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswordConfirmation" class="col-sm-4 control-label">Повтор пароля</label>
                    <div class="col-sm-8">
                        <input id="inputPasswordConfirmation" type="text" class="form-control" v-model="edited.password_confirmation"
                               placeholder="Повторите пароль" autocomplete="off" style="text-security:disc; -webkit-text-security:disc;">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Права доступа</label>
                    <div class="col-sm-8 admin-edit-permissions">
                        <div class="admin-edit-permission-els" v-for="perm in formPermissions">
                            <div>
                                <label>
                                    <input class="form-check-input" type="checkbox" v-bind:value="perm.id" v-model="edited.permissions" :disabled="editPermissions()">
                                    {{ perm.title }}
                                </label>
                                <div v-if="perm.hasOwnProperty('nodes')" v-for="node in perm.nodes" class="admin-edit-permission-nodes">
                                    <label>
                                        <input class="form-check-input" type="checkbox" v-bind:value="node.id" v-model="edited.permissions" :disabled="editPermissions()">
                                        {{ node.title }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Уровень доступа</label>
                    <div class="col-sm-8">
                        <b-form-select class="form-control" v-model="edited.level" :options="levelList" :disabled="editPermissions()"></b-form-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Активен</label>
                    <div class="col-sm-8">
                        <label class="radio-inline">
                            <input v-model="edited.active" type="radio" name="inputActive" id="inputActive1" value="1" :disabled="editPermissions()"> Да
                        </label>
                        <label class="radio-inline">
                            <input v-model="edited.active" type="radio" name="inputActive" id="inputActive0" value="0" :disabled="editPermissions()"> Нет
                        </label>
                        <p v-show="fromErrors.active" class="text-danger" v-html="fromErrors.active"></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <b-button @click="updateAdmin" variant="info">Сохранить</b-button>
                        <div class="pull-right">
                            <b-button @click="deletedAdmin" :disabled="editPermissions()" variant="danger"><i class="fas fa-trash-alt"></i> Удалить администратора</b-button>
                        </div>
                    </div>
                </div>
                <notifications group="notify" position="bottom right" />
                <b-alert variant="danger"
                         dismissible
                         :show="formErrorShow"
                         @dismissed="formErrorShow=false">
                    {{ formErrorText }}
                </b-alert>
            </form>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import Notifications from 'vue-notification'
import axios from '../../../utils/axios'
import permissions from '../../mixins/permissions'
import { detect } from 'detect-browser'
const browser = detect();

Vue.use(AsyncComputed);
Vue.use(Notifications);

export default {
    mixins: [permissions],
    data() {
        return {
            admin_id: 0,
            formPermissions: [],
            levelList: [
                { value: 10, text: 'Модератор' },
                { value: 20, text: 'Контролер' },
                { value: 30, text: 'Администратор' },
                { value: 90, text: 'Владелец' },
            ],
            fromErrors: {
                name: false,
                email: false,
                password: false,
                active: false,
            },
            formErrorShow: false,
            formErrorText: '',
        }
    },
    async mounted() {
        let id = this.$route.query['id'];
        if (typeof id === 'string' || typeof id === 'number') {
            this.admin_id = parseInt(id, 10);
        }
        await this.getCurrentUser();
        this.getPermissions();

        if (!browser || browser.name !== 'chrome') {
            document.querySelector('#inputPassword').type = 'password';
            document.querySelector('#inputPasswordConfirmation').type = 'password';
        }
    },
    methods: {
        editPermissions() {
            if (typeof this.current_user.id !== 'undefined') {
                return this.current_user.id === this.admin_id;
            }

            return true;
        },
        updateAdmin: function () {
            this.resetErrors();

            axios.post('/api/settings/admin/' + this.admin_id, this.edited)
                .then(() => {
                    this.$notify({
                        group: 'notify',
                        type: 'vue-notification-custom',
                        text: 'Изменения сохранены',
                        duration: 3000,
                        speed: 500
                    })
                })
                .catch(error => {
                    if (error.response.data.hasOwnProperty('error_data')) {
                        let data = error.response.data.error_data;

                        for (let prop in data) {
                            if (data.hasOwnProperty(prop)) {
                                let val = data[prop];

                                Vue.set(this.fromErrors, prop, val.join('<br>'));
                            }
                        }
                    }
                });
        },
        deletedAdmin: function() {
            if (confirm('Удалить администратора?')) {
                axios.delete('/api/settings/admin/' + this.admin_id)
                    .then(() => {
                        window.location.href = '/settings/admins';
                    })
                    .catch(error => {
                        if (error.response.data.error) {
                            alert(error.response.data.error);
                        }
                    });
            }
        },
        resetErrors: function() {
            for (let prop in this.fromErrors) {
                if (this.fromErrors.hasOwnProperty(prop)) {
                    Vue.set(this.fromErrors, prop, false);
                }
            }
            this.formErrorShow = false;
            this.formErrorText = '';
        },
        getPermissions: function () {
            return axios.get('/api/settings/admins/get-permissions')
                .then(response => {
                    /**
                     * @property {number} data.i.id
                     * @property {number} data.i.permission
                     * @property {string} data.i.title
                     * @property {number} data.i.parent_id
                     * @property {object} data.i.nodes
                     */
                    this.formPermissions = response.data;
                });
        },
    },
    asyncComputed: {
        edited: {
            get () {
                if (this.admin_id) {
                    return axios.get('/api/settings/admin/' + this.admin_id)
                        .then(response => {
                            if (!response.data || response.data.length === 0) {
                                alert('Запись не найдена');
                            }

                            return {
                                name: response.data.name,
                                email: response.data.email,
                                password: '',
                                password_confirmation: '',
                                active: response.data.active,
                                permissions: response.data.permissions,
                                level: response.data.level,
                            };
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            },
            default: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                active: '',
                permissions: [],
                level: 10,
            }
        }
    }
}
</script>
