<template>
    <section class="wrapper" style="padding-top: 0px;">

            <div style="height: 15px; overflow: hidden;">&nbsp;</div>
            <div class="border-head" style="">
                <h3 style="margin-bottom: 10px;"><strong>Добавление фейка</strong></h3>
            </div>
                <div class="col-sm-6 col-md-4">
                    <form class="form-horizontal">
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.name }">
                            <label for="inputPassword" class="col-sm-4 control-label">Имя</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.name" placeholder="Введите имя">
                                <p v-show="fake_fields_errors.name" class="text-danger">Имя не должно быть пустым.</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.age }">
                            <label for="inputPassword" class="col-sm-4 control-label">Возраст</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.age" placeholder="Введите возраст">
                                <p v-show="fake_fields_errors.age" class="text-danger">Возраст должен быть числом от 18 до 99.</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.gender }">
                            <label for="inputPassword" class="col-sm-4 control-label">Пол</label>
                            <div class="col-sm-8">
                                <b-form-select
                                    v-model="add_fake.gender"
                                    :options="{ '1': 'Муж', '2': 'Жен' }" >
                                </b-form-select>
                                <p v-show="fake_fields_errors.gender" class="text-danger">Пол указан некорректно.</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.latitude }">
                            <label for="inputPassword" class="col-sm-4 control-label">Широта</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.latitude" placeholder="Введите широту">
                                <p v-show="fake_fields_errors.latitude" class="text-danger">Широта указывается в десятичном представлении. Наример 33.43533</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.longitude }">
                            <label for="inputPassword" class="col-sm-4 control-label">Долгота</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.longitude" placeholder="Введите долготу">
                                <p v-show="fake_fields_errors.longitude" class="text-danger">Долгота указывается в десятичном представлении. Наример 47.11294</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.city }">
                            <label for="inputPassword" class="col-sm-4 control-label">Город</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.city" placeholder="Введите город">
                                <p v-show="fake_fields_errors.city" class="text-danger">Город не должен быть пустым и содержать любые символы кроме букв, цифр, тире и подчеркиваний.</p>
                            </div>
                        </div>
                        <h4>Параметры поиска</h4>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.search_gender }">
                            <label for="inputPassword" class="col-sm-4 control-label">Пол</label>
                            <div class="col-sm-8">
                                <b-form-select
                                    v-model="add_fake.search_gender"
                                    :options="{ '0': 'Всех', '1': 'Муж', '2': 'Жен' }" >
                                </b-form-select>
                                <p v-show="fake_fields_errors.search_gender" class="text-danger">Пол указан некорректно.</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.search_age_min }">
                            <label for="inputPassword" class="col-sm-4 control-label">Возраст от</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.search_age_min" placeholder="Введите имя">
                                <p v-show="fake_fields_errors.search_age_min" class="text-danger">Возраст должен быть числом от 18 до 99.</p>
                            </div>
                        </div>
                        <div class="form-group" v-bind:class="{ 'has-error': fake_fields_errors.search_age_max }">
                            <label for="inputPassword" class="col-sm-4 control-label">Возраст до</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" v-model="add_fake.search_age_max" placeholder="Введите имя">
                                <p v-show="fake_fields_errors.search_age_max" class="text-danger">Возраст должен быть числом от 18 до 99.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <b-button v-show="!fake_id" v-on:click="createFake" variant="primary"  style="background-color: #57c8f2;">Добавить фейк</b-button>
                                <b-button v-show="fake_id" v-on:click="updateFake" variant="primary"  style="background-color: #57c8f2;">Сохранить</b-button>
                            </div>
                        </div>
                        <div style="width: 100%; text-align: center;" v-show="fake_add_errors != ''">
                            <span style="color: #f00;">Ошибка!</span> {{ fake_add_errors }} 
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-8" style="background-color: #fff; min-height: 500px;">
                    <table style="" v-show="fake_id">
                        <tr>
                            <td style="padding: 10px;"><strong>Аватар</strong></td>
                            <td style="padding: 10px;"><strong>Основное фото</strong></td>
                        </tr>
                        <tr>
                            <td style="padding: 10px; width: 280px; vertical-align: top; text-align: center;">
                                <img v-show="images.avatar_link != ''" v-bind:src="images.avatar_link" style="width: 260px; margin-bottom: 10px;">
                                <span v-show="images.avatar_link == ''" style="display: block; margin: 10px 0px;">аватар не загружен</span>
                                <br />
                                <table style="width: 260px;">
                                    <tr>
                                        <td style="text-align: left;"><a v-on:click="show_replace_ava = !show_replace_ava" class="btn btn-primary" style="background-color: #57c8f2;">Заменить</a></td>
                                        <td style="text-align: right;"><a v-on:click="deleteAvatar" v-show="images.avatar_link != ''"  class="btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</a></td>
                                    </tr>
                                </table>
                                <div v-show="show_replace_ava" style="margin-top: 10px; width: 260px; overflow-x: hidden;">
                                    <input v-on:change="uploadAvatar" type="file" id="avatar-upload" >
                                </div>
                                <div v-show="replace_ava_error" style="margin-top: 10px; width: 260px;">
                                    <span style="color: #f00;">Ошибка загрузки!</span> {{ replace_ava_error_text }}
                                </div>
                            </td>
                            <td style="padding: 10px; width: 280px; vertical-align: top; text-align: center;">
                                <a v-bind:href="images.main_photo_link" target="_blank"><img v-show="images.main_photo_link != ''" v-bind:src="images.main_photo_link" style="width: 260px; margin-bottom: 10px;"></a>
                                <span v-show="images.main_photo_link == ''" style="display: block; margin: 10px 0px;">основное фото не установлено</span>
                                <br>
                                <table style="width: 260px;">
                                    <tr>
                                        <td style="text-align: left;"><a v-on:click="show_replace_mainphoto = !show_replace_mainphoto" class="btn btn-primary" style="background-color: #57c8f2;">Заменить</a></td>
                                        <td style="text-align: right;"><a v-on:click="deleteMainPhoto" v-show="images.main_photo_link != ''"  class="btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</a></td>
                                    </tr>
                                </table>
                                <div v-show="show_replace_mainphoto" style="margin-top: 10px; width: 260px; overflow-x: hidden;">
                                    <input v-on:change="uploadMainPhoto" type="file" id="mainphoto-upload" >
                                </div>
                                <div v-show="replace_mainphoto_error" style="margin-top: 10px; width: 260px;">
                                    <span style="color: #f00;">Ошибка загрузки!</span> {{ replace_mainphoto_error_text }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            <div style="border-bottom: 1px solid #c9cdd7; margin-top: 5px; height: 5px; overflow: hidden;">&nbsp;</div>

        <div style="height: 140px; overflow: hidden;">&nbsp;</div>
        
    </section>
</template>

<script>
// достижения списком
// ищет -- списком разбить по строку, перевести в км
import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import axios from '../../utils/axios'

Vue.use(AsyncComputed)

export default {
    data() {
        return {
            add_fake: {
                name: '',
                age: '',
                gender: 1,
                latitude: '',
                longitude: '',
                city: '',
                search_gender: 0,
                search_age_min: 18,
                search_age_max: 30,
            },
            fake_id: false,
            fake_add_errors: '',
            fake_fields_errors: {
                name: false,
                age: false,
                gender: false,
                latitude: false,
                longitude: false,
                city: false,
                search_gender: false,
                search_age_min: false,
                search_age_max: false,
            },
            images: {
                avatar_link: '',
                main_photo_link: '',
            },
            show_replace_ava: false,
            replace_ava_error: false,
            replace_ava_error_text: '',
            show_replace_mainphoto: false,
            replace_mainphoto_error: false,
            replace_mainphoto_error_text: '',
        }
    },
    methods: {
        createFake: function () {
            let ks = Object.keys(this.fake_fields_errors);
            ks.forEach(function(item) {
                this.setErrorField(item, false);
            }, this);
            this.fake_add_errors = '';

            axios.post('/api/fake/add', this.add_fake)
                .then(response => {
                    this.fake_id = response.data.fake_id;
                }).catch(error => {
                    this.fake_add_errors = error.response.data.error;
                    let keys = Object.keys(error.response.data.error_data);
                    keys.forEach(function(item) {
                        this.setErrorField(item, true);
                    }, this);
                });
        },
        setErrorField: function(field, state) {
            this.fake_fields_errors[field] = state;
        },
        updateFake: function () {
            axios.post('/api/fake/' + this.fake_id, this.add_fake)
                .then(response => {
                    alert('Fake updated');
                }).catch(error => {
                    this.fake_add_errors = error.response.data.error;
                });
        },
        uploadAvatar: function() {
            this.replace_ava_error = false;
            const fileInput = document.querySelector('#avatar-upload');
            const formData = new FormData();
            
            formData.append('avatar', fileInput.files[0]);
            axios.post('/api/fake/avatar/replace/' + this.fake_id, formData)
            .then(response => {
                this.images.avatar_link = response.data.src
            })
            .catch(error => {
                this.replace_ava_error = true;
                this.replace_ava_error_text = error.response.data.error;
            });

            this.show_replace_ava = false;
            return;
        },
        deleteAvatar: function() {
            axios.delete('/api/fake/avatar/' + this.fake_id)
            .then(response => {
                this.images.avatar_link = '';
            })
        },
        uploadMainPhoto: function() {
            this.replace_mainphoto_error = false;
            const fileInput = document.querySelector('#mainphoto-upload');
            const formData = new FormData();
            
            formData.append('mainphoto', fileInput.files[0]);
            axios.post('/api/fake/mainphoto/replace/' + this.fake_id, formData)
            .then(response => {
                this.images.main_photo_link = response.data.src
            })
            .catch(error => {
                this.replace_mainphoto_error = true;
                this.replace_mainphoto_error_text = error.response.data.error;
            });

            this.show_replace_mainphoto = false;
            return;
        },
        deleteMainPhoto: function() {
            axios.delete('/api/fake/mainphoto/' + this.fake_id)
            .then(response => {
                this.images.main_photo_link = '';
            })
        }
    }
}
</script>
