<template>
    <section class="wrapper wrap-user-info" sticky-container>
        <template v-if="loading === true">
            <div class="border-head not-found">
                <h3>Загрузка...</h3>
            </div>
        </template>
        <template v-else-if="user_not_found === true">
            <div class="border-head not-found">
                <h3>Фейк не найден</h3>
            </div>
        </template>
        <template v-else>
            <div class="border-head">
                <h3>Редактирование фейка: {{ edited.name }}</h3>
            </div>

            <div class="col-sm-6 col-md-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Имя</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.name" placeholder="Введите имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Возраст</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.age" placeholder="Введите возраст">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Пол</label>
                        <div class="col-sm-8">
                            <b-form-select
                                    v-model="edited.gender"
                                    :options="{ '1': 'Муж', '2': 'Жен' }">
                            </b-form-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Широта</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.latitude" placeholder="Введите широту">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Долгота</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.longitude" placeholder="Введите долготу">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Город</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.city" placeholder="Введите город">
                        </div>
                    </div>
                    <h4>Параметры поиска</h4>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Пол</label>
                        <div class="col-sm-8">
                            <b-form-select
                                    v-model="edited.search_gender"
                                    :options="{ '0': 'Всех', '1': 'Муж', '2': 'Жен' }">
                            </b-form-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Возраст от</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.search_age_min" placeholder="Введите имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Возраст до</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="edited.search_age_max" placeholder="Введите имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <b-button @click="updateFake" variant="primary" style="background-color: #57c8f2;">Сохранить</b-button>
                            <b-button @click="deleteFake" variant="danger" style="float: right;" :disabled="!checkPermission('fakes__delete')"><i
                                    class="fas fa-trash-alt"></i> Удалить фейк
                            </b-button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-8" style="background-color: #fff;">
                <table>
                    <tr>
                        <td style="padding: 10px;"><strong>Аватар</strong></td>
                        <td style="padding: 10px;"><strong>Основное фото</strong></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; width: 280px; vertical-align: top; text-align: center;">
                            <img v-show="edited.avatar_link !== ''"
                                 :src="edited.avatar_link"
                                 alt=""
                                 style="width: 260px; margin-bottom: 10px">
                            <span v-show="edited.avatar_link === ''"
                                  style="display: block; margin: 10px 0;">аватар не загружен</span>
                            <br/>
                            <table style="width: 260px;">
                                <tr>
                                    <td style="text-align: left;">
                                        <a @click="show_replace_ava = !show_replace_ava"
                                           class="btn btn-primary"
                                           style="background-color: #57c8f2;"
                                        >Заменить</a></td>
                                    <td style="text-align: right;">
                                        <a @click="deleteAvatar"
                                           v-show="edited.avatar_link !== ''"
                                           class="btn btn-danger"
                                        ><i class="fas fa-trash-alt"></i> Удалить</a></td>
                                </tr>
                            </table>
                            <div v-show="show_replace_ava" style="margin-top: 10px; width: 260px; overflow-x: hidden;">
                                <input @change="uploadAvatar" type="file" id="avatar-upload">
                            </div>
                            <div v-show="replace_ava_error" style="margin-top: 10px; width: 260px;">
                                <span style="color: #f00;">Ошибка загрузки!</span> {{ replace_ava_error_text }}
                            </div>
                        </td>
                        <td style="padding: 10px; width: 280px; vertical-align: top; text-align: center;">
                            <a :href="edited.main_photo_link"
                               target="_blank"
                            ><img v-show="edited.main_photo_link !== ''"
                                  :src="edited.main_photo_link"
                                  alt=""
                                  style="width: 260px; margin-bottom: 10px;"></a>
                            <span v-show="edited.main_photo_link === ''"
                                  style="display: block; margin: 10px 0"
                            >основное фото не установлено</span>
                            <br>
                            <table style="width: 260px;">
                                <tr>
                                    <td style="text-align: left">
                                        <a @click="show_replace_mainphoto = !show_replace_mainphoto"
                                           class="btn btn-primary"
                                           style="background-color: #57c8f2;"
                                        >Заменить</a></td>
                                    <td style="text-align: right;">
                                        <a @click="deleteMainPhoto"
                                           v-show="edited.main_photo_link !== ''"
                                           class="btn btn-danger"
                                        ><i class="fas fa-trash-alt"></i> Удалить</a></td>
                                </tr>
                            </table>
                            <div v-show="show_replace_mainphoto" style="margin-top: 10px; width: 260px; overflow-x: hidden;">
                                <input @change="uploadMainPhoto" type="file" id="mainphoto-upload">
                            </div>
                            <div v-show="replace_mainphoto_error" style="margin-top: 10px; width: 260px;">
                                <span style="color: #f00;">Ошибка загрузки!</span> {{ replace_mainphoto_error_text }}
                            </div>
                        </td>
                    </tr>
                </table>
                <div style="border-bottom: 1px solid #c9cdd7; margin-top: 5px; height: 5px; overflow: hidden;">&nbsp;</div>
            </div>
            <div style="border-bottom: 1px solid #c9cdd7; margin-top: 5px; height: 5px; overflow: hidden;">&nbsp;</div>

            <div style="height: 140px; overflow: hidden;">&nbsp;</div>
        </template>
    </section>
</template>

<script>
import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'

Vue.use(AsyncComputed);

export default {
    mixins: [permissions],
    data() {
        return {
            show_replace_ava: false,
            replace_ava_error: false,
            replace_ava_error_text: '',
            show_replace_mainphoto: false,
            replace_mainphoto_error: false,
            replace_mainphoto_error_text: '',
            loading: true,
            user_not_found: true,
        }
    },
    methods: {
        updateFake: function () {
            let fake_id = this.$route.query.id;
            axios.post('/api/fake/' + fake_id, this.edited)
                .then(() => {
                    alert('Fake updated');
                })
        },
        uploadAvatar: function () {
            this.replace_ava_error = false;
            const fake_id = this.$route.query.id;
            const fileInput = document.querySelector('#avatar-upload');
            const formData = new FormData();

            formData.append('avatar', fileInput.files[0]);
            axios.post('/api/fake/avatar/replace/' + fake_id, formData)
                .then(response => {
                    this.edited.avatar_link = response.data.src
                })
                .catch(error => {
                    this.replace_ava_error = true;
                    this.replace_ava_error_text = error.response.data.error;
                });

            this.show_replace_ava = false;
        },
        deleteAvatar: function () {
            const fake_id = this.$route.query.id;
            axios.delete('/api/fake/avatar/' + fake_id)
                .then(() => {
                    this.edited.avatar_link = '';
                })
        },
        uploadMainPhoto: function () {
            this.replace_mainphoto_error = false;
            const fake_id = this.$route.query.id;
            const fileInput = document.querySelector('#mainphoto-upload');
            const formData = new FormData();

            formData.append('mainphoto', fileInput.files[0]);
            axios.post('/api/fake/mainphoto/replace/' + fake_id, formData)
                .then(response => {
                    this.edited.main_photo_link = response.data.src
                })
                .catch(error => {
                    this.replace_mainphoto_error = true;
                    this.replace_mainphoto_error_text = error.response.data.error;
                });

            this.show_replace_mainphoto = false;
        },
        deleteMainPhoto: function () {
            const fake_id = this.$route.query.id;
            axios.delete('/api/fake/mainphoto/' + fake_id)
                .then(() => {
                    this.edited.main_photo_link = '';
                })
                .catch((error) => {
                    console.log("axios error: ", error);
                });
        },
        deleteFake: function () {
            if (confirm('Удалить фейка?')) {
                const fake_id = this.$route.query.id;
                axios.delete('/api/fake/' + fake_id)
                    .then(() => {
                        window.location.href = '/fakes';
                    })
                    .catch((error) => {
                        console.log("axios error: ", error);
                    });
            }
        }
    },
    asyncComputed: {
        edited: {
            get() {
                const fake_id = this.$route.query.id;

                this.loading = true;
                this.user_not_found = true;

                return axios.get('/api/fake/' + fake_id)
                    .then(response => {
                        if (response.data instanceof Object && Object.values(response.data).length > 0) {
                            this.user_not_found = false;

                            return {
                                name: response.data.name,
                                age: response.data.age,
                                gender: response.data.gender,
                                latitude: response.data.latitude,
                                longitude: response.data.longitude,
                                city: response.data.city,
                                search_age_min: response.data.search_age_min,
                                search_age_max: response.data.search_age_max,
                                search_gender: response.data.search_gender,
                                avatar_link: response.data.avatar_link,
                                main_photo_link: response.data.main_photo_link,
                            };
                        }
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            default: {
                name: '',
                age: 18,
                gender: 1,
                latitude: 0,
                longitude: 0,
                city: '',
                search_age_min: 18,
                search_age_max: 55,
                search_gender: 0,
                avatar_link: '',
                main_photo_link: '',
            }
        }
    }
}
</script>
