<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3><strong>
                        <vuetable-pagination-info
                                ref="paginationInfo"
                                info-template="Фейки (<span>{total}</span>) показано <span>{from} - {to}</span>"
                                info-class="pagination-info"
                        ></vuetable-pagination-info>
                    </strong></h3>
                </div>
                <div class="top-pagination search-block-pagination">
                    <div class="vuetable-pagination">
                        <vuetable-pagination ref="pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </div>
                </div>
                <div v-if="permEdit" class="search-block-btns">
                    <b-button-group class="btns-vip">
                        <b-button variant="warning"
                                  title="Добавить vip статус"
                                  data-toggle="modal"
                                  data-target="#vipAddModal"
                                  @click="vipDaysReset"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-chess-queen"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить vip статус"
                                  @click="vipRemoveUsers(checked_users)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-trash-alt"></i></b-button>
                    </b-button-group>
                </div>
                <div v-if="permEdit" class="search-block-btn-add ">
                    <a :href="fake_add_uri" target="_blank" class="btn btn-primary">Добавить фейк</a>
                </div>
            </div>
            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-city">
                        <input type="text" class="form-control" v-model="filterText.city" @keyup.enter="doFilter" placeholder="Город">
                    </div>
                    <div class="param-gender">
                        <label>Пол:</label>
                        <b-form-select v-model="filterText.gender"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.gender) }"
                                       :options="{ '0': 'Неважно', '1': 'Муж', '2': 'Жен' }">
                        </b-form-select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text" class="form-control" v-model="filterText.years_min" @keyup.enter="doFilter" placeholder="от">
                            <input type="text" class="form-control" v-model="filterText.years_max" @keyup.enter="doFilter" placeholder="до">
                        </div>
                    </div>
                    <div class="param-vip">
                        <label>VIP:</label>
                        <b-form-select v-model="filterText.vip"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.vip) }"
                                       :options="{ 'na': 'Неважно', 'yes': 'Да', 'no': 'Нет' }">
                        </b-form-select>
                    </div>
                    <div class="param-new-messages">
                        <div>
                            <input id="param-unread-messages" type="checkbox" v-model="filterText.unread" value="1">
                            <label for="param-unread-messages">Есть новые сообщения</label>
                        </div>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="showTableHeader"/>
        </b-container>
        <!-- / SEARCH FORM -->


        <div class="users-list-block">
            <div v-if="table.loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div :class="{'table-list-loading' : table.loading}">
                <vuetable ref="vuetable"
                          id="vuetable-container"
                          :api-url="table.apiUrl"
                          :fields="table.fields"
                          :css="table.css.table"
                          :per-page="table.perPage"
                          :sort-order="table.sortOrder"
                          :append-params="table.moreParams"
                          :http-fetch="loadData"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                >
                    <!--checkbox-->
                    <template slot="checked" slot-scope="props">
                        <b-form-checkbox
                                v-if="permEdit"
                                v-model="checked_users"
                                :value="props.rowData.user_id">
                        </b-form-checkbox>
                    </template>

                    <!--avatar-->
                    <template slot="avatar" slot-scope="props">
                        <template v-if="props.rowData.avatar">
                            <template v-if="props.rowData.photo">
                                <a :href="props.rowData.photo"
                                   :data-lightbox="'users-avatar' + props.rowData.user_id"
                                   :data-title="getPhotoTitle(props.rowData)"
                                >
                                    <img :src="props.rowData.avatar" alt="">
                                </a>
                            </template>
                            <template v-else>
                                <img :src="props.rowData.avatar" alt="">
                            </template>
                        </template>
                    </template>

                    <!--name-->
                    <template slot="name" slot-scope="props">
                        <span>
                            <span class="users-online-status" :class="getOnlineClass(props.rowData.last_visit)">
                                <span>{{ props.rowData.name }}</span>
                            </span>
                        </span>
                    </template>

                    <!--gender-->
                    <template slot="gender" slot-scope="props">
                        <i v-if="props.rowData.gender === 1" class="fas fa-mars fa-lg"></i>
                        <i v-if="props.rowData.gender === 2" class="fas fa-venus fa-lg"></i>
                    </template>

                    <!--vip-->
                    <template slot="vip" slot-scope="props">
                        <template v-if="props.rowData.vip.status === 1">
                            <div class="users-vip-block">
                                <template v-if="props.rowData.vip.payment === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-pay"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else-if="props.rowData.vip.vip_adm === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-adm"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else>
                                    <i class="fas fa-chess-queen fa-lg vip-unknown"></i>
                                </template>
                            </div>
                        </template>
                    </template>

                    <!--search_params-->
                    <template slot="search_params" slot-scope="props">
                        <ul>
                            <li>Пол: {{ props.rowData.search_params.gender }}</li>
                            <li>Возраст: {{ props.rowData.search_params.age_range }}</li>
                            <li>Радиус: {{ props.rowData.search_params.radius }} км.</li>
                        </ul>
                    </template>

                    <!--messages-->
                    <template slot="messages" slot-scope="props">
                        <div>
                            <div>
                                <span><i class="far fa-comment"></i> {{ props.rowData.total_received }}
                                    <span v-if="props.rowData.unread_received > 0" class="users-unread-messages">{{ props.rowData.unread_received }}</span>
                                </span>
                                <span><i class="far fa-list-alt"></i> {{ props.rowData.dialogs }}</span>
                            </div>
                        </div>
                    </template>

                    <!--controls-->
                    <template slot="controls" slot-scope="props">
                        <div class="users-actions">
                            <template v-if="permDialogs">
                                <a :href="fake_dialogs_uri + props.rowData.user_id"
                                   target="_blank"
                                   class="btn btn-info btn-xs"
                                   title="Переписка фейка"
                                ><i class="fas fa-comments"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-primary btn-xs disabled"
                                   title="Переписка фейка"
                                ><i class="fas fa-comments"></i></a>
                            </template>

                            <template v-if="permEdit">
                                <a :href="fake_edit_uri + props.rowData.user_id"
                                   target="_blank"
                                   class="btn btn-primary btn-xs"
                                   title="Профиль фейка"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-primary btn-xs disabled"
                                   title="Профиль фейка"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>

                            <template v-if="permDelete">
                                <a @click="deleteUser(props.rowData.user_id, props.rowData.name)"
                                   class="btn btn-danger btn-xs"
                                   title="Удалить фейка"
                                ><i class="fas fas fa-trash-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-danger btn-xs disabled"
                                   title="Удалить фейка"
                                ><i class="fas fas fa-trash-alt"></i></a>
                            </template>
                        </div>
                    </template>
                </vuetable>
            </div>
        </div>

        <!-- Vip add modal -->
        <div id="vipAddModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавить vip статус</h4>
                    </div>
                    <div class="modal-body">
                        <b-form-group>
                            <label>Период:</label>
                            <b-form-input v-model="vip_days" placeholder="дней"></b-form-input>
                        </b-form-group>
                    </div>
                    <div class="modal-footer">
                        <b-button v-on:click="vipAddUsers(checked_users, vip_days)" variant="primary">Добавить</b-button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Vip add modal -->
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'

import VueDatepickerLocal from 'vue-datepicker-local'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetablePagination from '../users/UsersPaginationComponent'
import Spinner from 'vue-simple-spinner'
import moment from 'moment'
import VueResize from 'vue-resize'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'
import 'floatthead'

Vue.use(VueResize);

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        'vue-simple-spinner': Spinner
    },
    data() {
        return {
            fake_add_uri: '/fakes/fake/add',
            fake_edit_uri: '/fakes/fake/edit?id=',
            fake_dialogs_uri: '/fakes/fake/dialogs?id=',
            checked_users: [],
            vip_days: 0,
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок',
            },
            filterText: {
                id: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                vip: 'na',
                unread: '',
            },
            table: {
                apiUrl: '/api/fakes/get-data',
                perPage: 200,
                fields: [
                    {
                        name: '__slot:checked',
                        title: '&nbsp;',
                        titleClass: 'users-checkbox',
                        dataClass: 'users-checkbox',
                    },
                    {
                        name: '__slot:avatar',
                        title: '&nbsp;',
                        titleClass: 'users-avatar',
                        dataClass: 'users-avatar text-center'
                    },
                    {
                        name: '__slot:name',
                        title: 'Имя',
                        sortField: 'name',
                        titleClass: 'users-name',
                        dataClass: 'users-name users-name-online'
                    },
                    {
                        name: '__slot:gender',
                        title: 'Пол',
                        titleClass: 'users-gender',
                        dataClass: 'users-gender text-center',
                        sortField: 'sex'
                    },
                    {
                        name: 'years',
                        title: 'Лет',
                        titleClass: 'users-years',
                        dataClass: 'users-years text-center',
                        sortField: 'years'
                    },
                    {
                        name: 'city',
                        title: 'Город',
                        sortField: 'city',
                        titleClass: 'users-city',
                        dataClass: 'users-city',
                    },
                    {
                        name: 'gifts',
                        title: '<i class="fa fa-gift fa-lg"></i>',
                        titleClass: 'users-gifts text-center',
                        dataClass: 'users-gifts text-center',
                        sortField: 'gifts'
                    },
                    {
                        name: 'points',
                        title: '<i class="fab fa-btc fa-lg"></i>',
                        titleClass: 'users-points text-center',
                        dataClass: 'users-points text-center',
                        sortField: 'points'
                    },
                    {
                        name: '__slot:vip',
                        title: '<i class="fas fa-chess-queen fa-lg"></i>',
                        titleClass: 'users-vip text-center',
                        dataClass: 'users-vip text-center',
                        sortField: 'vip,vip_expires'
                    },
                    {
                        name: '__slot:search_params',
                        title: 'Ищет',
                        titleClass: 'users-search-params',
                        dataClass: 'users-search-params',
                    },
                    {
                        name: 'reg_date',
                        title: 'Регистрация',
                        titleClass: 'users-reg-date',
                        dataClass: 'users-reg-date',
                        sortField: 'reg_date',
                        callback: 'formatDateTime'
                    },
                    {
                        name: 'last_visit',
                        title: 'Вход',
                        titleClass: 'users-last-visit',
                        dataClass: 'users-last-visit',
                        sortField: 'last_visit',
                        callback: 'formatDateTime'
                    },
                    {
                        name: '__slot:messages',
                        title: '<i class="fas fa-comments fa-lg"></i>',
                        titleClass: 'users-messages text-center',
                        dataClass: 'users-messages',
                        sortField: 'total_received'
                    },
                    {
                        name: '__slot:controls',
                        title: '&nbsp;',
                        titleClass: 'users-controls',
                        dataClass: 'users-controls'
                    }
                ],
                sortOrder: [
                    {
                        field: 'reg_date',
                        direction: 'desc'
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table b-table table-striped table-hover users-list',
                        ascendingClass: 'current-sort',
                        descendingClass: 'current-sort',
                        ascendingIcon: 'glyphicon glyphicon-chevron-down',
                        descendingIcon: 'glyphicon glyphicon-chevron-up',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                        renderIcon: function(classes) {
                            return `<span class="${classes.join(' ')}"></span>`
                        }
                    }
                },
                moreParams: {},
                loading: false,
            },
            permEdit: false,
            permDialogs: false,
            permDelete: false,
        }
    },
    async mounted() {
        await this.getCurrentUser();
        this.permEdit = this.checkPermission('fakes__edit');
        this.permDialogs = this.checkPermission('fakes__dialogs');
        this.permDelete = this.checkPermission('fakes__delete');

        this.showTableHeader();
    },
    methods: {
        showTableHeader() {
            let table = $('table#vuetable-container');
            let header = $('header.header');
            let search = $('.search-block');

            table.css('margin-top', search.height() + 'px');
            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function() {
                    return header.outerHeight() + search.outerHeight();
                }
            });
            table.trigger('reflow');
        },
        loadData(apiUrl, httpOptions) {
            /**
             * @property {number} total
             * @property {number} per_page
             * @property {number} current_page
             * @property {number} last_page
             * @property {number} next_page_url
             * @property {number} prev_page_url
             * @property {number} from
             * @property {number} to
             * @property {number} data.user_id
             * @property {string} data.avatar
             * @property {string} data.photo
             * @property {string} data.name
             * @property {number} data.gender
             * @property {number} data.years
             * @property {string} data.city
             * @property {string} data.achievements
             * @property {number} data.gifts
             * @property {number} data.points
             * @property {object} data.vip
             * @property {number} data.vip.status
             * @property {number} data.vip.payment
             * @property {string} data.vip.expires
             * @property {number} data.vip.vip_adm
             * @property {string} data.search_params.gender
             * @property {string} data.search_params.age_range
             * @property {number} data.search_params.radius
             * @property {string} data.reg_date
             * @property {string} data.last_visit
             * @property {number} data.dialogs
             * @property {number} data.total_received
             * @property {number} data.unread_received
             */
            return axios.get(apiUrl, httpOptions);
        },
        onLoading() {
            this.table.loading = true;
        },
        onLoaded() {
            this.table.loading = false;
            this.showTableHeader();
        },
        onPaginationData(paginationData) {
            if (paginationData.to > paginationData.total) {
                paginationData.to = paginationData.total;
            }
            this.$refs.pagination.setPaginationData(paginationData);
            this.$refs.paginationInfo.setPaginationData(paginationData);
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page);
        },
        refreshTable() {
            Vue.nextTick(() => this.$refs.vuetable.reload());
        },
        doFilter() {
            this.table.moreParams = {
                'filter': this.filterText
            };
            this.refreshTable();
        },
        resetFilter() {
            this.filterText = {
                user_id: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                vip: 'na',
                unread: '',
            };
            this.doFilter();
        },
        formatDateTime(value, fmt = 'DD.MM.YYYY HH:mm:ss') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        getPhotoTitle(row) {
            let title = row.name + ', ' + row.years;

            if (row.city !== null && row.city.length > 0) {
                title += ' (' + row.city + ')';
            }

            return title;
        },
        getOnlineClass(value) {
            let className = 'online-status-';

            if (value == null) {
                className += 'offline';
            } else {
                let online = moment.duration(moment().diff(moment(value))).asMinutes();

                if (online < 10) {
                    className += 'online';
                } else if (online < 360) {
                    className += 'visited';
                } else {
                    className += 'offline';
                }
            }

            return className;
        },
        isCheckedUsers() {
            return this.checked_users.length > 0;
        },
        deleteUser(uid, name) {
            if(confirm('Удалить фейк ' + name + '?')) {
                axios.delete('/api/fake/' + uid)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        console.log("axios error: ", error);
                    });
            }
        },
        vipAddUsers(users, period) {
            if (typeof period === 'undefined' || period === parseInt(period, 10) || period < 1) {
                alert('Не выбран период vip статуса.');
                return false;
            }

            if (typeof users !== 'undefined' && users.length > 0) {
                if(confirm('Добавить vip статус (' + period + ' дней) выбранным пользователям?')) {
                    $('#vipAddModal').modal('toggle');

                    axios.post('/api/fakes/vip-add', {
                        'users': users,
                        'period': period
                    })
                        .then(() => {
                            this.checked_users = [];
                            this.refreshTable();
                        })
                        .catch((error) => {
                            console.log("axios error: ", error);
                        });
                }
            } else {
                $('#vipAddModal').modal('toggle');
                alert('Нет выбранных пользователей.');
            }
        },
        vipRemoveUsers(users) {
            if(confirm('Удалить vip статус выбранным пользователям?')) {
                return axios.post('/api/fakes/vip-remove', {'users': users})
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
            }
        },
        vipDaysReset() {
            this.vip_days = '';
        },
        onChangeSelect(index) {
            return index !== 'na' && index !== '0';
        }
    }
}
</script>
