<template>
    <section class="wrapper" style="padding-top: 0px;">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <section class="panel" style="margin-top: 15px; height: 83vh; overflow-y: scroll;">
                    <header class="panel-heading" style="position: fixed; z-index: 1003; background-color: #fff; height: 172px;">
                        <table>
                            <tr>
                                <td>
                                    <a v-if="fake_user.avatar != ''" v-bind:href="fake_user.avatar" target="_blank"><img v-bind:src="fake_user.avatar" style="height: 150px;"></a>
                                </td>
                                <td style="padding: 20px;">
                                    <strong>{{ fake_user.name }}</strong> ({{ fake_user.age }}) <br>
                                    г. {{ fake_user.city }}
                                </td>
                                <td style="padding: 20px;">
                                    Ищет: {{ fake_user.search_gender }} <br>
                                    Возраст: {{ fake_user.search_age_min }} - {{ fake_user.search_age_max }}
                                </td>
                            </tr>
                        </table>
                    </header>
                    <div class="panel-body" style="margin-top: 175px;">
                        <div class="timeline-messages">
                            <div v-for="item in dialogs" :key="item.id" v-bind:class="[active_dialog == item.id ? 'dialog-active' : '', 'msg-time-chat']">
                                <a v-if="item.user.avatar != ''" class="message-img" v-bind:href="item.user.avatar" target="_blank">
                                    <img alt="" v-bind:src="item.user.avatar" class="avatar">
                                </a>
                                <a v-if="item.user.avatar == ''" class="message-img" ><img alt="" v-bind:src="item.user.avatar" class="avatar"></a>
                                <div class="message-body msg-in" @click="loadChat(item.id)" style="cursor: pointer;">
                                    <div v-bind:class="[item.user.vip == 1 ? 'vip-user' : 'text']">
                                        <p class="attribution">
                                            <a href="javascript:void(0)" ><i v-if="item.user.vip == 1" class="fas fa-chess-queen fa-lg"></i> {{ item.user.name }} ({{ item.user.age }})</a> {{ item.last_message.date_string }} 
                                            <span v-show="item.unreads > 0" class="badge" style="float: right; background-color: #FF6C60;">{{ item.unreads }}</span>
                                        </p>
                                        <p>{{ item.last_message.message }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-md-8" style="height: 83vh;">
                <section class="panel" style="margin-top: 15px; height: 70vh; overflow-y: scroll;">
                    <div class="panel-body profile-activity">
                        <div v-for="ms in dialog_messages" :key="ms.id" class="activity terques" v-bind:class="[active_chat_user.user_id == ms.sender_id ? '' : 'alt']">
                            <a v-if="active_chat_user.user_id == ms.sender_id" class="ava-img ava-img-left"><img alt="" v-bind:src="active_chat_user.avatar" class="avatar avatar-rounded"></a>
                            <a v-else class="ava-img ava-img-right"><img alt="" v-bind:src="fake_user.avatar" class="avatar avatar-rounded"></a>
                            <div class="activity-desk">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div v-bind:class="[active_chat_user.user_id == ms.sender_id ? 'arrow' : 'arrow-alt']"></div>
                                        <h4>{{ convertDateFromTS(ms.date) }}</h4>
                                        <p>{{ ms.messageText }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="chat-form" style="padding: 10px 0px; background: #f1f2f7; height: 120px; z-index: 1004;">
                    <div v-if="active_dialog != 0" class="input-cont">
                            <input v-model="draft.messageText" placeholder="Введите сообщение ..." class="form-control col-lg-12" type="text">
                    </div>
                    <div v-if="active_dialog != 0" class="form-group">
                        <div class="pull-right chat-features">
                            <a v-on:click="sendMessage" class="btn btn-danger">Отправить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-bottom: 1px solid #c9cdd7; margin-top: 5px; height: 5px; overflow: hidden;">&nbsp;</div>
    </section>
</template>

<style>

.vip-user {
    border: 2px solid #f1d665;
    padding: 10px;
    border-radius: 4px;
}

.dialog-active > .message-body > .vip-user {
    border: 2px solid #5ca2d3 !important;
    border-radius: 4px !important;
}

.dialog-active > .message-body > .text {
    border: 1px solid #5ca2d3 !important;
    border-radius: 4px !important;
}

.dialog-active > .message-body {
    background-color: #5ca2d3 !important;
    border-radius: 4px !important;
    color: #fff;
}

.dialog-active .message-body a {
    color: #ffe88e !important;
}

.avatar-rounded {
    border-radius: 50%;
}

.ava-img {
    overflow: hidden;
}

.ava-img img {
    height: 44px;
    width: 44px;
}

.ava-img-left {
    margin-right: 10px;
    float: left;
}

.ava-img-right {
    margin-left: 10px;
    float: right;
}
</style>

<script>

import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import axios from '../../utils/axios'

Vue.use(AsyncComputed)

export default {
    data() {
        return {
            active_dialog: 0,
            active_chat_user: {},
            dialog_messages: [],
            dialogs_data: [],
            users: {},
            users_to_dialogs: {},
            draft: {
                type: 1, // пока этот хардкод только на текстовые сообщения, в последствии при расширении его нужно заменить
                chat_id: null,
                messageText: null, 
                audioTitle: null, 		
                musicTitle: null, 	
                musicLength: null, 	
                videoLength: null, 
                longitude: null, 	
                latitude: null, 
                file: null, 
                videofileprew: null, 
            }
        }
    },
    methods: {
        loadChat: function (chat_id) {
            const fake_id = this.$route.query.id;
            axios.get('/api/fchats/chatmessages/' + fake_id + '/' + chat_id)
            .then(response => {
                this.dialog_messages = response.data.messages.reverse();
                // на эту переменную опирается реактивность
                this.active_dialog = chat_id;
                // а это для данных формы с перспективой нормальных полноценных черновиков
                this.draft.chat_id = chat_id;
                let active_user_id = this.users_to_dialogs[chat_id];
                this.active_chat_user = this.users[active_user_id];
                return;
            })
            .then(() => {
                axios.get('/api/fchats/setread/' + fake_id + '/' + chat_id)
                .then(response => {
                    let keys = Object.keys(this.dialogs);
                    for (let val of keys) {
                        if(this.dialogs[val].id == chat_id) {
                            this.dialogs[val].unreads = 0;
                        }
                    }
                })
            })
        },
        convertDateFromTS: function (time) {
            let date_string;
            let date = new Date();

            date.setTime(time * 1000);
            date_string = date.getFullYear();
            date_string += '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2) + ' ';
            date_string += ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
            date_string += ':' + ('0' + date.getSeconds()).slice(-2);

            return date_string;
        },
        sendMessage: function() {
            const fake_id = this.$route.query.id;
            console.log('Draft: ', this.draft);
            axios.post('/api/fchats/sendmessage/' + fake_id, this.draft)
            .then(response => {
                console.log('Resp: ', response);
                this.draft.messageText = null;
                return;
            })
        }
    },
    asyncComputed: {
        fake_user: {
            get () {
                const fake_id = this.$route.query.id;
                return axios.get('/api/fake/userdata/' + fake_id)
                .then(response => {
                    let data = {};

                    data.avatar = response.data.user.avatar;
                    data.name = response.data.user.name;
                    data.age = response.data.user.age;
                    data.city = response.data.user.city;

                    if(response.data.user.search.gender == 1) {
                        data.search_gender = 'М';
                    } else if (response.data.user.search.gender == 2) {
                        data.search_gender = 'Ж';
                    } else {
                        data.search_gender = 'Всех';
                    }

                    data.search_age_min = response.data.user.search.age_min;
                    data.search_age_max = response.data.user.search.age_max;

                    return data;
                })
            },
            watch () {
                // this.search_flag
            },
            default: {
                avatar: '',
                name: '',
                age: '',
                city: '',
                search_gender: 'Всех',
                search_age_min: '',
                search_age_max: ''
            }
        },
        dialogs: {
            get () {
                const fake_id = this.$route.query.id;
                return axios.get('/api/fake/chats/' + fake_id)
                .then(response => {
                    let keys = Object.keys(response.data.chats);
                    let chats = [];

                    for (let val of keys) {
                        let tmp = response.data.chats[val];

                        // данные в массив пользователей с кем переписка
                        this.users[tmp.user.user_id] = tmp.user;
                        this.users_to_dialogs[tmp.id] = tmp.user.user_id;
                        
                        // форматирование времени в человеко-понятном виде
                        tmp.last_message.date_string = this.convertDateFromTS(tmp.last_message.date);
                        
                        chats.push(tmp);
                    }

                    return chats;
                })
            },
            watch () {
                // this.search_flag
            },
            default: {
                
            }
        },
    }
}
</script>
