<template>
    <section id="container">
        <header class="header white-bg">
            <header-component></header-component>
        </header>
        <aside>
            <menu-component></menu-component>
        </aside>

        <section id="main-content">
            <moderators-rating-component></moderators-rating-component>
        </section>

        <footer class="site-footer">
            <footer-component></footer-component>
        </footer>
    </section>
</template>

<script>
import Header from './common/HeaderComponent.vue'
import Menu from './common/MenuComponent.vue'
import Footer from './common/FooterComponent.vue'
import ModeratorsRatingContent from './moderators/ModeratorsRating'

import '../jquery-plugins/left-menu'

export default {
    components: {
        'header-component': Header,
        'menu-component': Menu,
        'footer-component': Footer,
        'moderators-rating-component': ModeratorsRatingContent
    },
    name: 'moderators-rating',
    created: function () {
        console.log('Component moderators-rating mounted.');
        if (this.$store.getters.isAuthenticated) {
            console.log('Authenticated');
        } else {
            window.location.href = '/login';
        }
    }
}
</script>
