<template>
  <section id="container">
    <header class="header white-bg">
      <header-component></header-component>
    </header>
    <aside>
      <menu-component></menu-component>
    </aside>

    <section id="main-content">
      <admins-component></admins-component>
    </section>

    <footer class="site-footer">
      <footer-component></footer-component>
    </footer>
  </section>
</template>

<script>

import Vue from 'vue'
import Header from './common/HeaderComponent.vue'
import Menu from './common/MenuComponent.vue'
import Footer from './common/FooterComponent.vue'
import AdminsContent from './settings/admins/AdminsComponent.vue'

import '../jquery-plugins/left-menu'

export default {
  components: {
    'header-component': Header,
    'menu-component': Menu,
    'footer-component': Footer,
    'admins-component': AdminsContent
  },
  name: 'admins',
  created: function() {
    console.log('Component dashboard-root mounted.');
    if (this.$store.getters.isAuthenticated) {
      console.log('Authenticated');
    } else {
      window.location.href = '/login';
    }
  }
}
</script>
