<template>
    <section id="container">
        <header class="header white-bg">
            <header-component></header-component>
        </header>
        <aside>
            <menu-component></menu-component>
        </aside>
        <section id="main-content">
            <status-photos-inspect-confirmed-show-component></status-photos-inspect-confirmed-show-component>
        </section>
        <footer class="site-footer">
            <footer-component></footer-component>
        </footer>
    </section>
</template>

<script>
import Header from './common/HeaderComponent.vue'
import Menu from './common/MenuComponent.vue'
import Footer from './common/FooterComponent.vue'
import StatusPhotosInspectConfirmedShow from './users/StatusPhotosInspectConfirmedShowComponent'

import '../jquery-plugins/left-menu'

export default {
    components: {
        'header-component': Header,
        'menu-component': Menu,
        'footer-component': Footer,
        'status-photos-inspect-confirmed-show-component': StatusPhotosInspectConfirmedShow
    },
    name: 'status-photos-inspect-changed-show',
    created: function () {
        console.log('Component status-photos-inspect-confirmed-show mounted.');
        if (this.$store.getters.isAuthenticated) {
            console.log('Authenticated');
        } else {
            window.location.href = '/login';
        }
    }
}
</script>
