<template>
  <section id="container">
    <header class="header white-bg">
      <header-component></header-component>
    </header>
    <aside>
      <menu-component></menu-component>
    </aside>

    <section id="main-content">
      <user-dialogs-component></user-dialogs-component>
    </section>

    <footer class="site-footer">
      <footer-component></footer-component>
    </footer>
  </section>
</template>

<script>

import Vue from 'vue'
import Header from './common/HeaderComponent.vue'
import Menu from './common/MenuComponent.vue'
import Footer from './common/FooterComponent.vue'
import UserDialogs from './users/UserDialogsComponent.vue'

import '../jquery-plugins/left-menu'

export default {
  components: {
    'header-component': Header,
    'menu-component': Menu,
    'footer-component': Footer,
    'user-dialogs-component': UserDialogs
  },
  name: 'user_dialogs',
  created: function() {
    if (this.$store.getters.isAuthenticated) {
    } else {
      window.location.href = '/login';
    }
  }
}
</script>
