<template>
    <section class="wrapper wrap-user-info" sticky-container>
        <template v-if="user_not_found === true">
            <div class="border-head not-found">
                <h3>Пользователь не найден</h3>
            </div>
        </template>
        <template v-else>
            <!-- title -->
            <div class="border-head">
                <h3>Просмотр пользователя</h3>
            </div>

            <!-- user info -->
            <div class="col-sm-6 col-md-4">
                <div class="form-horizontal profile-user-info">
                    <div v-if="userinfo.reports_count > 0" class="form-group">
                        <div class="profile-user-info-top-btns">
                            <div class="profile-user-report-verification-btn">
                                <i class="fas fa-exclamation-circle fa-2x" :class="verificationStatusClass(0)"></i>
                                <toggle-button
                                        @change="verification"
                                        :value="userinfo.report_verification === 1"
                                        :color="{checked: '#6dbb4a', unchecked: '#ff6c60'}"
                                        :labels="{checked: 'проверен', unchecked: 'не проверен'}"
                                        :width="115"
                                        :height="28"
                                        :sync="true"
                                        :disabled="userinfo.blocked_photo === 1 || userinfo.banned_dev === 1
                                            || userinfo.banned_acc === 1 || verification_process"
                                />
                                <i class="fas fa-check-circle fa-2x" :class="verificationStatusClass(1)"></i>
                            </div>
                            <div v-if="userinfo.fake === 0">
                                <b-button-group size="sm" class="btns-gender">
                                    <b-button variant="danger"
                                              title="Изменить пол на женский"
                                              @click="changeGender(2)"
                                              :disabled="userinfo.gender === 2"
                                    ><i class="fas fa-venus fa-lg"></i></b-button>
                                    <b-button variant="info"
                                              title="Изменить пол на мужской"
                                              @click="changeGender(1)"
                                              :disabled="userinfo.gender === 1"
                                    ><i class="fas fa-mars fa-lg"></i></b-button>
                                </b-button-group>

                                <b-button-group size="sm" class="btns-blocked">
                                    <b-button variant="primary"
                                              title="Временно заблокировать основное фото"
                                              @click="blockedAdd()"
                                              :disabled="userinfo.blocked_photo === 1 || userinfo.banned_acc === 1 || userinfo.banned_dev === 1"
                                    ><i class="fas fa-exclamation-triangle"></i> <i class="fas fa-ban"></i></b-button>
                                    <b-button variant="default"
                                              title="Удалить временную блокировку основного фото"
                                              @click="blockedRemove()"
                                              :disabled="userinfo.blocked_photo === 0"
                                    ><i class="fas fa-eraser"></i></b-button>
                                </b-button-group>

                                <b-button-group size="sm" class="btns-ban-account">
                                    <b-button :variant="userinfo.banned_acc === 1 || userinfo.banned_dev === 1 ? 'default': 'orange'"
                                              title="Забанить аккаунт"
                                              @click="banUserAdd()"
                                              :disabled="userinfo.banned_acc === 1 || userinfo.banned_dev === 1"
                                    ><i class="fas fa-portrait"></i> <i class="fas fa-ban"></i></b-button>
                                    <b-button :variant="userinfo.banned_acc === 0 ? 'default': 'primary'"
                                              title="Удалить бан аккаунта"
                                              @click="banUserRemove()"
                                              :disabled="userinfo.banned_acc === 0"
                                    ><i class="fas fa-eraser"></i></b-button>
                                </b-button-group>

                                <b-button-group size="sm" v-if="userinfo.app_version" class="btns-ban-account">
                                    <b-button :variant="userinfo.banned_dev === 1 || userinfo.banned_acc === 1 ? 'default': 'danger'"
                                              title="Забанить устройство"
                                              @click="banDeviceAdd()"
                                              :disabled="userinfo.banned_dev === 1 || userinfo.banned_acc === 1"
                                    ><i class="fas fa-mobile-alt"></i> <i class="fas fa-ban"></i></b-button>
                                    <b-button :variant="userinfo.banned_dev === 0 ? 'default': 'primary'"
                                              title="Удалить бан устройства"
                                              @click="banDeviceRemove()"
                                              :disabled="userinfo.banned_dev === 0"
                                    ><i class="fas fa-eraser"></i></b-button>
                                </b-button-group>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#tab-info">Информация о пользователе</a></li>
                        <li><a data-toggle="tab" href="#tab-alerts">Уведомления</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-info" class="tab-pane fade in active">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Имя</label>
                                <div class="profile-info-value col-sm-8 username" :class="getOnlineClass(userinfo.last_visit)">
                                    <span>
                                        <template v-if="checkPermission('users__edit')">
                                            <a :href="'/users/user/edit?id=' + user_id" target="_blank">{{ userinfo.name }}</a>
                                        </template>
                                        <template v-else>
                                            {{ userinfo.name }}
                                        </template>
                                    </span>
                                    <i v-if="userinfo.fake === 1" class="fab fa-gitkraken"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Возраст</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.age }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Пол</label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.gender === 1">Муж</span>
                                    <span v-else-if="userinfo.gender === 2">Жен</span>
                                    <span v-else>-</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Широта</label>
                                <div class="profile-info-value col-sm-8 font-weight-normal">
                                    <span>{{ userinfo.latitude }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Долгота</label>
                                <div class="profile-info-value col-sm-8 font-weight-normal">
                                    <span>{{ userinfo.longitude }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Город</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.city }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                </label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.fb"><a :href="userinfo.fb" target="_blank">{{ userinfo.fb }}</a></span>
                                    <span v-else class="profile-info-value-empty"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    <i class="fab fa-vk fa-lg"></i>
                                </label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.vk"><a :href="userinfo.vk" target="_blank">{{ userinfo.vk }}</a></span>
                                    <span v-else class="profile-info-value-empty"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Покупки</label>
                                <div class="profile-info-value col-sm-8">
                                    <template v-if="userinfo.total_amount.sum > 0">
                                        <div class="profile-info-total-amount">
                                            <div><i class="fas fa-chess-queen"></i> {{ userinfo.total_amount.vip.toLocaleString('ru-RU') }}</div>
                                            <span>+</span>
                                            <div><i class="fab fa-btc"></i> {{ userinfo.total_amount.points.toLocaleString('ru-RU') }}</div>
                                            <span>=</span>
                                            <div><i class="fas fa-ruble-sign"></i> {{ userinfo.total_amount.sum.toLocaleString('ru-RU') }}</div>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <span class="profile-info-value-empty"></span>
                                    </template>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Подарки</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.gifts }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Баллы</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.points }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">VIP</label>
                                <div class="profile-info-value col-sm-8">
                                    <template v-if="userinfo.vip.status === 1">
                                    <span>
                                        <i class="fas fa-chess-queen fa-lg"
                                           :class="{'pay': userinfo.vip.payment === 1, 'adm': userinfo.vip.payment !== 1}"></i>
                                        {{ userinfo.vip.expires }}
                                    </span>
                                    </template>
                                    <template v-else>
                                        <span class="profile-info-value-empty"></span>
                                    </template>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" :class="{ 'profile-info-ban': this.isBanned(userinfo) }">Забанен</label>
                                <div class="profile-info-value col-sm-8 profile-info-ban">
                                    <template v-if="this.isBanned(userinfo)">
                                        <span v-if="userinfo.banned_acc"><i class="fas fa-portrait"></i></span>
                                        <span v-if="userinfo.banned_dev"><i class="fas fa-mobile-alt"></i></span>
                                        <time v-if="userinfo.banned_date">{{ formatDateTime(userinfo.banned_date) }}</time>
                                        <span v-if="userinfo.banned_admin" class="banned-admin">{{ userinfo.banned_admin }}</span>
                                    </template>
                                    <template v-else>
                                        <span class="profile-info-value-empty"></span>
                                    </template>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    <i class="far fa-comment fa-lg"></i>
                                </label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.messages">{{ userinfo.messages }}</span>
                                    <span v-else class="profile-info-value-empty"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">
                                    <i class="far fa-list-alt fa-lg"></i>
                                </label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.dialogs">{{ userinfo.dialogs }}</span>
                                    <span v-else class="profile-info-value-empty"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Онлайн в часах</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.online_total }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Версия приложения</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.app_version }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Регистрация</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ formatDateTime(userinfo.reg_date) }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Посл. вход</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ formatDateTime(userinfo.last_visit) }}</span>
                                </div>
                            </div>

                            <h4>Параметры поиска</h4>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Пол</label>
                                <div class="profile-info-value col-sm-8">
                                    <span v-if="userinfo.search_gender === 0">Всех</span>
                                    <span v-else-if="userinfo.search_gender === 1">Муж</span>
                                    <span v-else-if="userinfo.search_gender === 2">Жен</span>
                                    <span v-else>-</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Возраст от</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.search_age_min }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Возраст до</label>
                                <div class="profile-info-value col-sm-8">
                                    <span>{{ userinfo.search_age_max }}</span>
                                </div>
                            </div>

                            <template v-if="userinfo.latitude && userinfo.longitude">
                                <GmapMap
                                        :center="{lat:userinfo.latitude, lng:userinfo.longitude}"
                                        :zoom="13"
                                        map-type-id="terrain"
                                        class="profile-user"
                                >
                                    <GmapMarker
                                            :position="{lat:userinfo.latitude, lng:userinfo.longitude}"
                                            :clickable="true"
                                            :draggable="true"
                                            :icon="{url:'https://static.skylove.su/vnd/misc/ic_marker.png'}"
                                    />
                                </GmapMap>
                            </template>
                        </div>

                        <div id="tab-alerts" class="tab-pane fade" :class="{ 'disabled': userinfo.alerts.length > 0 }">
                            <div v-if="userinfo.alerts.length > 0" class="profile-user-info-alerts">
                                <div v-for="alert in  userinfo.alerts" class="alert" :class="alertClass(alert)">
                                    <h4>{{ alert.data.title }}</h4>
                                    <p>{{ alert.data.message }}</p>
                                    <div class="profile-user-info-alert-time" :class="{ 'user-info-alert-read': alert.read_at !== null }">
                                        <div class="user-info-alert-admin">{{ alert.admin_name }}</div>
                                        <time>{{ moment(alert.created_at).format('DD.MM.YYYY HH:mm:ss') }}</time>
                                        <div><i class="fas fa-check-double"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-show="dialog.active" v-sticky sticky-offset="dialog_offset">
                    <section class="panel dialog_user">
                        <div class="panel-body">
                            <div v-for="ms in dialog.messages" class="message" :class="{ 'message-right': ms.user_id === user_id }">
                                <div class="ava-img"><img alt="" :src="ms.avatar"></div>
                                <div class="dialog-message-body" :class="{ 'w100': ms.type === 3 || ms.type === 4 || ms.type === 5 }">
                                    <template v-if="ms.type === 1">
                                        <p>{{ ms.message }}</p>
                                    </template>
                                    <template v-else-if="ms.type === 2">
                                        <div class="dialog-image">
                                            <a :href="ms.message.imageURL" target="_blank">
                                                <img alt="" :src="ms.message.thumbImageURL">
                                            </a>
                                        </div>
                                    </template>
                                    <template v-else-if="ms.type === 3">
                                        <GmapMap
                                                :center="{ lat:ms.message.latitude, lng:ms.message.longitude }"
                                                :zoom="13"
                                                map-type-id="terrain"
                                                class="dialog-geo"
                                        >
                                            <GmapMarker
                                                    :position="{ lat:ms.message.latitude, lng:ms.message.longitude }"
                                                    :clickable="true"
                                                    :draggable="true"
                                                    :icon="{ url:'https://static.skylove.su/vnd/misc/ic_marker.png' }"
                                            />
                                        </GmapMap>
                                    </template>
                                    <template v-else-if="ms.type === 4">
                                        <div class="dialog-audio">
                                            <div>
                                                <i class="fas fa-file-audio"></i>
                                                <span v-if="ms.message.audioTitle">{{ ms.message.audioTitle }}</span>
                                                <span v-else>Без названия</span>
                                            </div>
                                            <audio controls>
                                                <source :src="ms.message.audioURL">
                                                Тег audio не поддерживается вашим браузером.
                                            </audio>
                                        </div>
                                    </template>
                                    <template v-else-if="ms.type === 5">
                                        <div class="dialog-music">
                                            <div>
                                                <i class="fas fa-music"></i>
                                                <span v-if="ms.message.musicTitle">{{ ms.message.musicTitle }}</span>
                                                <span v-else>Без названия</span>
                                            </div>
                                            <audio controls>
                                                <source :src="ms.message.musicURL">
                                                Тег audio не поддерживается вашим браузером.
                                            </audio>
                                        </div>
                                    </template>
                                    <template v-else-if="ms.type === 6">
                                        <div class="dialog-video">
                                            <video :poster="ms.message.thumbVideoURL" controls>
                                                <source :src="ms.message.videoURL">
                                                Тег video не поддерживается вашим браузером.
                                            </video>
                                        </div>
                                    </template>
                                    <time>{{ ms.date }}</time>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- photos -->
            <div class="profile-user-bside col-sm-6 col-md-8">
                <div class="profile-user-avatar">
                    <!-- avatar -->
                    <div>
                        <div class="profile-user-avatar-title">Аватар</div>
                        <div class="profile-user-avatar-image">
                            <template v-if="userinfo.avatar_link">
                                <img :src="userinfo.avatar_link" alt="">
                            </template>
                            <template v-else>
                                <span>аватар не загружен</span>
                            </template>
                        </div>
                        <!--                        <div class="profile-user-avatar-btns">-->
                        <!--                            <a @click="changeAvatar" class="btn btn-primary" :class="{ 'disabled': process_upload_ava }">-->
                        <!--                                <i class="fas fa-edit"></i> Заменить-->
                        <!--                            </a>-->
                        <!--                            <a @click="deleteAvatar" v-show="userinfo.avatar_link" class="btn btn-danger"-->
                        <!--                               :class="{ 'disabled': process_upload_ava }">-->
                        <!--                                <i class="fas fa-trash-alt"></i> Удалить-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                        <!--                        <div v-show="replace_ava_error" class="profile-user-upload-error">-->
                        <!--                            <span>Ошибка загрузки!</span> {{ replace_ava_error_text }}-->
                        <!--                        </div>-->
                        <!--                        <div v-show="delete_ava_error" class="profile-user-upload-error">-->
                        <!--                            <span>Ошибка удаления!</span> {{ delete_ava_error_text }}-->
                        <!--                        </div>-->
                        <!--                        <input v-on:change="uploadAvatar()" :id="'upload-avatar'" type="file" class="hidden">-->
                    </div>
                    <!-- mainphoto -->
                    <div>
                        <div class="profile-user-avatar-title">Основное фото</div>
                        <div class="profile-user-avatar-image">
                            <template v-if="userinfo.main_photo_link">
                                <a :href="userinfo.main_photo_link" data-lightbox="user-mainphoto" data-title="Основное фото">
                                    <img :src="userinfo.main_photo_link" alt="">
                                </a>
                            </template>
                            <template v-else>
                                <span>основное фото не установлено</span>
                            </template>
                        </div>
                        <!--                        <div class="profile-user-avatar-btns">-->
                        <!--                            <a @click="changeMainPhoto" class="btn btn-primary" :class="{ 'disabled': process_upload_main_photo }">-->
                        <!--                                <i class="fas fa-edit"></i> Заменить-->
                        <!--                            </a>-->
                        <!--                            <a @click="deleteMainPhoto" v-show="userinfo.main_photo_link" class="btn btn-danger"-->
                        <!--                               :class="{ 'disabled': process_upload_main_photo }">-->
                        <!--                                <i class="fas fa-trash-alt"></i> Удалить-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                        <!--                        <div v-show="replace_main_photo_error" class="profile-user-upload-error">-->
                        <!--                            <span>Ошибка загрузки!</span> {{ replace_main_photo_error_text }}-->
                        <!--                        </div>-->
                        <!--                        <div v-show="delete_main_photo_error" class="profile-user-upload-error">-->
                        <!--                            <span>Ошибка удаления!</span> {{ delete_main_photo_error_text }}-->
                        <!--                        </div>-->
                        <!--                        <input v-on:change="uploadMainPhoto()" :id="'upload-main-photo'" type="file" class="hidden">-->
                    </div>
                </div>

                <!-- gallery -->
                <div v-if="userinfo.photos_count > 0" class="profile-info-gallery">
                    <div class="profile-info-gallery-title">Галерея ({{ userinfo.photos_count }})</div>
                    <div class="profile-info-gallery-items">
                        <div v-for="(item, key) in userinfo.photos">
                            <div class="profile-info-gallery-photo">
                                <a :href="item.photo" data-lightbox="user-gallery">
                                    <div v-if="item.hasOwnProperty('inspect') && item.inspect !== null" class="status-corner">
                                        <template v-if="item.inspect.admin_status === -1">
                                            <i class="far fa-clock"></i>
                                            <div class="corner-deferred"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 1">
                                            <i class="fas fa-user-check"></i>
                                            <div class="corner-verification"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 2">
                                            <i class="fas fa-user-times"></i>
                                            <div class="corner-forbidden-avatar"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 3">
                                            <i class="fas fa-user-slash"></i>
                                            <div class="corner-forbidden-show"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 4">
                                            <i class="fas fa-exclamation-triangle"></i>
                                            <div class="corner-blocked"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 5">
                                            <i class="fas fa-portrait"></i>
                                            <div class="banned-acc"></div>
                                        </template>
                                        <template v-else-if="item.inspect.admin_status === 6">
                                            <i v-if="item.inspect.associated === 1" class="fas fa-plus-circle"></i>
                                            <i class="fas fa-mobile-alt"></i>
                                            <template v-if="item.inspect.associated === 1">
                                                <div class="banned-dev-associated"></div>
                                            </template>
                                            <template v-else>
                                                <div class="banned-dev"></div>
                                            </template>
                                        </template>
                                    </div>

                                    <img :src="item.prew" alt=""/>
                                </a>

                                <div v-if="item.hasOwnProperty('inspect') && item.inspect !== null">
                                    <time>{{ moment(item.inspect.date).format('DD.MM.YYYY HH:mm') }}</time>
                                    <div v-if="item.inspect.admin">{{ item.inspect.admin.name }}</div>
                                </div>
                            </div>
                            <div class="profile-info-gallery-btns">
                                <!--                                <a @click.prevent="changePhoto(item.id)" href="#" class="btn btn-primary btn-sm" title="Заменить"-->
                                <!--                                   :class="{ 'disabled': process_upload_photo }">-->
                                <!--                                    <i class="fas fa-edit"></i>-->
                                <!--                                </a>-->
                                <a :href="'/users/user/photo/' + item.id" target="_blank" class="btn btn-info btn-sm" title="Скачать">
                                    <i class="fas fa-download"></i>
                                </a>
                                <a @click.prevent="deletePhoto(item.id)" href="#" class="btn btn-danger btn-sm" title="Удалить"
                                   :class="{ 'disabled': process_upload_photo }">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <!--                            <input v-on:change="uploadPhoto(key, $event)" :id="'photo' + key" type="file" class="hidden">-->
                        </div>
                    </div>
                    <div v-show="replace_photo_error" class="profile-user-upload-error">
                        <span>Ошибка загрузки!</span> {{ replace_photo_error_text }}
                    </div>
                    <div v-show="delete_photo_error" class="profile-user-upload-error">
                        <span>Ошибка удаления!</span> {{ delete_photo_error_text }}
                    </div>
                </div>

                <!-- reports -->
                <div v-if="userinfo.reports_count > 0" class="profile-reports">
                    <div class="profile-reports-title">Жалобы ({{ userinfo.reports_count }})</div>
                    <div class="profile-reports-list">
                        <div v-for="item in userinfo.reports" class="profile-report-item"
                             :class="{ 'dialog-active': getActiveDialogClass(item.user_id) }">
                            <div class="profile-report-item-avatar">
                                <img :src="item.avatar" alt="">
                            </div>
                            <div class="profile-report-item-title">
                                <div>
                                    <template v-if="checkPermission('users__edit')">
                                        <a :href="getUserLink(item.user_id)" target="_blank">{{ item.name }}</a>
                                    </template>
                                    <template v-else>
                                        {{ item.name }}
                                    </template>
                                    ({{ item.years }})
                                </div>
                                <template v-if="userinfo.dialogs_id.hasOwnProperty(item.user_id)">
                                    <span class="profile-report-dialog-btn">
                                        <span :title="countMessages(userinfo)">{{ userinfo.dialogs_id[item.user_id]['cnt_out'] }}</span>
                                        <span :title="countMessages(item)">{{ userinfo.dialogs_id[item.user_id]['cnt_inc'] }}</span>
                                        <i @click="showUserDialog(item.user_id)" class="fas fa-comments"></i>
                                    </span>
                                </template>
                            </div>
                            <div class="profile-report-item-date">{{ formatDateTime(item.date) }}</div>
                            <div class="profile-report-item-reason">
                                <span v-if="item.reason === 5 && item.reason_text !== 'Другое'">Другое: </span>
                                {{ item.reason_text }}
                            </div>
                            <div v-if="item.reports_count > 0" class="profile-report-item-reports">
                                <a :href="getReportUserLink(item.user_id)" target="_blank">Жалобы: <span>{{ item.reports_count }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </section>
</template>

<script>
import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import config from '../../config.js'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import Sticky from 'vue-sticky-directive'

import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'

import ToggleButton from 'vue-js-toggle-button'

import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(AsyncComputed);
Vue.use(ToggleButton);
Vue.use(VueGoogleMaps, {
    load: {
        key: config.GOOGLE_API_KEY,
        libraries: 'places',
    },
});
Vue.use(Sticky);

export default {
    mixins: [permissions],
    data() {
        return {
            user_id: 0,
            process_upload_ava: false,
            process_upload_main_photo: false,
            process_upload_photo: false,
            replace_ava_error: false,
            replace_ava_error_text: '',
            delete_ava_error: false,
            delete_ava_error_text: '',
            replace_main_photo_error: false,
            replace_main_photo_error_text: '',
            delete_main_photo_error: false,
            delete_main_photo_error_text: '',
            replace_photo_error: false,
            replace_photo_error_text: '',
            delete_photo_error: false,
            delete_photo_error_text: '',
            user_not_found: false,
            dialog: {
                active: 0,
                messages: [],
            },
            verification_process: false,
            dialog_offset: {
                top: 50,
                bottom: 0,
            }
        }
    },
    beforeMount() {
        this.getUserId();
    },
    mounted() {
        this.dialog_offset.top = $('header.header').height() + 6;

        window.addEventListener('scroll', this.dialogHeight);
        window.addEventListener('resize', this.dialogHeight);
    },
    methods: {
        getUserId() {
            if (this.user_id === 0) {
                let id = this.$route.query['id'];
                if (typeof id === 'string' || typeof id === 'number') {
                    this.user_id = parseInt(id, 10);
                }
            }
        },
        getUserLink(user_id) {
            return '/users/user/edit?id=' + user_id;
        },
        getReportUserLink(user_id) {
            return '/reports/users/user/show?id=' + user_id;
        },
        getOnlineClass(value) {
            let className = '';

            if (value !== null) {
                let online = moment.duration(moment().diff(moment(value))).asMinutes();

                if (online < 10) {
                    className = 'online';
                } else if (online < 360) {
                    className = 'visited';
                }
            }

            return className;
        },
        getActiveDialogClass(user_id) {
            return this.userinfo.dialogs_id.hasOwnProperty(user_id)
                && this.dialog.active
                && this.dialog.active === this.userinfo.dialogs_id[user_id]['dialog_id'];
        },
        isBanned(user) {
            return (user.banned_acc || user.banned_dev);
        },
        showUserDialog(user_id) {
            let dialog_id = this.userinfo.dialogs_id[user_id]['dialog_id'];

            if (dialog_id > 0) {
                this.dialog.messages = [];

                /**
                 * @property {number} data.i.message_id
                 * @property {number} data.i.user_id
                 * @property {string} data.i.name
                 * @property {number} data.i.years
                 * @property {string} data.i.avatar
                 * @property {string} data.i.message.messageText
                 * @property {string} data.i.message.imageURL
                 * @property {string} data.i.message.thumbImageURL
                 * @property {string} data.i.message.audioURL
                 * @property {string} data.i.message.audioTitle
                 * @property {string} data.i.message.musicURL
                 * @property {string} data.i.message.musicTitle
                 * @property {string} data.i.message.musicLength
                 * @property {string} data.i.message.videoURL
                 * @property {string} data.i.message.thumbVideoURL
                 * @property {string} data.i.message.videoLength
                 * @property {number} data.i.message.longitude
                 * @property {number} data.i.message.latitude
                 * @property {number} data.i.type
                 * @property {string} data.i.date
                 */
                axios.get('/api/reports/users/user/dialog/' + dialog_id)
                    .then(response => {
                        this.dialog.active = dialog_id;
                        this.dialog.messages = response.data;

                        setTimeout(() => this.dialogHeight(), 0);
                    });
            }
        },
        dialogHeight() {
            if (!this.dialog.active) {
                return false;
            }

            let windowHeight = $(window).height();
            let dialog = $('.dialog_user');
            let dialogTop = dialog[0].getBoundingClientRect().top;
            let bsideHeight = $('.profile-user-bside').outerHeight(true);
            let infoHeight = $('.profile-user-info').outerHeight(true) + $('.vue-map-container').outerHeight(true) + 15;
            let minHeight = parseInt(dialog.css('min-height'), 10);

            if (minHeight === 0) {
                minHeight = 300;
                dialog.css('min-height', minHeight + 'px');
            }

            let newHeight = windowHeight - dialogTop - 15;
            let maxHeight = minHeight;

            if (bsideHeight - infoHeight > minHeight) {
                maxHeight = bsideHeight - infoHeight;
            }

            dialog.css('max-height', maxHeight + 'px');
            dialog.css('height', newHeight < minHeight
                ? minHeight
                : newHeight > maxHeight
                    ? maxHeight
                    : newHeight
                    + 'px');
        },
        countMessages(user) {
            let write = 'написал';

            if (user.gender === 2) {
                write += 'а';
            }
            return user.name + ' ' + write + ' сообщений:';
        },
        formatDateTime(value, fmt = 'DD.MM.YYYY HH:mm:ss') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt);
        },
        changeAvatar() {
            if (this.process_upload_ava === true) {
                return false;
            }
            document.querySelector('#upload-avatar').click();
        },
        uploadAvatar() {
            if (this.process_upload_ava === true) {
                return false;
            }
            this.process_upload_ava = true;

            let element = document.querySelector('#upload-avatar');
            let form = new FormData();
            form.append('avatar', element.files[0]);

            axios.post('/api/reports/users/avatar/replace/' + this.user_id, form)
                .then(response => {
                    this.replace_ava_error = false;
                    this.replace_ava_error_text = '';
                    this.userinfo.avatar_link = response.data.avatar;
                })
                .catch(error => {
                    this.replace_ava_error = true;
                    this.replace_ava_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_ava = false;
                });
        },
        deleteAvatar() {
            if (this.process_upload_ava === true) {
                return false;
            }

            if (!confirm('Удалить аватар пользователя?')) {
                return false;
            }

            this.process_upload_ava = true;

            axios.delete('/api/reports/users/avatar/' + this.user_id)
                .then(() => {
                    this.delete_ava_error = false;
                    this.delete_ava_error_text = '';
                    this.userinfo.avatar_link = '';
                })
                .catch(error => {
                    this.delete_ava_error = true;
                    this.delete_ava_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_ava = false;
                });
        },
        changeMainPhoto() {
            if (this.process_upload_main_photo === true) {
                return false;
            }

            document.querySelector('#upload-main-photo').click();
        },
        uploadMainPhoto() {
            if (this.process_upload_main_photo === true) {
                return false;
            }
            this.process_upload_main_photo = true;

            let element = document.querySelector('#upload-main-photo');
            let form = new FormData();
            form.append('mainphoto', element.files[0]);

            /**
             * @property {string} data.main_photo
             * @property {object} data.gallery
             * @property {number} data.gallery.id
             * @property {string} data.gallery.prew
             * @property {string} data.gallery.photo
             */
            axios.post('/api/reports/users/mainphoto/replace/' + this.user_id, form)
                .then(response => {
                    this.replace_main_photo_error = false;
                    this.replace_main_photo_error_text = '';
                    this.userinfo.main_photo_link = response.data.main_photo;
                    Vue.set(this.userinfo.photos, response.data.gallery.id, response.data.gallery);
                })
                .catch(error => {
                    this.replace_main_photo_error = true;
                    this.replace_main_photo_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_main_photo = false;
                });
        },
        deleteMainPhoto() {
            if (this.process_upload_main_photo === true) {
                return false;
            }

            if (!confirm('Удалить основное фото пользователя?')) {
                return false;
            }

            this.process_upload_main_photo = true;

            axios.delete('/api/reports/users/mainphoto/' + this.user_id)
                .then(() => {
                    this.delete_main_photo_error = false;
                    this.delete_main_photo_error_text = '';
                    this.userinfo.main_photo_link = '';
                })
                .catch(error => {
                    this.delete_main_photo_error = true;
                    this.delete_main_photo_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_main_photo = false;
                });
        },
        changePhoto(photo_id) {
            if (this.process_upload_photo === true) {
                return false;
            }

            let photo_input = document.querySelector('#photo' + photo_id);

            if (photo_input !== undefined) {
                photo_input.click();
            }
        },
        uploadPhoto(photo_id, event) {
            if (this.process_upload_photo === true) {
                return false;
            }
            this.process_upload_photo = true;

            let element = event.target;
            let form = new FormData();
            form.append('photo_id', photo_id);
            form.append('photo', element.files[0]);

            axios.post('/api/reports/users/photo/replace/' + this.user_id, form)
                .then(response => {
                    this.replace_photo_error = false;
                    this.replace_photo_error_text = '';
                    Vue.set(this.userinfo.photos, photo_id, response.data);
                })
                .catch(error => {
                    this.replace_photo_error = true;
                    this.replace_photo_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_photo = false;
                });
        },
        deletePhoto(photo_id) {
            if (this.process_upload_photo === true) {
                return false;
            }

            if (!confirm('Удалить фотографию пользователя?')) {
                return false;
            }

            this.process_upload_photo = true;

            axios.delete('/api/reports/users/photo/' + this.user_id, {data: {photo_id: photo_id}})
                .then(() => {
                    this.delete_photo_error = false;
                    this.delete_photo_error_text = '';
                    Vue.delete(this.userinfo.photos, photo_id);
                })
                .catch(error => {
                    this.delete_photo_error = true;
                    this.delete_photo_error_text = error.response.data.error;
                })
                .then(() => {
                    this.process_upload_photo = false;
                });
        },
        changeGender: function (gender) {
            if (confirm('Изменить пол?')) {
                return axios.post('/api/reports/users/change-gender', {
                    users: [this.user_id],
                    gender: gender
                })
                    .then(() => {
                        this.userinfo.gender = gender;
                    })
                    .catch((error) => {
                        console.log("changeGender error: ", error);
                    });
            }
        },
        blockedAdd() {
            if (this.userinfo.photo_id) {
                if (confirm('Временно заблокировать основное фото?')) {
                    return axios.post('/api/reports/users/blocked-user-add', [this.user_id])
                        .then(() => {
                            this.$asyncComputed.userinfo.update();
                        })
                        .catch((error) => {
                            if (error.hasOwnProperty('response')) {
                                alert(error.response.data.error);
                            }
                            console.log(error);
                        });
                }
            }
        },
        blockedRemove() {
            if (this.userinfo.photo_id) {
                if (confirm('Удалить временную блокировку основного фото?')) {
                    return axios.post('/api/reports/users/blocked-user-remove', [this.user_id])
                        .then(() => {
                            this.$asyncComputed.userinfo.update();
                        })
                        .catch((error) => {
                            if (error.hasOwnProperty('response')) {
                                alert(error.response.data.error);
                            }
                            console.log(error);
                        });
                }
            }
        },
        banUserAdd() {
            if (this.userinfo.banned_acc === 1) {
                alert('Пользователь уже забанен');

                return false;
            }

            if (confirm('Забанить аккаунт?')) {
                return axios.post('/api/reports/users/ban-user-add', [this.user_id])
                    .then(() => {
                        this.$asyncComputed.userinfo.update();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banUserRemove() {
            if (this.userinfo.banned_acc !== 1) {
                alert('Пользователь не забанен');

                return false;
            }

            if (confirm('Удалить бан аккаунта?')) {
                return axios.post('/api/reports/users/ban-user-remove', [this.user_id])
                    .then(() => {
                        this.$asyncComputed.userinfo.update();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceAdd() {
            if (confirm('Забанить устройство?')) {
                return axios.post('/api/reports/users/ban-device-add', [this.user_id])
                    .then(() => {
                        this.$asyncComputed.userinfo.update();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceRemove() {
            if (confirm('Удалить бан устройства?')) {
                return axios.post('/api/reports/users/ban-device-remove', [this.user_id])
                    .then(() => {
                        this.$asyncComputed.userinfo.update();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        verification(event) {
            let status = event.value;

            if (status !== true && status !== false) {
                return false;
            }

            status = status === true ? 1 : 0;

            this.verification_process = true;

            return axios.post('/api/reports/users/verification', {
                users: [this.user_id],
                status: status
            })
                .then(() => {
                    this.userinfo.report_verification = status;
                })
                .catch((error) => {
                    console.log("verification error: ", error);
                })
                .then(() => {
                    this.verification_process = false;
                });
        },
        verificationStatusClass(status) {
            return status !== this.userinfo.report_verification ? 'text-muted' : '';
        },
        moment: function (date) {
            return moment(date);
        },
        alertClass(alert) {
            switch (alert.priority) {
                case 100:
                    return 'alert-success';
                case 200:
                    return 'alert-warning';
                case 300:
                    return 'alert-danger';
            }

            return '';
        }
    },
    asyncComputed: {
        /**
         * @property {object} photos
         * @property {number} photos.id
         * @property {string} photos.prew
         * @property {string} photos.photo
         * @property {number} photos.i.status
         * @property {object} photos.i.inspect
         * @property {number} photos.i.inspect.status_id
         * @property {number} photos.i.inspect.photo_id
         * @property {number} photos.i.inspect.admin_id
         * @property {number} photos.i.inspect.admin_status
         * @property {number} photos.i.inspect.associated
         * @property {string} photos.i.inspect.date
         * @property {object} photos.i.inspect.admin
         * @property {number} photos.i.inspect.admin.id
         * @property {string} photos.i.inspect.admin.name
         * @property {object} reports
         * @property {number} reports.user_id
         * @property {string} reports.name
         * @property {number} reports.gender
         * @property {string} reports.avatar
         * @property {number} reports.reason
         * @property {string} reports.reason_text
         * @property {string} reports.date
         * @property {object} alerts
         * @property {number} alerts.alert_id
         * @property {number} alerts.type
         * @property {number} alerts.priority
         * @property {object} alerts.data
         * @property {string} alerts.data.title
         * @property {string} alerts.data.message
         * @property {string} alerts.read_at
         * @property {string} alerts.created_at
         * @property {string} alerts.admin_name
         */
        userinfo: {
            get() {
                this.getUserId();

                if (this.user_id > 0) {
                    return axios.get('/api/reports/users/user/' + this.user_id)
                        .then(response => {
                            return {
                                name: response.data.name,
                                age: response.data.age,
                                gender: response.data.gender,
                                latitude: response.data.latitude,
                                longitude: response.data.longitude,
                                city: response.data.city,
                                fb: response.data.fb,
                                vk: response.data.vk,
                                gifts: response.data.gifts,
                                points: response.data.points,
                                vip: {
                                    status: response.data.vip.status,
                                    payment: response.data.vip.payment,
                                    expires: response.data.vip.expires,
                                },
                                photo_id: response.data.photo_id,
                                banned_acc: response.data.banned_acc,
                                banned_dev: response.data.banned_dev,
                                banned_date: response.data.banned_date,
                                banned_admin: response.data.banned_admin,
                                blocked_photo: response.data.blocked_photo,
                                total_amount: {
                                    points: response.data.total_amount.points,
                                    vip: response.data.total_amount.vip,
                                    sum: response.data.total_amount.sum,
                                },
                                messages: response.data.messages,
                                dialogs: response.data.dialogs,
                                online_total: response.data.online_total,
                                app_version: response.data.app_version,
                                reg_date: response.data.reg_date,
                                last_visit: response.data.last_visit,
                                search_age_min: response.data.search_age_min,
                                search_age_max: response.data.search_age_max,
                                search_gender: response.data.search_gender,
                                avatar_link: response.data.avatar_link,
                                main_photo_link: response.data.main_photo_link,
                                fake: response.data.fake,
                                report_verification: response.data.report_verification,
                                photos: response.data.photos,
                                photos_count: Object.keys(response.data.photos).length,
                                reports: response.data.reports,
                                reports_count: Object.keys(response.data.reports).length,
                                dialogs_id: response.data.dialogs_id,
                                alerts: response.data.alerts,
                            };
                        })
                        .catch(() => {
                            this.user_not_found = true;
                        });
                }
            },
            default: {
                name: '',
                age: 18,
                gender: 1,
                latitude: 0,
                longitude: 0,
                city: '',
                fb: '',
                vk: '',
                gifts: 0,
                points: 0,
                vip: {
                    status: 0,
                    payment: 0,
                    expires: 0,
                },
                photo_id: 0,
                banned_acc: 0,
                banned_dev: 0,
                banned_date: '',
                banned_admin: '',
                blocked_photo: 0,
                total_amount: {
                    points: 0,
                    vip: 0,
                    sum: 0,
                },
                messages: 0,
                dialogs: 0,
                online_total: 0,
                app_version: '',
                reg_date: '',
                last_visit: '',
                search_age_min: 18,
                search_age_max: 55,
                search_gender: 0,
                avatar_link: '',
                main_photo_link: '',
                fake: 0,
                report_verification: 0,
                photos: [],
                photos_count: 0,
                reports: [],
                reports_count: 0,
                dialogs_id: [],
                alerts: [],
            }
        }
    }
}
</script>