<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3><strong>
                        <vuetable-pagination-info
                                ref="paginationInfo"
                                info-template="Жалобы на пользователей (<span>{total}</span>) показано <span>{from} - {to}</span>"
                                info-class="pagination-info"
                        ></vuetable-pagination-info>
                    </strong></h3>
                </div>
                <div class="top-pagination search-block-pagination">
                    <div class="vuetable-pagination">
                        <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"></vuetable-pagination>
                    </div>
                </div>
                <div v-if="checkPermission('reports_users__edit')" class="search-block-btns search-reports-users">
                    <b-button-group class="btns-verification">
                        <b-button variant="success"
                                  title="Проверить жалобу"
                                  v-if="filterText.show_verification !== 'verification'"
                                  @click="verification(checked_users, 1)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-user-check"></i></b-button>
                        <b-button variant="danger"
                                  title="Отменить проверку жалобы"
                                  v-if="filterText.show_verification !== 'na'"
                                  @click="verification(checked_users, 0)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-user-times"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-gender">
                        <b-button variant="info"
                                  title="Изменить пол на женский"
                                  @click="changeGender(checked_users, 1)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-mars fa-lg"></i></b-button>
                        <b-button variant="danger"
                                  title="Изменить пол на мужской"
                                  @click="changeGender(checked_users, 2)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-venus fa-lg"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-report-message-alert">
                        <b-button variant="orange"
                                  title="Отправить произвольное уведомление"
                                  @click="showAlertMessage()"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-pencil-alt"></i> <i class="fas fa-bullhorn"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-report-alert">
                        <b-button variant="danger"
                                  title="Отправить предупреждение о жалобах"
                                  @click="alert()"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-bullhorn"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-block-account">
                        <b-button variant="primary"
                                  title="Временно заблокировать основное фото"
                                  @click="blockedAdd(checked_users)"
                                  :disabled="!bntBlockedAdd()"
                        ><i class="fas fa-exclamation-triangle"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить временную блокировку основного фото"
                                  @click="blockedRemove(checked_users)"
                                  :disabled="!bntBlockedRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-account">
                        <b-button variant="orange"
                                  title="Забанить аккаунт"
                                  @click="banUserAdd(checked_users)"
                                  :disabled="!bntBannedAccAdd()"
                        ><i class="fas fa-portrait"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить бан аккаунта"
                                  @click="banUserRemove(checked_users)"
                                  :disabled="!bntBannedAccRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-device">
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="banDeviceAdd(checked_users)"
                                  :disabled="!bntBannedDevAdd()"
                        ><i class="fas fa-mobile-alt"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить бан устройства"
                                  @click="banDeviceRemove(checked_users)"
                                  :disabled="!bntBannedDevRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>
                </div>
            </div>
            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-city">
                        <input type="text" class="form-control" v-model="filterText.city" @keyup.enter="doFilter" placeholder="Город">
                    </div>
                    <div class="param-gender">
                        <label for="search_form_gender">Пол:</label>
                        <select id="search_form_gender" class="form-control" v-model="filterText.gender"
                                :class="{ changed: onChangeSelect(filterText.gender) }">
                            <option v-for="option in genderList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text" class="form-control" v-model="filterText.years_min" @keyup.enter="doFilter" placeholder="от">
                            <input type="text" class="form-control" v-model="filterText.years_max" @keyup.enter="doFilter" placeholder="до">
                        </div>
                    </div>
                    <div class="param-vip">
                        <label for="search_form_vip">VIP:</label>
                        <select id="search_form_vip" class="form-control" v-model="filterText.vip"
                                :class="{ changed: onChangeSelect(filterText.vip) }">
                            <option v-for="option in vipList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-online">
                        <label for="search_form_online">Online:</label>
                        <select id="search_form_online" class="form-control" v-model="filterText.online"
                                :class="{ changed: onChangeSelect(filterText.online) }">
                            <option v-for="option in onlineList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-report-reason">
                        <label for="search_form_reason">Причина жалобы:</label>
                        <select id="search_form_reason" class="form-control" v-model="filterText.reason"
                                :class="{ changed: onChangeSelect(filterText.reason) }">
                            <option v-for="option in reasonList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-report-show-banned">
                        <label for="search_form_banned">Забаненные:</label>
                        <select id="search_form_banned" class="form-control" v-model="filterText.show_banned"
                                :class="{ changed: onChangeSelect(filterText.show_banned) }">
                            <option v-for="option in bannedList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-report-show-fake">
                        <label for="search_form_fake">Фейки:</label>
                        <select id="search_form_fake" class="form-control" v-model="filterText.show_fake"
                                :class="{ changed: onChangeSelect(filterText.show_fake) }">
                            <option v-for="option in fakeList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-report-show-fake">
                        <label for="search_form_verification">Проверен:</label>
                        <select id="search_form_verification" class="form-control" v-model="filterText.show_verification"
                                :class="{ changed: onChangeSelect(filterText.show_verification) }">
                            <option v-for="option in verificationList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="showTableHeader"/>
        </b-container>
        <!-- / SEARCH FORM -->

        <div class="users-list-block">
            <div v-if="table.loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div :class="{'table-list-loading' : table.loading}">
                <vuetable ref="vuetable"
                          id="vuetable-container"
                          :api-url="table.apiUrl"
                          :fields="table.fields"
                          :css="table.css.table"
                          :per-page="table.perPage"
                          :sort-order="table.sortOrder"
                          :append-params="table.moreParams"
                          :http-fetch="loadData"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                >
                    <!--checkbox-->
                    <template slot="checked" slot-scope="props">
                        <b-form-checkbox
                                v-if="checkPermission('reports_users__edit')"
                                v-model="checked_users"
                                :value="props.rowData.user_id">
                        </b-form-checkbox>
                    </template>

                    <!--avatar-->
                    <template slot="avatar" slot-scope="props">
                        <template v-if="props.rowData.avatar">
                            <template v-if="props.rowData.photo">
                                <a :href="props.rowData.photo"
                                   :data-lightbox="'users-avatar' + props.rowData.user_id"
                                   :data-title="getPhotoTitle(props.rowData)"
                                >
                                    <img :src="props.rowData.avatar" alt="">
                                    <span class="badge" v-show="props.rowData.photos.length > 0">
                                        {{ props.rowData.photos.length + 1 }}
                                    </span>
                                </a>
                                <template v-if="props.rowData.photos.length > 0">
                                    <a v-for="item in props.rowData.photos"
                                       :href="item"
                                       :data-lightbox="'users-avatar' + props.rowData.user_id"
                                       :data-title="getPhotoTitle(props.rowData)"
                                    ></a>
                                </template>
                            </template>
                            <template v-else>
                                <img :src="props.rowData.avatar" alt="">
                            </template>
                        </template>
                    </template>

                    <!--name-->
                    <template slot="name" slot-scope="props">
                        <span :class="{'users-banned':  props.rowData.banned}">
                            <span class="users-online-status" :class="getOnlineClass(props.rowData.last_visit)">
                                <span>{{ props.rowData.name }}</span>
                                <i v-if="props.rowData.fake === 1" class="fab fa-gitkraken"></i>
                            </span>
                        </span>
                    </template>

                    <!--banned-->
                    <template slot="banned" slot-scope="props">
                        <el-field-banned :data="props.rowData"></el-field-banned>
                    </template>

                    <!--report_verification-->
                    <template slot="report_verification" slot-scope="props">
                        <template v-if="props.rowData.report_verification.status === 1">
                            <i class="fas fa-check-circle" title="Жалоба проверенна"></i>
                            <time>{{ formatDateTime(props.rowData.report_verification.date, 'DD.MM.YY HH:mm') }}</time>
                            <div>{{ props.rowData.report_verification.name }}</div>
                        </template>
                    </template>

                    <!--gender-->
                    <template slot="gender" slot-scope="props">
                        <i v-if="props.rowData.gender === 1" class="fas fa-mars fa-lg"></i>
                        <i v-if="props.rowData.gender === 2" class="fas fa-venus fa-lg"></i>
                    </template>

                    <!--total amount-->
                    <template slot="total_amount" slot-scope="props">
                        <template v-if="props.rowData.total_amount.sum > 0">
                            <div><span><i class="fas fa-chess-queen fa-lg"></i></span> {{ props.rowData.total_amount.vip.toLocaleString('ru-RU') }}
                            </div>
                            <div><span><i class="fab fa-btc fa-lg"></i></span> {{ props.rowData.total_amount.points.toLocaleString('ru-RU') }}</div>
                            <div><span><i class="fas fa-ruble-sign fa-lg"></i></span> {{ props.rowData.total_amount.sum.toLocaleString('ru-RU') }}
                            </div>
                        </template>
                    </template>

                    <!--vip-->
                    <template slot="vip" slot-scope="props">
                        <template v-if="props.rowData.vip.status === 1">
                            <div class="users-vip-block">
                                <template v-if="props.rowData.vip.payment === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-pay"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else>
                                    <i class="fas fa-chess-queen fa-lg vip-adm"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                            </div>
                        </template>
                    </template>

                    <!--messages-->
                    <template slot="messages" slot-scope="props">
                        <div>
                            <div>
                                <span><i class="far fa-comment"></i> {{ props.rowData.messages }}</span>
                                <span><i class="far fa-list-alt"></i> {{ props.rowData.dialogs }}</span>
                            </div>
                        </div>
                    </template>

                    <!--reports-->
                    <template slot="reports" slot-scope="props">
                        <span :class="{ overflow: props.rowData.reports >= 10 }">{{ props.rowData.reports }}</span>
                    </template>

                    <!--custom_alerts_count-->
                    <template slot="custom_alert_count" slot-scope="props">
                        <div v-if="props.rowData.custom_alert_count"
                             :class="{ 'custom-alert-count-read': props.rowData.custom_alert_count === props.rowData.custom_alert_read }">
                            <div><i class="fas fa-bullhorn"></i></div>
                            <span>{{ props.rowData.custom_alert_count }}</span>
                        </div>
                    </template>

                    <!--reasons-->
                    <template slot="reasons" slot-scope="props">
                        <div class="users-reports-text-wrap">
                            <div class="users-reports-text-cur">
                                <div v-for="reason in props.rowData.reasons">
                                    <span :class="{ overflow: reason.count >= 10 }">{{ reason.count }}</span>
                                    <span>{{ reason.text }}</span>
                                    <span class="reasons-alert" v-if="props.rowData.reasons_alert.hasOwnProperty(reason.key)">
                                        {{ props.rowData.reasons_alert[reason.key] }}
                                    </span>
                                </div>
                            </div>
                            <div class="reasons-alert-count" :class="{ 'reasons-alert-read': props.rowData.reasons_alert_read !== null }"
                                 v-if="props.rowData.reasons_alert_count">
                                <div><i class="fas fa-bullhorn"></i></div>
                                <span>{{ props.rowData.reasons_alert_count }}</span>
                            </div>
                        </div>
                    </template>

                    <!--app_version-->
                    <template slot="app_version" slot-scope="props">
                        <div v-for="item in props.rowData.app_version">
                            {{ item }}
                        </div>
                    </template>

                    <!--controls-->
                    <template slot="controls" slot-scope="props">
                        <div class="users-actions">
                            <template v-if="permEdit === true">
                                <a :href="getShowUri(props.rowData.user_id)"
                                   target="_blank"
                                   class="btn btn-primary btn-xs"
                                   title="Жалобы на пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-primary btn-xs disabled"
                                   title="Жалобы на пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                        </div>
                    </template>
                </vuetable>

                <span v-if="checkPermission('reports_users__edit')">Отмеченные пользователи: {{ checked_users }}</span>
            </div>
        </div>

        <div id="modalAlertMessage" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <b-form-group>
                            <label>Заголовок:</label>
                            <b-form-input v-model="alertMessage.title" :maxlength="alertMessageLimit.title"></b-form-input>
                        </b-form-group>

                        <b-form-group>
                            <label>Сообщение:</label>
                            <b-form-textarea v-model="alertMessage.message"
                                             @keydown.enter.prevent
                                             :maxlength="alertMessageLimit.message"
                                             :rows="5"
                                             :max-rows="5"
                                             :no-resize="true"></b-form-textarea>
                        </b-form-group>

                        <div class="d-flex">
                            <div class="flex-1">
                                <b-form-checkbox v-model="alertMessageCreate">
                                    Добавить в шаблоны
                                </b-form-checkbox>
                            </div>
                            <b-button-group class="user-alert-btns-priority ">
                                <b-button @click="alertMessage.priority = 100" variant="success"
                                          :class="{ 'alert-active': alertMessage.priority === 100 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                                <b-button @click="alertMessage.priority = 200" variant="warning"
                                          :class="{ 'alert-active': alertMessage.priority === 200 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                                <b-button @click="alertMessage.priority = 300" variant="danger"
                                          :class="{ 'alert-active': alertMessage.priority === 300 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                            </b-button-group>
                        </div>

                        <b-form-group>
                            <label>Шаблоны:</label>
                            <div class="d-flex">
                                <div class="flex-1">
                                    <b-form-select v-model="alertMessagesSelect" :options="alertMessagesOptions"></b-form-select>
                                </div>
                                <div>&nbsp;</div>
                                <div>
                                    <b-button variant="danger" @click="deleteAlertMessage()" :disabled="alertMessagesSelect === 0">Удалить</b-button>
                                </div>
                            </div>
                        </b-form-group>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex">
                            <div class="flex-1 text-left">
                                <b-button variant="success" @click="updateAlertMessage()" :disabled="!changedAlertMessage()">Сохранить</b-button>
                            </div>
                            <div>
                                <b-button variant="primary" @click="sendAlertMessage()" :disabled="!alertTextTitle || !alertTextMessage">Отправить
                                </b-button>
                                <b-button variant="default" data-dismiss="modal">Закрыть</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetablePagination from '../users/UsersPaginationComponent'
import Spinner from 'vue-simple-spinner'
import moment from 'moment'
import VueResize from 'vue-resize'
import ElFieldBanned from '../elements/fieldBanned'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'
import 'floatthead'

Vue.use(VueResize);

export default {
    mixins: [permissions],
    components: {
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        'vue-simple-spinner': Spinner,
        ElFieldBanned
    },
    data() {
        return {
            user_show_uri: '/reports/users/user/show?id=',
            checked_users: [],
            filterText: {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                online: 'na',
                reason: 'na',
                show_banned: 'na',
                show_fake: 'na',
                show_verification: 'na',
            },
            genderList: [
                {
                    id: 'na',
                    name: 'Неважно'
                },
                {
                    id: '1',
                    name: 'Муж'
                },
                {
                    id: '2',
                    name: 'Жен'
                }
            ],
            vipList: [
                {
                    id: 'na',
                    name: 'Неважно'
                },
                {
                    id: 'yes',
                    name: 'Да'
                },
                {
                    id: 'no',
                    name: 'Нет'
                }
            ],
            reasonList: [
                {
                    id: 'na',
                    name: 'Неважно'
                },
                {
                    id: '0',
                    name: 'Порнографическое фото'
                },
                {
                    id: '1',
                    name: 'Оскорбление или домогательства'
                },
                {
                    id: '2',
                    name: 'Пол не соответствует фотографиям'
                },
                {
                    id: '3',
                    name: 'Украденное фото'
                },
                {
                    id: '4',
                    name: 'Реклама или попытка обмана'
                },
                {
                    id: '5',
                    name: 'Другое'
                }
            ],
            bannedList: [
                {
                    id: 'na',
                    name: 'Нет'
                },
                {
                    id: 'banned',
                    name: 'Да'
                },
                {
                    id: 'all',
                    name: 'Неважно'
                }
            ],
            onlineList: [
                {
                    id: 'na',
                    name: 'Неважно'
                },
                {
                    id: 'online',
                    name: 'Online'
                },
                {
                    id: 'visited',
                    name: 'Был недавно'
                },
                {
                    id: 'offline',
                    name: 'Offline'
                }
            ],
            fakeList: [
                {
                    id: 'na',
                    name: 'Нет'
                },
                {
                    id: 'fake',
                    name: 'Да'
                },
                {
                    id: 'all',
                    name: 'Неважно'
                }
            ],
            verificationList: [
                {
                    id: 'na',
                    name: 'Нет'
                },
                {
                    id: 'verification',
                    name: 'Да'
                },
                {
                    id: 'all',
                    name: 'Неважно'
                }
            ],
            table: {
                apiUrl: '/api/reports/users/get-data',
                perPage: 200,
                fields: [
                    {
                        name: '__slot:checked',
                        title: '&nbsp;',
                        titleClass: 'users-checkbox',
                        dataClass: 'users-checkbox',
                    },
                    {
                        name: '__slot:avatar',
                        title: '&nbsp;',
                        titleClass: 'users-avatar',
                        dataClass: 'users-avatar text-center'
                    },
                    {
                        name: '__slot:name',
                        title: 'Имя',
                        sortField: 'name',
                        titleClass: 'users-name',
                        dataClass: 'users-name users-name-online'
                    },
                    {
                        name: '__slot:banned',
                        title: '<i class="fas fa-exclamation-circle"></i>',
                        sortField: 'banned_dev,banned_acc,blocked_photo,banned_date',
                        titleClass: 'users-banned text-center',
                        dataClass: 'users-banned text-center'
                    },
                    {
                        name: '__slot:report_verification',
                        title: '<i class="fas fa-user-check"></i>',
                        titleClass: 'users-reports-verification  text-center',
                        dataClass: 'users-reports-verification text-center',
                        sortField: 'report_verification,verification_date'
                    },
                    {
                        name: '__slot:gender',
                        title: 'Пол',
                        titleClass: 'users-gender',
                        dataClass: 'users-gender text-center',
                        sortField: 'sex'
                    },
                    {
                        name: 'years',
                        title: 'Лет',
                        titleClass: 'users-years',
                        dataClass: 'users-years text-center',
                        sortField: 'years'
                    },
                    {
                        name: 'city',
                        title: 'Город',
                        sortField: 'city',
                        titleClass: 'users-city',
                        dataClass: 'users-city',
                    },
                    {
                        name: '__slot:total_amount',
                        title: '<i class="fas fa-ruble-sign fa-lg"></i>',
                        sortField: 'total_amount_sum',
                        titleClass: 'users-total-amount text-center',
                        dataClass: 'users-total-amount',
                    },
                    {
                        name: '__slot:vip',
                        title: '<i class="fas fa-chess-queen fa-lg"></i>',
                        titleClass: 'users-vip text-center',
                        dataClass: 'users-vip text-center',
                        sortField: 'vip,vip_expires'
                    },
                    {
                        name: 'online_total',
                        title: '<i class="far fa-clock fa-lg"></i>',
                        titleClass: 'users-online-total text-center',
                        dataClass: 'users-online-total text-center',
                        sortField: 'online_total'
                    },
                    {
                        name: '__slot:reports',
                        title: 'Жалобы',
                        sortField: 'reports',
                        titleClass: 'users-reports-count',
                        dataClass: 'users-reports-count text-center',
                    },
                    {
                        name: '__slot:reasons',
                        title: 'Причины',
                        titleClass: 'users-reports-text',
                        dataClass: 'users-reports-text',
                    },
                    {
                        name: '__slot:custom_alert_count',
                        title: '<i class="fas fa-pencil-alt"></i> <i class="fas fa-bullhorn"></i>',
                        titleClass: 'custom-alert-count',
                        dataClass: 'custom-alert-count text-center',
                    },
                    {
                        name: 'reg_date',
                        title: 'Рег-ия',
                        titleClass: 'users-reg-date',
                        dataClass: 'users-reg-date',
                        sortField: 'reg_date',
                        callback: 'formatDateTime'
                    },
                    {
                        name: 'last_visit',
                        title: 'Вход',
                        titleClass: 'users-last-visit',
                        dataClass: 'users-last-visit',
                        sortField: 'last_visit',
                        callback: 'formatDateTime'
                    },
                    {
                        name: '__slot:app_version',
                        title: 'Версия',
                        titleClass: 'users-app-version',
                        dataClass: 'users-app-version',
                    },
                    {
                        name: '__slot:messages',
                        title: '<i class="fas fa-comments fa-lg"></i>',
                        titleClass: 'users-messages text-center',
                        dataClass: 'users-messages',
                        sortField: 'messages,dialogs'
                    },
                    {
                        name: '__slot:controls',
                        title: '&nbsp;',
                        titleClass: 'users-controls',
                        dataClass: 'users-controls'
                    }
                ],
                sortOrder: [
                    {
                        field: '__slot:reports',
                        sortField: 'reports',
                        direction: 'desc'
                    }
                ],
                sortOrderDefault: [],
                css: {
                    table: {
                        tableClass: 'table b-table table-striped table-hover users-list report-users-list',
                        ascendingClass: 'current-sort',
                        descendingClass: 'current-sort',
                        ascendingIcon: 'glyphicon glyphicon-chevron-down',
                        descendingIcon: 'glyphicon glyphicon-chevron-up',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                        renderIcon: function (classes) {
                            return `<span class="${classes.join(' ')}"></span>`
                        }
                    }
                },
                moreParams: {},
                loading: false,
            },
            alertMessage: {
                title: '',
                message: '',
                priority: 200,
                message_id: 0,
            },
            alertMessageLimit: {
                title: 60,
                message: 200
            },
            alertMessageCreate: true,
            alertMessagesList: {},
            alertMessagesSelect: 0,
            alertMessagesOptions: {},
            permEdit: false,
        }
    },
    async mounted() {
        await this.getCurrentUser();
        this.permEdit = this.checkPermission('reports_users__edit');

        this.showTableHeader();

        this.table.sortOrderDefault = _.clone(this.table.sortOrder);
    },
    computed: {
        alertTextTitle() {
            return this.alertMessage.title;
        },
        alertTextMessage() {
            return this.alertMessage.message;
        },
    },
    watch: {
        alertTextTitle() {
            this.alertMessage.title = this.alertTextTitle.replace(/\r?\n|\r|\s{2,}/gm, ' ');
        },
        alertTextMessage() {
            this.alertMessage.message = this.alertTextMessage.replace(/\r?\n|\r|\s{2,}/gm, ' ');
        },
        alertMessagesSelect() {
            if (this.alertMessagesList.hasOwnProperty(this.alertMessagesSelect)) {
                let index = this.alertMessagesSelect;

                this.alertMessage = _.clone(this.alertMessagesList[index]);
                this.alertMessageCreate = false;
            } else {
                this.resetAlertMessage();
            }
        }
    },
    methods: {
        showTableHeader() {
            let table = $('table#vuetable-container');
            let header = $('header.header');
            let search = $('.search-block');

            table.css('margin-top', search.height() + 'px');
            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function () {
                    return header.outerHeight() + search.outerHeight();
                }
            });
            table.trigger('reflow');
        },
        loadData(apiUrl, httpOptions) {
            /**
             * @property {number} total
             * @property {number} per_page
             * @property {number} current_page
             * @property {number} last_page
             * @property {number} next_page_url
             * @property {number} prev_page_url
             * @property {number} from
             * @property {number} to
             * @property {number} data.user_id
             * @property {string} data.avatar
             * @property {string} data.photo
             * @property {string} data.name
             * @property {number} data.gender
             * @property {number} data.years
             * @property {string} data.city
             * @property {object} data.vip
             * @property {number} data.vip.status
             * @property {string} data.vip.expires
             * @property {number} data.vip.payment
             * @property {number} data.online_total
             * @property {string} data.reg_date
             * @property {string} data.last_visit
             * @property {number} data.messages
             * @property {number} data.dialogs
             * @property {number} data.reports
             * @property {array} data.reasons
             * @property {object} data.reasons.i
             * @property {string} data.reasons.i.text
             * @property {number} data.reasons.i.count
             * @property {object} data.reasons_alert
             * @property {number} data.reasons_alert.i
             * @property {string} data.reasons_alert_read
             * @property {number} data.reasons_alert_count
             * @property {number} data.custom_alert_count
             * @property {number} data.custom_alert_read
             * @property {array} data.photos
             * @property {string} data.photos.i
             * @property {number} data.banned
             * @property {number} data.banned_dev
             * @property {number} data.banned_acc
             * @property {string} data.banned_date
             * @property {string} data.banned_admin
             * @property {object} data.total_amount
             * @property {number} data.total_amount.points
             * @property {number} data.total_amount.vip
             * @property {number} data.total_amount.sum
             * @property {number} data.fake
             * @property {object} data.report_verification
             * @property {number} data.report_verification.status
             * @property {string} data.report_verification.date
             * @property {string} data.report_verification.name
             */
            return axios.get(apiUrl, httpOptions);
        },
        onLoading() {
            this.table.loading = true;
        },
        onLoaded() {
            this.table.loading = false;
            this.updateFields();
            this.showTableHeader();
        },
        onPaginationData(paginationData) {
            if (paginationData.to > paginationData.total) {
                paginationData.to = paginationData.total;
            }
            this.$refs.pagination.setPaginationData(paginationData);
            this.$refs.paginationInfo.setPaginationData(paginationData);
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page);
        },
        refreshTable() {
            Vue.nextTick(() => this.$refs.vuetable.reload());
        },
        updateFields() {
            for (let i = 0, len = this.table.fields.length; i < len; i++) {
                if (this.table.fields[i].name === '__slot:report_verification') {
                    if (this.filterText.show_verification !== 'na') {
                        Vue.set(this.table.fields[i], 'sortField', 'report_verification,verification_date');
                    } else {
                        if (this.table.sortOrder[0].sortField === 'report_verification,verification_date') {
                            this.table.sortOrder = _.clone(this.table.sortOrderDefault);
                            this.refreshTable();

                            return false;
                        }

                        Vue.delete(this.table.fields[i], 'sortField');
                    }
                }

                if (this.table.fields[i].name === '__slot:banned') {
                    if (this.filterText.show_banned !== 'na') {
                        Vue.set(this.table.fields[i], 'sortField', 'banned_dev,banned_acc,blocked_photo,banned_date');
                    } else {
                        if (this.table.sortOrder[0].sortField === 'banned_dev,banned_acc,blocked_photo,banned_date') {
                            this.table.sortOrder = _.clone(this.table.sortOrderDefault);
                            this.refreshTable();

                            return false;
                        }

                        Vue.delete(this.table.fields[i], 'sortField');
                    }
                }
            }
            this.$refs.vuetable.normalizeFields();
        },
        doFilter() {
            if (this.table.moreParams.filter === undefined || JSON.stringify(this.table.moreParams.filter) === JSON.stringify(this.filterText)) {
                if (this.filterText.show_verification === 'verification') {
                    this.table.sortOrder = [
                        {
                            field: '__slot:report_verification',
                            sortField: 'report_verification,verification_date',
                            direction: 'desc'
                        }
                    ];
                } else if (this.filterText.show_banned === 'banned') {
                    this.table.sortOrder = [
                        {
                            field: '__slot:banned',
                            sortField: 'banned_dev,banned_acc,blocked_photo,banned_date',
                            direction: 'desc'
                        }
                    ];
                }
            }
            this.table.moreParams = {
                'filter': this.filterText
            };
            this.$refs.vuetable.changePage(1);
            this.checked_users = [];
            this.refreshTable();
        },
        resetFilter() {
            this.filterText = {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                online: 'na',
                reason: 'na',
                show_banned: 'na',
                show_fake: 'na',
                show_verification: 'na',
            };
            this.doFilter();
        },
        getShowUri(user_id) {
            return this.user_show_uri + user_id;
        },
        formatDateTime(value, fmt = 'DD.MM.YYYY HH:mm:ss') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        getPhotoTitle(row) {
            let title = row.name + ', ' + row.years;

            if (row.city !== null && row.city.length > 0) {
                title += ' (' + row.city + ')';
            }

            return title;
        },
        getOnlineClass(value) {
            let className = 'online-status-';

            if (value == null) {
                className += 'offline';
            } else {
                let online = moment.duration(moment().diff(moment(value))).asMinutes();

                if (online < 10) {
                    className += 'online';
                } else if (online < 360) {
                    className += 'visited';
                } else {
                    className += 'offline';
                }
            }

            return className;
        },
        blockedAdd(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Временно заблокировать основное фото выбранных пользователей?')) {
                return axios.post('/api/reports/users/blocked-user-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        blockedRemove(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Удалить временную блокировку основного фото выбранных пользователей?')) {
                return axios.post('/api/reports/users/blocked-user-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banUserAdd(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Забанить аккаунт выбранных пользователей?')) {
                return axios.post('/api/reports/users/ban-user-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banUserRemove(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Удалить бан аккаунта выбранных пользователей?')) {
                return axios.post('/api/reports/users/ban-user-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceAdd(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Забанить устройство выбранных пользователей?')) {
                return axios.post('/api/reports/users/ban-device-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceRemove(users) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Удалить бан устройства выбранных пользователей?')) {
                return axios.post('/api/reports/users/ban-device-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        changeGender(users, gender) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (confirm('Изменить пол выбранных пользователей?')) {
                return axios.post('/api/reports/users/change-gender', {
                    users: users,
                    gender: gender
                })
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        console.log('changeGender error: ', error);
                    });
            }
        },
        verification(users, status) {
            if (!this.checkedUsersEmpty()) {
                return false;
            }

            if (status === 1 && !confirm('Проверить жалобы на выбранных пользователей?')) {
                return false;
            }

            if (status === 0 && !confirm('Отменить проверку жалоб на выбранных пользователей?')) {
                return false;
            }

            return axios.post('/api/reports/users/verification', {
                users: users,
                status: status
            })
                .then(() => {
                    this.checked_users = [];
                    this.refreshTable();
                })
                .catch((error) => {
                    console.log('verification error: ', error);
                });
        },
        alert() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            if (!confirm('Отправить предупреждения выбранным пользователям?')) {
                return false;
            }

            return axios.post('/api/reports/users/alert', {
                users: this.checked_users
            })
                .then(() => {
                    this.checked_users = [];
                    this.refreshTable();
                })
                .catch((error) => {
                    console.log('report alert error: ', error);
                });
        },
        showAlertMessage() {
            if (this.isCheckedUsers()) {
                this.getAlertMessages();
                this.resetAlertMessage();

                $('#modalAlertMessage').modal('show');
            }
        },
        resetAlertMessage() {
            this.alertMessage = {
                title: '',
                message: '',
                priority: 200,
                message_id: 0,
            };
            this.alertMessageCreate = true;
        },
        getAlertMessages(reset_select = true) {
            return axios.get('/api/reports/users/alert-messages-list')
                .then((response) => {
                    if (reset_select) {
                        this.alertMessagesSelect = 0;
                    }
                    this.alertMessagesList = {};
                    this.alertMessagesOptions = [];
                    this.alertMessagesOptions.push({
                        value: 0,
                        text: ''
                    });

                    for (let message of response.data.messages) {
                        this.alertMessagesList[message.message_id] = message;
                        this.alertMessagesOptions.push({
                            value: message.message_id,
                            text: message.title + ' | ' + (message.message.length > 60 ? message.message.substring(0, 60) + '...' : message.message)
                        });
                    }
                })
                .catch((error) => {
                    console.log('alert messages list error: ', error);
                })
        },
        changedAlertMessage() {
            let index = this.alertMessagesSelect;

            if (this.alertMessageCreate === true) {
                return false;
            } else if (this.alertMessage.message_id === 0 || this.alertMessagesSelect === 0) {
                return false;
            } else if (this.alertMessagesList.hasOwnProperty(index) === false) {
                return false;
            } else if (this.alertMessage.title === this.alertMessagesList[index].title
                && this.alertMessage.message === this.alertMessagesList[index].message
                && this.alertMessage.priority === this.alertMessagesList[index].priority
            ) {
                return false;
            }

            return true;
        },
        updateAlertMessage() {
            if (this.changedAlertMessage() === false) {
                return false;
            }

            return axios.put('/api/reports/users/alert-message', this.alertMessage)
                .catch((error) => {
                    console.log('update alert message error: ', error);
                })
                .finally(() => {
                    this.getAlertMessages(false);
                });
        },
        deleteAlertMessage() {
            if (!this.alertMessagesSelect || !this.alertMessagesList.hasOwnProperty(this.alertMessagesSelect)) {
                return false;
            }

            return axios.delete('/api/reports/users/alert-message', {
                data: {
                    message_id: this.alertMessagesSelect
                }
            })
                .catch((error) => {
                    console.log('delete alert message error: ', error);
                })
                .finally(() => {
                    this.getAlertMessages();
                });
        },
        sendAlertMessage() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            if (this.alertMessage.title === '' || this.alertMessage.message === '') {
                return false;
            }

            let create = true;

            if (this.alertMessageCreate === true) {
                axios.post('/api/reports/users/alert-message', {
                    title: this.alertMessage.title,
                    message: this.alertMessage.message,
                    priority: this.alertMessage.priority,
                })
                    .catch((error) => {
                        create = false;
                        console.log('create alert message error: ', error);
                    });
            }

            if (!create) {
                alert('Ошибка добавления шаблона');

                return false;
            }

            return axios.post('/api/reports/users/alert-message-send', {
                users: this.checked_users,
                title: this.alertMessage.title,
                message: this.alertMessage.message,
                priority: this.alertMessage.priority,
            })
                .then(() => {
                    this.checked_users = [];
                    this.resetAlertMessage();
                })
                .catch((error) => {
                    alert('Ошибка отправки сообщения');
                    console.log('send alert message error: ', error);
                })
                .finally(() => {
                    $('#modalAlertMessage').modal('hide');
                });
        },
        onChangeSelect(index) {
            return index !== 'na';
        },
        isCheckedUsers() {
            return this.checked_users.length > 0;
        },
        checkedUsersEmpty() {
            if (this.checked_users.length < 1) {
                alert('Нет отмеченных пользователей');

                return false;
            }

            return true;
        },
        bntBlockedAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1 || user.blocked_photo === 1) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBlockedRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.blocked_photo === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedAccAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedAccRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedDevAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedDevRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_dev === 0 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
    }
};
</script>