<template>
    <div v-if="data.banned || data.blocked_photo">
        <div>
            <i v-if="data.banned_acc" class="fas fa-portrait fa-lg"></i>
            <i v-if="data.banned_dev" class="fas fa-mobile-alt fa-lg"></i>
            <i v-if="data.blocked_photo" class="fas fa-exclamation-triangle fa-lg"></i>
        </div>
        <div v-if="data.banned">
            <time v-if="data.banned_date">{{ moment(data.banned_date).format('DD.MM.YYYY HH:mm:ss') }}</time>
            <span v-if="data.banned_admin" class="users-banner-admin">{{ data.banned_admin }}</span>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
    name: 'el-field-banned',
    props: {
        'data': {
            type: Object,
            default: {
                banned: 0,
                banned_acc: 0,
                banned_dev: 0,
                blocked_photo: 0,
                banned_date: '',
                banned_admin: '',
            }
        },
    },
    methods: {
        moment: function(date) {
            return moment(date);
        }
    }
}
</script>