<template>
    <b-button-group class="btns-block-account">
        <b-button variant="primary" title="Блокировка пользователя" :disabled="disabledBlocked" @click="handle(1)">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;<i class="fas fa-ban"></i>
        </b-button>
        <b-button variant="default" title="Снять блокировку пользователя" :disabled="disabledUnblocked" @click="handle(0)">
            <i class="fas fa-eraser"></i>
        </b-button>
    </b-button-group>
</template>

<script>
export default {
    name: 'el-user-photo-block',
    props: {
        'disabledBlocked': {
            type: Boolean,
            default: false
        },
        'disabledUnblocked': {
            type: Boolean,
            default: false
        },
    },
    methods: {
        handle: function(status) {
            let question = status === 1
                ? 'Временно заблокировать основное фото выбранных пользователей?'
                : 'Удалить временную блокировку основного фото выбранных пользователей?';
            if (!confirm(question)) {
                return false;
            }

            this.$emit('handleClick', status)
        },
    }
}
</script>