<template>
    <section class="wrapper">
        <!--state overview start-->
        <div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="value">
                        <h1 class="count">{{ counts.main_stats.all }}</h1>
                        <p>Всего пользователей</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol red">
                        <i class="fas fa-female"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count3">{{ counts.main_stats.woman }}</h1>
                        <p>Женщины</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="fas fa-male"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count2">{{ counts.main_stats.man }}</h1>
                        <p>Мужчины</p>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="fab fa-gitkraken"></i>
                    </div>
                    <div class="value">
                        <h1 class=" count4">{{ counts.main_stats.fakes }}</h1>
                        <p>Фейки</p>
                    </div>
                </section>
            </div>
        </div>

        <!--reg/enter/del stats-->
        <div class="row regenterstats-block">
            <div class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика регистрации и активности пользователей</strong></h3>
                </div>
                <div class="d-flex">
                    <div class="flex-1">
                        <table class="activestat-form">
                            <tr>
                                <td><label>Дата:</label></td>
                                <td>
                                    <vue-datepicker-local v-model="reg_enter_stats_form.reg_date"
                                                          :local="datepicker_local"
                                                          :format="'DD.MM.YYYY'"></vue-datepicker-local>
                                </td>
                                <td>
                                    <b-button v-on:click="getRegEnterStats"
                                              variant="primary">Показать
                                    </b-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <b-button variant="defaдult"
                                  @click="reg_enter_stats_show_labels = !reg_enter_stats_show_labels"
                                  :class="{ 'btn-primary': reg_enter_stats_show_labels }">Значения
                        </b-button>
                        <b-button-group>
                            <b-button variant="default"
                                      @click="reg_enter_stats_form.type = 0"
                                      :class="{ 'btn-danger': reg_enter_stats_form.type === 0 }">14 дн.
                            </b-button>
                            <b-button variant="default"
                                      @click="reg_enter_stats_form.type = 1"
                                      :class="{ 'btn-danger': reg_enter_stats_form.type === 1 }">28 дн.
                            </b-button>
                            <b-button variant="default"
                                      @click="reg_enter_stats_form.type = 2"
                                      :class="{ 'btn-danger': reg_enter_stats_form.type === 2 }">42 дн.
                            </b-button>
                        </b-button-group>
                    </div>
                </div>
                <div>
                    <line-chart
                            :chart-data="reg_enter_stats"
                            :options="reg_enter_stats_opt"
                            class="regenterstats-chart"></line-chart>
                </div>
            </div>
        </div>

        <!--online stats-->
        <div class="row online-stats-block">
            <div class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика online</strong></h3>
                </div>
                <div class="d-flex">
                    <div class="flex-1">
                        <div class="online-stat-current">
                            <div>
                                <span>Online</span>
                                <span><i class="fas fa-users"></i></span>
                            </div>
                            <div><span>{{ online_stats_current }}</span></div>
                        </div>
                    </div>
                    <div>
                        <table class="activestat-form">
                            <tr>
                                <td><label>Дата:</label></td>
                                <td>
                                    <vue-datepicker-local v-model="online_stats_form.date"
                                                          :local="datepicker_local"
                                                          :format="'DD.MM.YYYY'"></vue-datepicker-local>
                                </td>
                                <td>
                                    <b-button v-on:click="getOnlineStats"
                                              variant="primary">Показать
                                    </b-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <line-chart
                            :chart-data="online_stats"
                            :options="online_stats_opt"
                            class="regenterstats-chart"></line-chart>
                </div>
            </div>
        </div>

        <!--active new users stats-->
        <div class="row activestat-block">
            <div class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика по активности новых пользователей</strong></h3>
                </div>
                <div>
                    <table class="activestat-form">
                        <tr>
                            <td><label>Дата регистрации:</label></td>
                            <td>
                                <vue-datepicker-local v-model="active_stat_form.reg_date"
                                                      :local="datepicker_local"
                                                      :format="'DD.MM.YYYY'"></vue-datepicker-local>
                            </td>
                            <td>
                                <b-button v-on:click="getActiveStats"
                                          variant="primary">Показать
                                </b-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="custom-bar-chart activestat-bar-chart">
                    <ul class="y-axis">
                        <li v-for="value in [100, 80, 60, 40, 20, 0]">
                            <span>{{ value }}</span>
                        </li>
                    </ul>

                    <div class="bar" v-if="active_stat" v-for="(value, key, index) in active_stat">
                        <div class="title">
                            <span>{{ value.date }}</span>
                            <span v-if="value.hasOwnProperty('today') && value.today === 0">{{ index }}<br>день</span>
                            <span v-else class="title-today">сегодня</span>
                        </div>
                        <div v-b-tooltip.hover v-bind:style="{ height: value.percent }"
                             class="value value-left tooltips"
                             :class="{ 'value-today': value.hasOwnProperty('today') && value.today === 1}"
                             :data-original-title="value.percent">{{ value.numeric }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--gender stats-->
        <div class="row gender-stat-block">
            <div class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика по полу</strong></h3>
                </div>
                <div>
                    <table class="gender-stat-form">
                        <tr>
                            <td><label>Дата:</label></td>
                            <td>
                                <vue-datepicker-local v-model="gender_stats_form.date"
                                                      :local="datepicker_local"
                                                      :format="'DD.MM.YYYY'"></vue-datepicker-local>
                            </td>
                            <td>
                                <b-button v-on:click="getGenderStats"
                                          variant="primary">Показать
                                </b-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="gender-stat-charts">
                    <div>
                        <line-chart
                                :chart-data="gender_stats"
                                :options="gender_stats_opt"></line-chart>
                    </div>
                    <div>
                        <pie-chart :chart-data="gender_stats_current"
                                   :options="gender_stats_current_opt"></pie-chart>
                        <div class="gender-stat-charts-male-ratio">
                            <div class="ratio-female"><i class="fas fa-female"></i></div>
                            <div class="ratio-sep">/</div>
                            <div class="ratio-male">{{ gender_stats_current_male_ratio }} <i class="fas fa-male"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--photo stats-->
        <div class="row online-stats-block">
            <div class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика проверки фото</strong></h3>
                </div>
                <div>
                    <table class="gender-stat-form">
                        <tr>
                            <td><label>Дата:</label></td>
                            <td>
                                <vue-datepicker-local v-model="photos_review_stats_form.date"
                                                      :local="datepicker_local"
                                                      :format="'DD.MM.YYYY'"
                                                      :disabled-date="photosReviewDisabledDate"></vue-datepicker-local>
                            </td>
                            <td>
                                <b-button v-on:click="getPhotosReviewStatsAll"
                                          :disabled="photos_review_stats_loading"
                                          variant="primary">Показать
                                </b-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <template v-if="this.photos_review_stats_main.datasets.length > 0">
                        <h5 style="color:#3a9215; margin-top: 20px"><strong>Главная</strong></h5>
                        <bar-chart
                                :chart-data="photos_review_stats_main"
                                :options="photos_review_stats_opt"
                                class="regenterstats-chart"></bar-chart>
                    </template>

                    <template v-if="this.photos_review_stats_inner.datasets.length > 0">
                        <h5 style="color:#1670a9; margin-top: 20px"><strong>Внутренняя</strong></h5>
                        <bar-chart
                                :chart-data="photos_review_stats_inner"
                                :options="photos_review_stats_opt"
                                class="regenterstats-chart"></bar-chart>
                    </template>

                    <template v-if="this.photos_review_stats_deferred.datasets.length > 0">
                        <h5 style="color:#1670a9; margin-top: 20px"><strong>Отложенные</strong></h5>
                        <bar-chart
                                :chart-data="photos_review_stats_deferred"
                                :options="photos_review_stats_opt"
                                class="regenterstats-chart"></bar-chart>
                    </template>
                </div>
            </div>
        </div>

        <!--age stats-->
        <div class="row">
            <div class="col-lg-3 col-sm-6 age-stats-btns">
                <b-button-group>
                    <b-button v-on:click="age_stats_type = 'total'"
                              v-bind:class="[ age_stats_type === 'total' ? 'btn-danger' : 'btn-default' ]">
                        По возрасту
                    </b-button>
                    <b-button v-on:click="age_stats_type = 'group'"
                              v-bind:class="[ age_stats_type === 'group' ? 'btn-danger' : 'btn-default' ]">
                        Соотношение в группе
                    </b-button>
                </b-button-group>
            </div>
        </div>

        <div class="row age-stats-block">
            <div v-show="age_stats_type === 'group'" class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Соотношение в каждой возрастной группе</strong></h3>
                </div>
                <div class="custom-bar-chart">
                    <ul class="y-axis">
                        <li v-for="value in [100, 80, 60, 40, 20, 0]">
                            <span>{{ value }}</span>
                        </li>
                    </ul>
                    <div class="bar" v-for="value in age_stats_group">
                        <div class="title">{{ value.title }}</div>
                        <div v-b-tooltip.hover v-bind:style="{ height: age_stats[value.w].in_group_percent }"
                             class="value value-left tooltips"
                             :data-original-title="age_stats[value.w].numeric">{{ age_stats[value.w].in_group_percent }}
                        </div>
                        <div v-b-tooltip.hover v-bind:style="{ height: age_stats[value.m].in_group_percent }"
                             class="value value-right tooltips"
                             :data-original-title="age_stats[value.m].numeric">{{ age_stats[value.m].in_group_percent }}
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="age_stats_type === 'total'" class="col-lg-12">
                <div class="border-head">
                    <h3><strong>Статистика по возрасту</strong></h3>
                </div>
                <div class="custom-bar-chart">
                    <ul class="y-axis">
                        <li v-for="value in [50, 40, 30, 20, 10, 0]">
                            <span>{{ value }}</span>
                        </li>
                    </ul>
                    <div class="bar" v-for="value in age_stats_group">
                        <div class="title">{{ value.title }}</div>
                        <div v-b-tooltip.hover v-bind:style="{ height: age_stats[value.w].from_total_percent }"
                             class="value value-left tooltips"
                             :data-original-title="age_stats[value.w].numeric">{{
                            age_stats[value.w].from_total_percent_visible }}
                        </div>
                        <div v-b-tooltip.hover v-bind:style="{ height: age_stats[value.m].from_total_percent }"
                             class="value value-right tooltips"
                             :data-original-title="age_stats[value.m].numeric">{{
                            age_stats[value.m].from_total_percent_visible }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import Vue from 'vue'
    import AsyncComputed from 'vue-async-computed'
    import axios from '../../utils/axios'
    import VueDatepickerLocal from 'vue-datepicker-local'
    import moment from 'moment'
    import {Bar, Line, Pie, mixins} from 'vue-chartjs'
    import 'chartjs-plugin-datalabels'

    Vue.use(AsyncComputed);
    Vue.component('line-chart', {
        extends: Line,
        mixins: [mixins.reactiveProp],
        props: ['chartData', 'options'],
        mounted() {
            this.renderChartLine();
        },
        methods: {
            renderChartLine: function () {
                this.renderChart(this.chartData, this.options);
            },
            updateChartLine: function () {
                this.$data._chart.update();
            }
        },
        computed: {
            reRenderLabels() {
                return this.chartData.labels;
            },
            reRenderDataLabels() {
                return this.chartData.datasets[0].datalabels;
            }
        },
        watch: {
            reRenderLabels() {
                this.renderChartLine();
            },
            reRenderDataLabels() {
                this.updateChartLine();
            },
        }
    });
    Vue.component('pie-chart', {
        extends: Pie,
        mixins: [mixins.reactiveProp],
        props: ['chartData', 'options'],
        mounted() {
            this.renderChartPie();
        },
        methods: {
            renderChartPie: function () {
                this.renderChart(this.chartData, this.options);
            }
        },
        computed: {
            reRenderPie() {
                return this.chartData.datasets[0].data;
            }
        },
        watch: {
            reRenderPie() {
                this.renderChartPie();
            }
        }
    });
    Vue.component('bar-chart', {
        extends: Bar,
        mixins: [mixins.reactiveProp],
        props: ['chartData', 'options'],
        mounted() {
            this.renderChartBar();
        },
        methods: {
            renderChartBar: function () {
                this.renderChart(this.chartData, this.options);
            }
        },
        computed: {
            reRenderBar() {
                return this.chartData.datasets[0].data;
            }
        },
        watch: {
            reRenderBar() {
                this.renderChartBar();
            }
        }
    });

    export default {
        components: {
            VueDatepickerLocal
        },
        data() {
            return {
                age_stats_type: 'total',
                datepicker_local: {
                    dow: 1,
                    yearSuffix: ' г.',
                    monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                    months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                    weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                    cancelTip: 'Отмена',
                    submitTip: 'Ок'
                },
                active_stat_form: {
                    reg_date: ''
                },
                active_stat: {},
                reg_enter_stats_form: {
                    reg_date: '',
                    type: 0
                },
                online_stats_form: {
                    date: ''
                },
                reg_enter_stats_show_labels: true,
                gender_stats_form: {
                    date: ''
                },
                reg_enter_stats: {
                    labels: ["", "", "", "", "", "", "", "", "", "", "", "", "", ""],
                    datasets: [
                        {
                            borderColor: "rgba(255,108,96,1)",
                            backgroundColor: "rgba(255,108,96,0.5)",
                            pointBackgroundColor: "rgba(255,108,96,1)",
                            fill: true,
                            pointBorderColor: "#fff",
                            pointBorderWidth: 2,
                            pointHoverBorderWidth: 2,
                            label: 'Удалилось пользователей',
                            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                            datalabels: {
                                align: 'top',
                                display: true,
                            }
                        },
                        {
                            borderColor: "rgba(123, 180, 99, 1)",
                            backgroundColor: "rgba(123, 180, 99, 0.5)",
                            pointBackgroundColor: "rgba(123, 180, 99, 1)",
                            fill: true,
                            pointBorderColor: "#fff",
                            pointBorderWidth: 2,
                            pointHoverBorderWidth: 2,
                            label: 'Зарегистрировалось',
                            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                            datalabels: {
                                align: 'left',
                                display: true,
                            }
                        },
                        {
                            borderColor: "rgba(151,187,205,1)",
                            backgroundColor: "rgba(151,187,205,0.5)",
                            pointBackgroundColor: "rgba(151,187,205,1)",
                            fill: true,
                            pointBorderColor: "#fff",
                            pointBorderWidth: 2,
                            pointHoverBorderWidth: 2,
                            label: 'Вошло пользователей',
                            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                            datalabels: {
                                align: 'right',
                                display: true,
                            }
                        }
                    ]
                },
                reg_enter_stats_opt: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMax: 10,
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: [],
                            }
                        }]
                    },
                    tooltips: {
                        mode: 'label',
                        enabled: true
                    },
                    elements: {
                        point: {
                            radius: 4,
                            hoverRadius: 6,
                        }
                    },
                    plugins: {
                        datalabels: {
                            display: false,
                            offset: 8,
                            backgroundColor: function (context) {
                                return context.dataset.backgroundColor;
                            },
                            borderRadius: 4,
                            borderColor: 'white',
                            borderWidth: 1,
                            color: '#fff',
                            font: {
                                weight: 'bold'
                            },
                            formatter: Math.round
                        }
                    },
                },
                online_stats: {
                    labels: [],
                    datasets: [
                        {
                            borderColor: "rgba(255,108,96,0)",
                            backgroundColor: "rgba(255,108,96,0.5)",
                            fill: true,
                            label: 'Женщины',
                            data: [],
                        },
                        {
                            borderColor: "rgba(151,187,205,0)",
                            backgroundColor: "rgba(151,187,205,0.5)",
                            fill: true,
                            label: 'Мужчины',
                            data: [],
                        },
                        {
                            borderColor: "rgba(75,192,192,1)",
                            backgroundColor: "rgba(75,192,192,1)",
                            borderDash: [5, 5],
                            fill: false,
                            label: 'Всего',
                            data: [],
                        },
                    ]
                },
                online_stats_opt: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        caretSize: 0
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                autoSkip: false,
                                callback: function (tick) {
                                    return /^[0-9]{2}:(00)$/.test(tick) ? tick : '';
                                },
                                maxRotation: 0
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 8,
                                beginAtZero: true,
                                maxRotation: 0
                            }
                        }]
                    },
                    elements: {
                        point: {
                            radius: 0,
                        }
                    },
                    plugins: {
                        datalabels: {
                            display: false,
                        }
                    },
                },
                online_stats_current: 0,
                online_interval: '',
                photos_review_stats_main: {
                    labels: [],
                    datasets: []
                },
                photos_review_stats_inner: {
                    labels: [],
                    datasets: []
                },
                photos_review_stats_deferred: {
                    labels: [],
                    datasets: []
                },
                photos_review_stats_opt: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: 'label',
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItem, data) {
                                const tooltip = data.datasets[tooltipItem.datasetIndex];
                                const value = tooltip.data[tooltipItem.index];

                                return value === 0 ? null : tooltip.label + ': ' + value;
                            }
                        }
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                autoSkip: false,
                                callback: function (tick) {
                                    return /^[0-9]{2}:(00)$/.test(tick) ? tick : '';
                                },
                                maxRotation: 0
                            },
                            barPercentage: 1.0,
                            categoryPercentage: 1.0,
                            barThickness: 'flex',
                        }],
                        yAxes: [{
                            stacked: false,
                            ticks: {
                                maxTicksLimit: 8,
                                beginAtZero: true,
                                maxRotation: 0
                            }
                        }]
                    },
                    plugins: {
                        datalabels: {
                            display: false,
                        }
                    },
                },
                photos_review_stats_form: {
                    date: '',
                    main_photo: 0,
                    deferred: 0,
                },
                photos_review_stats_loading: false,
                gender_stats: {
                    labels: [],
                    datasets: [
                        {
                            borderColor: "rgba(255,108,96,1)",
                            backgroundColor: "rgba(255,108,96,0.5)",
                            pointBackgroundColor: "rgba(255,108,96,1)",
                            fill: true,
                            pointBorderColor: "#fff",
                            pointBorderWidth: 2,
                            pointHoverBorderWidth: 2,
                            label: 'Женщины',
                            data: [],
                            datalabels: {
                                align: 'top',
                                display: false,
                            }
                        },
                        {
                            borderColor: "rgba(151,187,205,1)",
                            backgroundColor: "rgba(151,187,205,0.5)",
                            pointBackgroundColor: "rgba(151,187,205,1)",
                            fill: true,
                            pointBorderColor: "#fff",
                            pointBorderWidth: 2,
                            pointHoverBorderWidth: 2,
                            label: 'Мужчины',
                            data: [],
                            datalabels: {
                                align: 'bottom',
                                display: true,
                            }
                        },
                    ]
                },
                gender_stats_opt: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontColor: [],
                            }
                        }]
                    },
                    tooltips: {
                        mode: 'label',
                        enabled: true
                    },
                    elements: {
                        point: {
                            radius: 4,
                            hoverRadius: 6,
                        }
                    },
                    plugins: {
                        datalabels: {
                            display: false,
                            offset: 8,
                            backgroundColor: function (context) {
                                return context.dataset.backgroundColor;
                            },
                            borderRadius: 4,
                            borderColor: 'white',
                            borderWidth: 1,
                            color: '#fff',
                            font: {
                                weight: 'bold'
                            },
                        }
                    },
                },
                gender_stats_current: {
                    labels: ['Мужчины', 'Женщины'],
                    datasets: [
                        {
                            backgroundColor: ['rgba(151,187,205,1)', 'rgba(255,108,96,1)'],
                            data: [50, 50]
                        },
                    ]
                },
                gender_stats_current_opt: {
                    legend: {
                        display: false
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            color: 'white',
                            font: {
                                size: 13,
                                weight: 'bold'
                            },
                            align: 'end',
                            formatter: function (value) {
                                return value + '%';
                            }
                        }
                    }
                },
                gender_stats_current_male_ratio: 1,
                age_stats_group: [
                    {
                        title: '18-20',
                        w: 'w1820',
                        m: 'm1820',
                    },
                    {
                        title: '21-23',
                        w: 'w2123',
                        m: 'm2123',
                    },
                    {
                        title: '24-26',
                        w: 'w2426',
                        m: 'm2426',
                    },
                    {
                        title: '27-30',
                        w: 'w2730',
                        m: 'm2730',
                    },
                    {
                        title: '31-34',
                        w: 'w3134',
                        m: 'm3134',
                    },
                    {
                        title: '35-40',
                        w: 'w3540',
                        m: 'm3540',
                    },
                    {
                        title: '41-45',
                        w: 'w4145',
                        m: 'm4145',
                    },
                    {
                        title: '46-50',
                        w: 'w4650',
                        m: 'm4650',
                    },
                    {
                        title: '51-55',
                        w: 'w5155',
                        m: 'm5155',
                    },
                    {
                        title: '> 56',
                        w: 'w56plus',
                        m: 'm56plus',
                    }
                ]
            }
        },
        mounted() {
            this.setDefaultActiveStatDate();
            this.getActiveStats();
            this.setDefaultRegEnterStatsDate();
            this.getRegEnterStats();
            this.setDefaultOnlineDate();
            this.getOnlineStats();
            this.getOnlineCurrent();
            this.online_interval = setInterval(() => {
                this.getOnlineCurrent();
            }, 60000);
            this.setDefaultGenderDate();
            this.getGenderStats();
            this.getGenderStatsCurrent();

            this.setDefaultPhotosReviewStatsDate();
            this.getPhotosReviewStatsAll();
        },
        watch: {
            'reg_enter_stats_form.type': function () {
                this.getRegEnterStats();
            },
            reg_enter_stats_show_labels: function () {
                this.setRegEnterStatsShowLabels();
            }
        },
        methods: {
            setRegEnterStatsShowLabels: function () {
                let datasets = _.clone(this.reg_enter_stats.datasets);

                for (let dataset of datasets) {
                    dataset.datalabels.display = this.reg_enter_stats_show_labels;
                }

                this.reg_enter_stats.datasets = datasets;
            },
            setDefaultActiveStatDate: function () {
                this.active_stat_form.reg_date = moment().add(-29, 'days').format('YYYY-MM-DD');
            },
            getActiveStats: function () {
                axios.post('/api/dashboard/active-stat', this.active_stat_form)
                    .then(response => {
                        /**
                         * @type {Object} response.data
                         * @property {Object} active_stats
                         */
                        let stat = {};
                        let keys = Object.keys(response.data.active_stats);

                        for (let val of keys) {
                            let tmp = response.data.active_stats[val];

                            stat[val] = {
                                date: tmp.date,
                                percent: tmp.percent + '%',
                                numeric: tmp.numeric,
                                today: tmp.today
                            };
                        }
                        this.active_stat = stat;
                    })
                    .catch((error) => {
                        console.log("axios error: ", error);
                    });
            },
            setDefaultRegEnterStatsDate: function () {
                this.reg_enter_stats_form.reg_date = moment().format('YYYY-MM-DD');
            },
            getRegEnterStats: function () {
                axios.post('/api/dashboard/reg-enter-stats', this.reg_enter_stats_form)
                    .then(response => {
                        /**
                         * @type {Object} response.data
                         * @property {Object} deleted
                         * @property {Object} regs
                         * @property {Object} enters
                         */
                        Vue.set(this.reg_enter_stats.datasets[0], 'data', response.data.deleted);
                        Vue.set(this.reg_enter_stats.datasets[1], 'data', response.data.regs);
                        Vue.set(this.reg_enter_stats.datasets[2], 'data', response.data.enters);

                        // подсвечиваем дни недели (сб и вс)
                        let labels_color = [];
                        let labels_format = [];
                        for (let label of response.data.labels) {
                            let day = moment(label, "DD.MM.YYYY").format('dd');

                            if (day === 'Su' || day === 'Sa') {
                                labels_color.push('#ff6c60');
                            } else {
                                labels_color.push('#666');
                            }

                            labels_format.push(moment(label, "DD.MM.YYYY").format('DD.MM'));
                        }
                        Vue.set(this.reg_enter_stats, 'labels', labels_format);
                        Vue.set(this.reg_enter_stats_opt.scales.xAxes[0].ticks, 'fontColor', labels_color);
                    })
                    .catch((error) => {
                        console.log("axios error: ", error);
                    });
            },
            setDefaultOnlineDate: function () {
                this.online_stats_form.date = moment().format('YYYY-MM-DD');
            },
            getOnlineStats: function () {
                axios.post('/api/dashboard/online-stats-sum', this.online_stats_form)
                    .then(response => {
                        Vue.set(this.online_stats, 'labels', []);
                        Vue.set(this.online_stats.datasets[0], 'data', []);
                        Vue.set(this.online_stats.datasets[1], 'data', []);
                        Vue.set(this.online_stats.datasets[2], 'data', []);

                        if (response.data.hasOwnProperty('period')) {
                            let period = response.data.period;

                            for (let key in period) {
                                if (period.hasOwnProperty(key)) {
                                    this.online_stats.labels.push(moment(key).format('HH:mm'));
                                    this.online_stats.datasets[0].data.push(period[key].w);
                                    this.online_stats.datasets[1].data.push(period[key].m);
                                    this.online_stats.datasets[2].data.push(period[key].t);
                                }
                            }
                        }
                    })
                    .catch((error) => {
                        console.log('axios error: ', error);
                    });
            },
            getOnlineCurrent: function () {
                axios.get('/api/dashboard/online-current')
                    .then(response => {
                        if (response.data.hasOwnProperty('current')) {
                            this.online_stats_current = response.data.current;
                        }
                    })
                    .catch((error) => {
                        console.log('axios error: ', error);
                    });
            },
            setDefaultGenderDate: function () {
                this.gender_stats_form.date = moment().format('YYYY-MM-DD');
            },
            getGenderStats: function () {
                axios.post('/api/dashboard/gender-stats', this.gender_stats_form)
                    .then((response) => {
                        Vue.set(this.gender_stats, 'labels', []);
                        Vue.set(this.gender_stats.datasets[0], 'data', []);
                        Vue.set(this.gender_stats.datasets[1], 'data', []);

                        if (response.data.hasOwnProperty('period')) {
                            let period = response.data.period;

                            for (let key in period) {
                                if (period.hasOwnProperty(key)) {
                                    this.gender_stats.labels.push(moment(key).format('DD.MM'));
                                    this.gender_stats.datasets[0].data.push(period[key].w);
                                    this.gender_stats.datasets[1].data.push(period[key].m);
                                }
                            }
                        }
                    })
                    .catch((error) => {
                        console.log('axios error: ', error);
                    });
            },
            getGenderStatsCurrent: function () {
                axios.get('/api/dashboard/gender-stats-current')
                    .then((response) => {
                        if (response.data.hasOwnProperty('current')) {
                            let current = response.data.current;

                            this.gender_stats_current.datasets[0].data = [current['m']['percent'], current['w']['percent']];
                            this.gender_stats_current_male_ratio = (current['m']['count'] / current['w']['count']).toFixed(3);
                        }
                    })
                    .catch((error) => {
                        console.log('axios error: ', error);
                    });
            },
            setDefaultPhotosReviewStatsDate: function () {
                this.photos_review_stats_form.date = moment().format('YYYY-MM-DD');
            },
            getPhotosReviewStats: function () {
                axios.post('/api/dashboard/photo-stats-verification', this.photos_review_stats_form)
                    .then((response) => {
                        Vue.set(this.photos_review_stats_main, 'labels', []);
                        Vue.set(this.photos_review_stats_main, 'datasets', []);

                        Vue.set(this.photos_review_stats_inner, 'labels', []);
                        Vue.set(this.photos_review_stats_inner, 'datasets', []);

                        Vue.set(this.photos_review_stats_deferred, 'labels', []);
                        Vue.set(this.photos_review_stats_deferred, 'datasets', []);

                        if (response.data) {
                            for (let index in response.data) {
                                if (!response.data.hasOwnProperty(index)) {
                                    continue;
                                }

                                const labels = response.data[index].labels;
                                const period = response.data[index].data;
                                let datasets = [];
                                let stats = '';

                                if (index === 'main') {
                                    stats = this.photos_review_stats_main;
                                } else if (index === 'inner') {
                                    stats = this.photos_review_stats_inner;
                                } else if (index === 'deferred') {
                                    stats = this.photos_review_stats_deferred;
                                } else {
                                    console.log('Unknown photo stats index:' + index);

                                    return false;
                                }

                                Vue.set(stats, 'labels', []);
                                Vue.set(stats, 'datasets', []);

                                for (let key in period) {
                                    if (period.hasOwnProperty(key)) {
                                        stats.labels.push(key);

                                        for (let adm in period[key]) {
                                            if (period[key].hasOwnProperty(adm)) {
                                                if (!labels.hasOwnProperty(adm)) {
                                                    continue;
                                                }

                                                let data_idx = datasets.indexOf(adm);
                                                if (data_idx === -1) {
                                                    data_idx = datasets.push(adm) - 1;
                                                }

                                                if (!stats.datasets.hasOwnProperty(data_idx)) {
                                                    let dataset = {
                                                        borderColor: `rgba(${this.getPhotosReviewStatsColors(data_idx)},1)`,
                                                        backgroundColor: `rgba(${this.getPhotosReviewStatsColors(data_idx)},0.5)`,
                                                        label: this.getPhotosReviewStatsAdminName(adm, labels),
                                                        data: [],
                                                    };
                                                    Vue.set(stats.datasets, data_idx, dataset);
                                                }
                                                stats.datasets[data_idx].data.push(period[key][adm]);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    })
                    .catch((error) => {
                        console.log('axios error: ', error);
                    })
                    .finally(() => {
                        this.photos_review_stats_loading = false;
                    });
            },
            getPhotosReviewStatsAll() {
                this.photos_review_stats_loading = true;

                this.photos_review_stats_main = {
                    labels: [],
                    datasets: []
                };
                this.photos_review_stats_inner = {
                    labels: [],
                    datasets: []
                };
                this.photos_review_stats_deferred = {
                    labels: [],
                    datasets: []
                };

                this.getPhotosReviewStats();
            },
            getPhotosReviewStatsAdminName(admin_id, admins = {}) {
                if (admins.hasOwnProperty(admin_id)) {
                    return admins[admin_id];
                }
                return admin_id;
            },
            getPhotosReviewStatsColors(index) {
                let colors = [
                    '151,187,205',
                    '58, 146, 21',
                    '148, 67, 164',
                    '228, 62, 52',
                    '49, 37, 146',
                    '182, 114, 0',
                    '67, 140, 76',
                    '123, 25, 134',
                    '185, 129, 72',
                ];

                if (!colors.hasOwnProperty(index)) {
                    colors = colors.slice(1);
                    index = Math.ceil(index % colors.length);
                }

                return colors[index];
            },
            photosReviewDisabledDate(time) {
                return time.getTime() < new Date('2019-04-01T00:00:00').getTime();
            }
        },
        asyncComputed: {
            counts: {
                get() {
                    return axios.get('/api/dashboard/main-stats')
                        .then(response => {
                            return response.data;
                        })
                },
                default: {
                    main_stats: {
                        all: 0,
                        man: 0,
                        woman: 0,
                        fakes: 0,
                    },
                }
            },
            age_stats: {
                get() {
                    return axios.get('/api/dashboard/age-stats')
                        .then(response => {
                            let answ = {};
                            let keys = Object.keys(response.data.age_stats);

                            for (let val of keys) {
                                let tmp = response.data.age_stats[val];
                                let percent = parseFloat(tmp.from_total_percent);
                                if (percent > 50) {
                                    percent = 50;
                                }
                                // тут шкала до 50%
                                percent = percent * 2;
                                answ[val] = {
                                    in_group_percent: tmp.in_group_percent + '%',
                                    from_total_percent: percent + '%',
                                    from_total_percent_visible: tmp.from_total_percent + '%',
                                    numeric: tmp.numeric + ' чел.'
                                };
                            }
                            return answ;
                        })
                },
                default: {
                    w1820: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m1820: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w2123: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m2123: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w2426: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m2426: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w2730: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m2730: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w3134: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m3134: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w3540: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m3540: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w4145: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m4145: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w4650: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m4650: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w5155: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m5155: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    w56plus: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                    m56plus: {
                        in_group_percent: '0%',
                        from_total_percent: '0%',
                        from_total_percent_visible: '0%',
                        numeric: 0
                    },
                }
            }
        }
    }
</script>