<template>
    <div class="text-center">
        {{ moment().format('YYYY') }} &copy; Skylove.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    name: 'footer-component',
    created() {
        this.moment = moment;
    }
}
</script>
