<template>
    <div style="margin-top: -7px;">
        <div class="sidebar-toggle-box">
            <div id="showSideMenu" class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo">Skylove<span>Admin</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks"></i>
                        <!-- <span class="badge bg-success">6</span> -->
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">Новых задач 0</p>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li> -->
                        <li class="external">
                            <a href="#">Смотреть все</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->

                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="far fa-envelope"></i>
                        <!-- <span class="badge bg-important">5</span> -->
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">Новых сообщений 0</p>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                                <span class="subject">
                                <span class="from">Jonathan Smith</span>
                                <span class="time">Just now</span>
                                </span>
                                <span class="message">
                                    Hello, this is an example msg.
                                </span>
                            </a>
                        </li> -->
                        <li>
                            <a href="#">Смотреть все сообщения</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->

                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="far fa-bell"></i>
                        <!-- <span class="badge bg-warning">7</span> -->
                    </a>
                    <ul class="dropdown-menu extended">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">Новых уведомлений 0</p>
                        </li>
                        <li>
                            <a href="#">Смотреть все уведомления</a>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>

        <div class="top-nav">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu" style="margin-top: 8px;">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="/images/avatar1_small.jpg">
                        <span class="username">Администратор</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Профиль</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Настройки</a></li>
                        <li><a href="#"><i class="fas fa-bell"></i> Уведомления</a></li>
                        <li><a @click="logout()" href="#"><i class="fa fa-key"></i>Выход</a></li>
                    </ul>
                </li>
                <li class="sb-toggle-right">
                    <i class="fa fa-align-right"></i>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </div>
</template>

<script>
    export default {
        name: 'header-component',
        methods: {
            logout() {
                localStorage.removeItem('user-token');
                window.location.href = '/login';
            }
        }
    }
</script>
