<template>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li v-for="item in menu" v-on:click="go2url()">
                <router-link ref="link" :to="item.uri" :class="getActiveClass(item.uri)" :title="item.title">
                    <i :class="item.icon"></i>
                    <span>{{ item.title }}</span>
                </router-link>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</template>

<script>
import axios from '../../utils/axios'

export default {
    name: 'menu-component',
    data() {
        return {
            menu_data: [
                {
                    title: 'Статистика',
                    uri: '/',
                    icon: 'fas fa-tachometer-alt',
                    perm: '',
                },
                {
                    title: 'Пользователи',
                    uri: '/users',
                    icon: 'fas fa-users',
                    perm: 'users',
                },
                {
                    title: 'Удаленные анкеты',
                    uri: '/users-deleted',
                    icon: 'fas fa-user-times',
                    perm: 'users_del',
                },
                {
                    title: 'Фейки',
                    uri: '/fakes',
                    icon: 'fab fa-gitkraken',
                    perm: 'fakes',
                },
                {
                    title: 'Администраторы',
                    uri: '/settings/admins',
                    icon: 'fas fa-users-cog',
                    perm: 'settings_admins',
                },
                {
                    title: 'Жалобы на польз-ей',
                    uri: '/reports/users',
                    icon: 'far fa-angry',
                    perm: 'reports_users',
                },
                {
                    title: 'Жалобы на фото',
                    uri: '/reports/photos',
                    icon: 'far fa-angry',
                    perm: 'reports_photos',
                },
                {
                    title: 'Проверка фото',
                    uri: '/status-photos',
                    icon: 'far fa-images',
                    perm: 'verification_photos',
                },
                {
                    title: 'Контроль проверки фото',
                    uri: '/status-photos-inspect',
                    icon: 'fas fa-tasks',
                    perm: 'verification_photos',
                },
                {
                    title: 'Верификация профиля',
                    uri: '/verification',
                    icon: 'fas fa-user-shield',
                    perm: 'verification_users',
                },
                {
                    title: 'Статистика модераторов',
                    uri: '/moderators/stats',
                    icon: 'fas fa-chart-line',
                    perm: 'verification_photos',
                },
                {
                    title: 'Рейтинг модераторов',
                    uri: '/moderators/rating',
                    icon: 'fas fa-star-half-alt',
                    perm: 'moderators_rating',
                },
                {
                    title: 'Платежи модераторам',
                    uri: '/moderators/payments',
                    icon: 'fas fa-money-bill-wave-alt',
                    perm: 'moderators_payments',
                }
            ],
            menu: []
        }
    },
    mounted () {
        this.getMenu();
    },
    methods: {
        getActiveClass(url) {
            if (!url) {
                return false;
            }
            let path = this.$route.path;
            let regexp = new RegExp('^' + url + '(\/.+)?$', 'i');

            if (path.match(regexp)) {
                return 'router-link-exact-active active';
            }
        },
        getMenu: function() {
            let post = JSON.stringify(this.menu_data);

            axios.post('/api/menu/get-data', {menu: post})
                .then(response => {
                    this.menu = response.data;
                })
                .catch((error) => {
                    console.log("axios error: ", error);
                });
        },
        go2url: function() {
            location.reload();
        },
    }
}
</script>

<style scoped>
    #sidebar {
        overflow-y: auto;
    }
</style>