<template>
    <section class="wrapper wrap-user-info">
        <!-- title -->
        <div class="border-head">
            <h3>Статистика проверки фото</h3>
        </div>
        <!-- user info -->
        <div>
            <template v-if="stats">
                <div class="table-responsive">
                    <table id="stats-table" class="table table-striped table-condensed admin-table-stats">
                        <thead>
                        <tr>
                            <th class="text-left">Дата</th>
                            <th class="text-center">Отложено</th>
                            <th class="text-center">Сброшено</th>
                            <th class="text-center">Одобрено</th>
                            <th class="text-center">Запр. для аватара</th>
                            <th class="text-center">Запр. для показа</th>
                            <th class="text-center">Вр. блокировка</th>
                            <th class="text-center">Бан аккаунта</th>
                            <th class="text-center">Бан устройства</th>
                            <th class="text-left">Сумма</th>
                        </tr>
                        </thead>
                        <tbody v-for="(period, index) in stats">
                        <tr v-if="index === 0 && Object.keys(period.payment).length === 0">
                            <td colspan="10" class="text-left align-middle info amount">
                                <b>Итого: {{ currencyFormat(period.total) }}</b>
                            </td>
                        </tr>
                        <tr v-if="Object.keys(period.payment).length > 0">
                            <td colspan="10" class="text-left align-middle success amount">
                                <b>Выплачено: {{ currencyFormat(period.payment.amount) }}</b>
                                (за период <span v-html="getPeriod(period.data)"></span>),
                                дата выплаты: {{ moment(period.payment.created_at).format('DD.MM.YYYY HH:mm (dd)') }}
                            </td>
                        </tr>
                        <tr v-for="(v, k) in period.data">
                            <td class="text-left align-middle">{{ moment(k).format('DD.MM.YYYY (dd)') }}</td>
                            <td class="text-center align-middle"><span :class="{'admin-payment-deferred': v.deferred > 0}">{{ v.deferred }}</span></td>
                            <td class="text-center align-middle"><span :class="{'admin-payment-reset': v.reset > 0}">{{ v.reset }}</span></td>
                            <td class="text-center align-middle">
                                <span>Главная: <span :class="{'admin-payment-accept': v.accept_main > 0}">{{ v.accept_main }}</span></span><br>
                                <span>Внутренняя: <span :class="{'admin-payment-accept': v.accept_inner > 0}">{{ v.accept_inner }}</span></span>
                            </td>
                            <td class="text-center align-middle"><span :class="{'admin-payment-forbidden-ava': v.forbidden_ava > 0}">{{ v.forbidden_ava }}</span></td>
                            <td class="text-center align-middle"><span :class="{'admin-payment-forbidden-show': v.forbidden_show > 0}">{{ v.forbidden_show }}</span></td>
                            <td class="text-center align-middle"><span :class="{'admin-payment-blocked': v.blocked > 0}">{{ v.blocked }}</span></td>
                            <td class="text-center align-middle">
                                <span>Главная: <span :class="{'admin-payment-banned-acc': v.banned_acc_main > 0}">{{ v.banned_acc_main }}</span></span><br>
                                <span>Внутренняя: <span :class="{'admin-payment-banned-acc': v.banned_acc_inner > 0}">{{ v.banned_acc_inner }}</span></span>
                            </td>
                            <td class="text-center align-middle">
                                <span>Главная: <span :class="{'admin-payment-banned-dev': v.banned_dev_main > 0}">{{ v.banned_dev_main }}</span></span><br>
                                <span>Внутренняя: <span :class="{'admin-payment-banned-dev': v.banned_dev_inner > 0}">{{ v.banned_dev_inner }}</span></span>
                            </td>
                            <td class="text-left align-middle">
                                <span>Главная: {{ currencyFormat(v.paid_main) }}</span><br>
                                <span>Внутренняя: {{ currencyFormat(v.paid_inner) }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
    </section>
</template>

<script>
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'

import 'floatthead'

export default {
    mixins: [permissions],
    data() {
        return {
            stats: [],
        }
    },
    mounted() {
        moment.locale('ru');

        this.getStats();
    },
    methods: {
        getStats() {
            return axios.get('/api/moderators/stats')
                .then((response) => {
                    /**
                     * @property {number} data.deferred
                     * @property {number} data.reset
                     * @property {number} data.accept_main
                     * @property {number} data.accept_inner
                     * @property {number} data.forbidden_ava
                     * @property {number} data.forbidden_show
                     * @property {number} data.blocked
                     * @property {number} data.banned_acc
                     * @property {number} data.banned_dev
                     * @property {number} data.banned_acc_main
                     * @property {number} data.banned_dev_main
                     * @property {number} data.banned_acc_inner
                     * @property {number} data.banned_dev_inner
                     * @property {number} data.paid_main
                     * @property {number} data.paid_inner
                     * @property {number} payment.amount
                     * @property {string} payment.date
                     * @property {string} payment.created_at
                     * @property {number} total
                     */
                    this.stats = response.data;

                    this.$nextTick(() => this.floatTableHeader());
                })
                .catch(() => {
                    console.log('error: cannot get data stats');
                })
        },
        getPeriod(items) {
            const keys = Object.keys(items);

            return moment(keys[keys.length - 1]).format('DD.MM.YYYY') + ' &mdash; ' + moment(keys[0]).format('DD.MM.YYYY');
        },
        floatTableHeader() {
            let table = $('#stats-table');

            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function() {
                    return $('header.header').outerHeight();
                }
            });
            table.trigger('reflow');
        },
        moment(date) {
            return moment(date);
        },
        currencyFormat(amount) {
            const f = new Intl.NumberFormat('ru-RU', {
                style: 'currency',
                currency: 'RUR',
            });

            return f.format(amount);
        }
    }
}
</script>