<template>
    <section class="wrapper wrap-user-info">
        <!-- title -->
        <div class="border-head">
            <template v-if="Object.values(stats.info).length > 0">
                <h3>
                    Статистика модератора &mdash; {{ stats.info.name }}
                    <span v-if="stats.info.deleted === 1" class="text-danger">(удален)</span>
                    <span v-else-if="stats.info.active !== 1" class="text-muted">(неактивен)</span>
                </h3>
            </template>
            <template v-else>
                <h3>Платежи модераторам</h3>
            </template>
        </div>

        <!-- moderator stats -->
        <template v-if="Object.values(stats.info).length > 0">
            <div class="admin-payment-top-button">
                <b-button variant="default"
                          @click="resetAdmin"
                ><i class="fas fa-arrow-circle-left"></i> Список модераторов
                </b-button>
            </div>
            <div v-if="stats.stat.length > 0" class="table-responsive">
                <table id="stats-table" class="table table-striped table-condensed admin-table-stats">
                    <thead>
                    <tr>
                        <th class="text-left">Дата</th>
                        <th class="text-center">Отложено</th>
                        <th class="text-center">Сброшено</th>
                        <th class="text-center">Одобрено</th>
                        <th class="text-center">Запр. для аватара</th>
                        <th class="text-center">Запр. для показа</th>
                        <th class="text-center">Вр. блокировка</th>
                        <th class="text-center">Бан аккаунта</th>
                        <th class="text-center">Бан устройства</th>
                        <th class="text-left">Сумма</th>
                    </tr>
                    </thead>
                    <tbody v-for="(period, index) in stats.stat">
                    <tr v-if="index === 0 && Object.keys(period.payment).length === 0">
                        <td colspan="10" class="text-left align-middle info amount">
                            <b>Итого: {{ currencyFormat(period.total) }}</b>
                        </td>
                    </tr>
                    <tr v-if="Object.keys(period.payment).length > 0">
                        <td colspan="10" class="text-left align-middle success amount">
                            <b>Выплачено: {{ currencyFormat(period.payment.amount) }}</b>
                            (за период <span v-html="getPeriod(period.data)"></span>),
                            дата выплаты: {{ moment(period.payment.created_at).format('DD.MM.YYYY HH:mm (dd)') }}
                        </td>
                    </tr>
                    <tr v-for="(v, k) in period.data">
                        <td class="text-left align-middle">{{ moment(k).format('DD.MM.YYYY (dd)') }}</td>
                        <td class="text-center align-middle">
                            <span :class="{'admin-payment-deferred': v.deferred > 0}">{{ v.deferred }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span :class="{'admin-payment-reset': v.reset > 0}">{{ v.reset }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span>Главная: <span :class="{'admin-payment-accept': v.accept_main > 0}">{{ v.accept_main }}</span></span><br>
                            <span>Внутренняя: <span :class="{'admin-payment-accept': v.accept_inner > 0}">{{ v.accept_inner }}</span></span>
                        </td>
                        <td class="text-center align-middle">
                            <span :class="{'admin-payment-forbidden-ava': v.forbidden_ava > 0}">{{ v.forbidden_ava }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span :class="{'admin-payment-forbidden-show': v.forbidden_show > 0}">{{ v.forbidden_show }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span :class="{'admin-payment-blocked': v.blocked > 0}">{{ v.blocked }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span>Главная: <span :class="{'admin-payment-banned-acc': v.banned_acc_main > 0}">{{ v.banned_acc_main }}</span></span><br>
                            <span>Внутренняя: <span :class="{'admin-payment-banned-acc': v.banned_acc_inner > 0}">{{ v.banned_acc_inner }}</span></span>
                        </td>
                        <td class="text-center align-middle">
                            <span>Главная: <span :class="{'admin-payment-banned-dev': v.banned_dev_main > 0}">{{ v.banned_dev_main }}</span></span><br>
                            <span>Внутренняя: <span :class="{'admin-payment-banned-dev': v.banned_dev_inner > 0}">{{ v.banned_dev_inner }}</span></span>
                        </td>
                        <td class="text-left align-middle">
                            <span>Главная: {{ currencyFormat(v.paid_main) }}</span><br>
                            <span>Внутренняя: {{ currencyFormat(v.paid_inner) }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <p>Статистика отсутствует</p>
            </div>
        </template>

        <!-- list moderators -->
        <template v-else>
            <div class="form-group d-flex align-items-center">
                <label for="adminStatus" class="m-0 mr-2">Статус модераторов:</label>
                <b-form-select id="adminStatus"
                               v-model="adminStatus.selected"
                               :options="adminStatus.options"
                               class="form-control w-auto"></b-form-select>
            </div>

            <div v-if="Object.values(payments).length > 0" class="admin-payment-cards">
                <template v-for="pay in payments">
                    <div class="admin-card">
                        <div>
                            <h4>
                                {{ pay.admin.name }}
                                <span v-if="pay.admin.deleted === 1" class="text-danger">(удален)</span>
                                <span v-else-if="pay.admin.active !== 1" class="text-muted">(неактивен)</span>
                            </h4>
                            <div class="admin-card-body">
                                <p class="amount">
                                    Сумма:
                                    <span v-if="pay.for_pay.total">{{ currencyFormat(pay.for_pay.total) }}</span>
                                    <span v-else class="amount-empty">нет</span>
                                </p>

                                <b-button @click="selectPaymentAdmin(pay.admin.id)"
                                          variant="success"
                                          data-toggle="modal"
                                          data-target="#paymentModal"
                                          :disabled="!pay.for_pay.total > 0"
                                ><i class="fas fa-money-bill-wave-alt"></i> Оплатить
                                </b-button>
                            </div>
                            <div class="admin-cart-footer">
                                <p>
                                    Предыдущий платеж:
                                    <span v-if="pay.last_pay.amount">{{ currencyFormat(pay.last_pay.amount) }}<br>{{ moment(pay.last_pay.created_at).format('DD.MM.YYYY HH:mm (dd)') }}</span>
                                    <span v-else>нет</span>
                                </p>
                                <p>
                                    <b-button variant="info"
                                              @click="selectAdmin(pay.admin.id)"
                                    ><i class="fas fa-chart-line"></i> Статистика
                                    </b-button>
                                </p>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <div v-else>
                Платежи модераторам не найдены
            </div>

            <!-- payment modal -->
            <div v-if="payment_admin !== 0" id="paymentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Платеж модератору &mdash; {{ payments[payment_admin].admin.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <b-form-group>
                                <label>По дату (включительно):</label>
                                <vue-datepicker-local v-model="payment_date"
                                                      :local="datepicker_local"
                                                      :format="'DD.MM.YYYY'"
                                                      :disabled-date="paymentDisabledDate"
                                                      @input="getPaymentAmount"
                                                      @cancel="resetPaymentAmount"
                                                      @clear="resetPaymentAmount"
                                                      clearable />
                                <div class="admin-payment-send-amount">
                                    Сумма:
                                    <span v-if="payment_amount > 0">{{ currencyFormat(payment_amount) }}</span>
                                    <span v-else class="amount-empty">нет</span>
                                </div>
                            </b-form-group>
                        </div>
                        <div class="modal-footer">
                            <b-button @click="payment(payment_admin)"
                                      variant="primary"
                                      :disabled="!payment_amount > 0"
                            >Оплачено</b-button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </section>
</template>

<script>
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import VueDatepickerLocal from 'vue-datepicker-local'

import 'floatthead'

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
    },
    data() {
        return {
            admin: 0,
            adminStatus: {
                selected: 'active',
                options: [
                    { value: 'all', text: 'Все' },
                    { value: 'deleted', text: 'Удаленные' },
                    { value: 'active', text: 'Активные' },
                    { value: 'inactive', text: 'Неактивные' },
                ],
            },
            stats: {
                info: {},
                stat: [],
            },
            payments: [],
            payment_admin: 0,
            payment_date: '',
            payment_amount: 0,
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок',
            },
        }
    },
    computed: {
        adminStatusSelected() {
            return this.adminStatus.selected;
        }
    },
    watch: {
        admin() {
            this.resetPaymentAdmin();
        },
        adminStatusSelected() {
            this.getStats();
        },
    },
    mounted() {
        moment.locale('ru');

        this.getStats();
    },
    methods: {
        getStats() {
            return axios.get('/api/moderators/payments', { params: { 'status': this.adminStatusSelected } })
                .then((response) => {
                    /**
                     * @property {object} admin
                     * @property {number} admin.id
                     * @property {string} admin.name
                     * @property {object} for_pay
                     * @property {number} for_pay.main
                     * @property {number} for_pay.inner
                     * @property {number} for_pay.total
                     * @property {object} last_pay
                     * @property {number} last_pay.amount
                     * @property {string} last_pay.date
                     */
                    this.payments = response.data;
                })
                .catch((error) => {
                    if (error.response && error.response.data) {
                        console.log(error.response.data);
                    } else {
                        console.log('error: cannot get data');
                        console.log(error);
                    }
                })
        },
        payment(admin_id) {
            return axios.post('/api/moderators/payment', {admin_id: admin_id, date: this.payment_date})
                .then((response) => {
                    let total = this.payments[admin_id].for_pay.total - response.data.amount;

                    this.payments[admin_id].last_pay = {
                        amount: response.data.amount,
                        date: response.data.date
                    };
                    this.payments[admin_id].for_pay = {
                        total: total < 0 ? 0 : total,
                    };

                    this.resetPaymentAdmin();

                    $('#paymentModal').modal('hide');
                })
                .catch((error) => {
                    if (error.response && error.response.data) {
                        console.log(error.response.data);
                    } else {
                        console.log('error: cannot get data');
                        console.log(error);
                    }
                });
        },
        getAdminStats() {
            return axios.get('/api/moderators/stats-selected', {params: {admin: this.admin}})
                .then((response) => {
                    /**
                     * @property {number} data.deferred
                     * @property {number} data.reset
                     * @property {number} data.accept_main
                     * @property {number} data.accept_inner
                     * @property {number} data.forbidden_ava
                     * @property {number} data.forbidden_show
                     * @property {number} data.blocked
                     * @property {number} data.banned_acc
                     * @property {number} data.banned_dev
                     * @property {number} data.banned_acc_main
                     * @property {number} data.banned_dev_main
                     * @property {number} data.banned_acc_inner
                     * @property {number} data.banned_dev_inner
                     * @property {number} data.paid_main
                     * @property {number} data.paid_inner
                     * @property {number} payment.amount
                     * @property {string} payment.date
                     * @property {string} payment.created_at
                     * @property {number} total
                     */
                    this.stats = response.data;

                    this.$nextTick(() => this.floatTableHeader());
                })
                .catch((error) => {
                    if (error.response && error.response.data) {
                        console.log(error.response.data);
                    } else {
                        console.log('error: cannot get data');
                        console.log(error);
                    }
                });
        },
        getPaymentAmount() {
            return axios.get('/api/moderators/payment-amount', {params: {admin_id: this.payment_admin, date: this.payment_date}})
                .then((response) => {
                    this.payment_amount = response.data;
                })
                .catch((error) => {
                    this.payment_amount = 0;

                    if (error.response && error.response.data) {
                        console.log(error.response.data);
                    } else {
                        console.log('error: cannot get amount data');
                        console.log(error);
                    }
                });
        },
        resetPaymentAmount() {
            this.payment_date = '';
            this.payment_amount = 0;
        },
        selectAdmin(admin) {
            this.resetAdmin();

            this.admin = admin;
            this.getAdminStats();
        },
        resetAdmin() {
            this.floatTableDestroy();

            this.admin = 0;
            this.stats = {
                info: {},
                stat: [],
            };
        },
        selectPaymentAdmin(admin_id) {
            this.payment_admin = admin_id;
            this.payment_date = '';
            this.payment_amount = 0;
        },
        resetPaymentAdmin() {
            this.payment_admin = 0;
            this.payment_date = '';
            this.payment_amount = 0;
        },
        paymentDisabledDate(time) {
            if (this.payment_admin === 0) {
                return true;
            }

            return time.getTime() < new Date(this.payments[this.payment_admin].last_pay.date).getTime();
        },
        getPeriod(items) {
            const keys = Object.keys(items);

            return moment(keys[keys.length - 1]).format('DD.MM.YYYY') + ' &mdash; ' + moment(keys[0]).format('DD.MM.YYYY');
        },
        floatTableHeader() {
            let table = $('#stats-table');

            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function() {
                    return $('header.header').outerHeight();
                }
            });
            table.trigger('reflow');
        },
        floatTableDestroy() {
            $('#stats-table').floatThead('destroy');
        },
        moment(date) {
            return moment(date);
        },
        currencyFormat(amount) {
            const f = new Intl.NumberFormat('ru-RU', {
                style: 'currency',
                currency: 'RUR',
            });

            return f.format(amount);
        },
    }
}
</script>