<template>
    <section class="wrapper wrap-user-info">
        <div class="border-head">
            <h3>Рейтинг модераторов</h3>
        </div>

        <div class="form-group d-flex align-items-center">
            <label for="moderatorsFilter" class="m-0 mr-2">Статус модераторов:</label>
            <b-form-select id="moderatorsFilter"
                           v-model="moderatorsFilter.selected"
                           :options="moderatorsFilter.options"
                           class="form-control w-auto"></b-form-select>
        </div>

        <div class="moderator-rating-wrap">
            <div v-for="moderator in moderators" v-if="moderatorFilterShow(moderator)" class="moderator-rating-block">
                <div class="moderator-rating-block__header">
                    <div class="moderator-rating-block__header-name">
                        <span class="moderator-rating-block__header-name-title">{{ moderator.name }}</span>
                        <span class="moderator-rating-block__header-name-status">
                            <span v-if="moderator.deleted_at !== null" class="text-danger">удален</span>
                            <span v-else-if="moderator.active === 0 && moderator.deleted_at === null" class="text-muted">неактивен</span>
                            <span v-else class="text-success">активен</span>
                        </span>
                    </div>
                    <div class="moderator-rating-block__header-rating">
                        <div class="moderator-rating-block__header-rating__section">
                            <div class="moderator-rating-block__header-rating__section-icon"
                                 :class="ratingClassQuality(moderator)">
                                <div><i class="fas fa-star-half-alt"></i></div>
                            </div>
                            <div class="moderator-rating-block__header-rating__section-value">
                                <div>{{ formatRatingQuality(moderator) }}</div>
                            </div>
                        </div>
                        <div class="moderator-rating-block__header-rating__section">
                            <div class="moderator-rating-block__header-rating__section-icon"
                                 :class="ratingClassShift(moderator)">
                                <div><i class="fas fa-star-half-alt"></i></div>
                            </div>
                            <div class="moderator-rating-block__header-rating__section-value">
                                <div>{{ formatRatingShift(moderator) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moderator-rating-block__content">
                    <div class="moderator-rating-block__content-quality">
                        <h4 class="text-success">Качество проверки</h4>
                        <ul>
                            <li v-for="item in ratingQualityList">
                                <div>{{ item.title }}</div>
                                <div>
                                    <template v-if="qualityValueCorrect(moderator, item.key) > 0 || qualityValueMistake(moderator, item.key) > 0">
                                        <span>{{ qualityValueCorrect(moderator, item.key) }}</span>
                                        <span title="Перемещено контролером" v-if="qualityValueMistake(moderator, item.key) > 0">
                                            {{ qualityValueMistake(moderator, item.key) }}
                                        </span>
                                    </template>
                                    <template v-else>
                                        &mdash;
                                    </template>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="moderator-rating-block__content-shift">
                        <h4 class="text-primary">Скорость проверки</h4>
                        <uL>
                            <li v-for="item in ratingShiftList">
                                <div>{{ item.title }}</div>
                                <div>
                                    <template v-if="shiftValue(moderator, item.key) > 0">
                                        <span>{{ shiftValue(moderator, item.key) }}</span>
                                    </template>
                                    <template v-else>
                                        &mdash;
                                    </template>
                                </div>
                            </li>
                        </uL>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'

export default {
    mixins: [permissions],
    data() {
        return {
            moderatorsFilter: {
                selected: 'active',
                options: [
                    {value: 'all', text: 'Все'},
                    {value: 'deleted', text: 'Удаленные'},
                    {value: 'active', text: 'Активные'},
                    {value: 'inactive', text: 'Неактивные'},
                ],
            },
            ratingQualityList: [
                {key: '1', title: 'Одобрено'},
                {key: '2', title: 'Запрещено для аватара'},
                {key: '3', title: 'Запрещено для показа'},
                {key: '4', title: 'Врем. заблокировано'},
                {key: '5', title: 'Бан аккаунта'},
                {key: '6', title: 'Бан устройства'},
            ],
            ratingShiftList: [
                {key: '5', title: '5 минут'},
                {key: '10', title: '10 минут'},
                {key: '15', title: '15 минут'},
                {key: '20', title: '20 минут'},
                {key: '25', title: '25 минут'},
                {key: '30', title: '25+ минут'},
            ],
            /**
             * @name moderators
             * @type Object.<number>
             * @property {number} id
             * @property {string} name
             * @property {number} active
             * @property {string} deleted_at
             * @property {Object.<string>} rating_quality
             * @property {Object.<string>} rating_shift
             * @property {number} rating.admin_id
             * @property {number|string} rating.rating
             * @property {string} rating.created_at
             * @property {Object.<string>} rating.metadata
             * @property {Object.<string>} rating.metadata.quality
             * @property {Object.<string, number|string>} rating.metadata.quality.correct
             * @property {Object.<string, number|string>} rating.metadata.quality.mistake
             * @property {Object.<string, number|string>} rating.metadata.shift
             */
            moderators: [],
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        /**
         * Список модераторов
         * @returns {Promise<AxiosResponse<T> | *>}
         */
        async getData() {
            return axios.get('/api/moderators/rating-list')
                .then((response) => {
                    this.moderators = response.data;
                })
                .catch((error) => {
                    this.moderators = [];

                    console.log(error);
                });
        },
        /**
         * Фильтр модераторов
         * @returns {boolean}
         */
        moderatorFilterShow(moderator) {
            switch (this.moderatorsFilter.selected) {
                case 'active':
                    return moderator.active === 1 && moderator.deleted_at === null;
                case 'inactive':
                    return moderator.active === 0 && moderator.deleted_at === null;
                case 'deleted':
                    return moderator.deleted_at !== null;
                default:
                    return true;
            }
        },
        /**
         * Форматирование значения рейтинга качества
         * @param {moderators} moderator Модератор
         * @returns {string}
         */
        formatRatingQuality(moderator) {
            return this.formatRating(moderator, 'rating_quality');
        },
        /**
         * Форматирование значения рейтинга скорости
         * @param {moderators} moderator Модератор
         * @returns {string}
         */
        formatRatingShift(moderator) {
            return this.formatRating(moderator, 'rating_shift');
        },
        /**
         * Форматирование значения рейтинга
         * @param {moderators} moderator Модератор
         * @param {string} type
         * @returns {string}
         */
        formatRating(moderator, type) {
            try {
                const rating = moderator.rating[type];

                return rating ? parseFloat(rating).toPrecision() : '0';
            } catch (e) {
                return '0';
            }
        },
        /**
         * Имя класса для рейтинга качества модератора
         * @param {moderators} moderator Модератор
         * @returns {string}
         */
        ratingClassQuality(moderator) {
            return this.ratingClass(moderator, 'rating_quality');
        },
        /**
         * Имя класса для рейтинга скорости модератора
         * @param {moderators} moderator Модератор
         * @returns {string}
         */
        ratingClassShift(moderator) {
            return this.ratingClass(moderator, 'rating_shift');
        },
        /**
         * Имя класса для рейтинга модератора
         * @param {moderators} moderator Модератор
         * @param {string} type
         * @returns {string}
         */
        ratingClass(moderator, type) {
            try {
                const rating = moderator.rating[type];

                return rating > 0 ? 'bg-success' : (rating < 0 ? 'bg-danger' : 'bg-secondary');
            } catch (e) {
                return 'bg-secondary';
            }
        },
        /**
         * Количество не перемещенных контролером фото
         * @param {moderators} moderator Модератор
         * @param {string} key Тип статуса указанный модератором
         * @returns {number}
         */
        qualityValueCorrect(moderator, key) {
            try {
                const quality = moderator.rating.metadata.quality.correct[key];

                return quality ? parseInt(quality) : 0;
            } catch (e) {
                return 0;
            }
        },
        /**
         * Количество перемещенных контролером фото
         * @param {moderators} moderator Модератор
         * @param {string} key Тип статуса указанный модератором
         * @returns {number}
         */
        qualityValueMistake(moderator, key) {
            try {
                let value = 0;

                for (let v of Object.values(moderator.rating.metadata.quality.mistake[key])) {
                    value += parseInt(v);
                }

                return value;
            } catch (e) {
                return 0;
            }
        },
        /**
         * Количество фото проверенных за указанный интервал времени после ее загрузки
         * @param {moderators} moderator
         * @param {string} key
         * @returns {number}
         */
        shiftValue(moderator, key) {
            try {
                const shift = moderator.rating.metadata.shift[key];

                return shift ? parseInt(shift) : 0;
            } catch (e) {
                return 0;
            }
        },
    }
}
</script>