<template>
  <form class="form-signin" v-on:submit.prevent>
    <h2 class="form-signin-heading">вход в административный раздел</h2>
    <div class="login-wrap">
      <input type="text" v-model="email" class="form-control" placeholder="email" autofocus>
      <input type="password" v-model="password" class="form-control" placeholder="Password">
      <b-alert variant="danger" dismissible :show="showErrorAlert" @dismissed="showErrorAlert=false"> {{ error_text }} </b-alert>
      <label class="checkbox">
        <span class="pull-right">
          <a data-toggle="modal" href="#myModal"> восстановление пароля</a>
        </span>
      </label>
      <button class="btn btn-lg btn-login btn-block" v-on:click="loginauth">Вход</button>
    </div>
  </form>
</template>

<script>
import {AUTH_REQUEST} from '../../store/actions/auth'

export default {
  data: () => ({
    email: '',
    password: '',
    error_text: '',
    showErrorAlert: false
  }),
  methods: {
    loginauth: function (event) {
      this.showErrorAlert = false;
      const { email, password } = this
      this.$store.dispatch(AUTH_REQUEST, { email, password })
      .then(() => {
          let orig = window.location.protocol + '//' + window.location.host;
          let referrer = document.referrer;
          let reg = new RegExp(orig + '(?!login\/).*');

          if (referrer.match(reg) !== null) {
              window.location.href = referrer;
          } else {
              window.location.href = '/';
          }
      })
      .catch(e => {
        if(typeof e.data.success == 'undefined' && e.data.success == false) {
          this.error_text = 'Неправильный email или пароль. Или все вместе.';
          this.showErrorAlert = true;
        } else {
          this.error_text = 'Произошла ошибка во время авторизации.';
          this.showErrorAlert = true;
        }
      })
    }
  }
}
</script>
