<template>
    <section class="wrapper">
        <template v-if="loading">
            <div class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>
        </template>
        <template v-else>
            <b-container fluid class="inner-content-header">
                <h3><strong>Модераторы</strong></h3>
            </b-container>

            <div v-if="checkPermission('verification_photos__inspect')" class="m-bot15">
                <b-form inline @submit.prevent="searchUser()">
                    <b-form-input v-model.trim="searchUserId"
                                  placeholder="Id пользователя"></b-form-input>
                    <b-button variant="success"
                              type="submit"
                              :disabled="btnUserSearch()"
                    >Поиск</b-button>
                </b-form>
            </div>

            <div>
                <template v-if="moderators">
                    <table v-for="moderator in moderators" class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th class="photos-inspect-list__moderator-name">
                                    {{ moderator.name }} <span v-if="moderator.deleted_at" class="photos-inspect__moderator_deleted">(удален)</span>
                                </th>
                                <th class="photos-inspect-list__values text-center">Не проверено</th>
                                <th class="photos-inspect-list__values text-center text-success">Проверено контролером</th>
                                <th class="photos-inspect-list__values text-center text-danger">Перемещено контролером</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, k) in moderator.status">
                                <td>{{ statusLinkTitle(k) }}</td>
                                <td class="text-center">
                                    <template v-if="v.not_confirmed > 0">
                                        <a :href="statusLinkHref(moderator.id, k)"><b-badge :variant="variantBadge(k)">{{ v.not_confirmed }}</b-badge></a>
                                    </template>
                                    <template v-else>
                                        <b-badge variant="secondary">0</b-badge>
                                    </template>
                                </td>
                                <td class="text-center">
                                    <template v-if="k === 'deferred'">
                                        <i class="fas fa-minus"></i>
                                    </template>
                                    <template v-else>
                                        <template v-if="v.confirmed > 0">
                                            <a :href="statusLinkHrefConfirmed(moderator.id, k)"><b-badge :variant="variantBadge(k)">{{ v.confirmed }}</b-badge></a>
                                        </template>
                                        <template v-else>
                                            <b-badge variant="secondary">0</b-badge>
                                        </template>
                                    </template>
                                </td>
                                <td class="text-center">
                                    <template v-if="v.changed > 0">
                                        <a :href="statusLinkHrefChanged(moderator.id, k)"><b-badge :variant="variantBadge(k)">{{ v.changed }}</b-badge></a>
                                    </template>
                                    <template v-else>
                                        <b-badge variant="secondary">0</b-badge>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
                <template v-else>
                    Модераторы не найдены
                </template>
            </div>
        </template>
    </section>
</template>

<script>
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import Spinner from 'vue-simple-spinner'

export default {
    mixins: [permissions],
    components: {
        'vue-simple-spinner': Spinner,
    },
    data() {
        return {
            urlRequest: {
                getData: '/api/status-photos-inspect/moderators',
                searchUser: '/api/status-photos-inspect/search',
            },
            /**
             * @property {number} id
             * @property {string} name
             * @property {number} role
             * @property {string} deleted_at
             * @property {object} status
             * @property {object} status.deferred
             * @property {number} status.deferred.not_confirmed
             * @property {number} status.deferred.confirmed
             * @property {number} status.deferred.changed
             * @property {object} status.verification_main
             * @property {number} status.verification_main.not_confirmed
             * @property {number} status.verification_main.confirmed
             * @property {number} status.verification_main.changed
             * @property {object} status.verification_inner
             * @property {number} status.verification_inner.not_confirmed
             * @property {number} status.verification_inner.confirmed
             * @property {number} status.verification_inner.changed
             * @property {object} status.forbidden_avatar
             * @property {number} status.forbidden_avatar.not_confirmed
             * @property {number} status.forbidden_avatar.confirmed
             * @property {number} status.forbidden_avatar.changed
             * @property {object} status.forbidden_show
             * @property {number} status.forbidden_show.not_confirmed
             * @property {number} status.forbidden_show.confirmed
             * @property {number} status.forbidden_show.changed
             * @property {object} status.blocked
             * @property {number} status.blocked.not_confirmed
             * @property {number} status.blocked.confirmed
             * @property {number} status.blocked.changed
             * @property {object} status.banned_acc
             * @property {number} status.banned_acc.not_confirmed
             * @property {number} status.banned_acc.confirmed
             * @property {number} status.banned_acc.changed
             * @property {object} status.banned_dev
             * @property {number} status.banned_dev.not_confirmed
             * @property {number} status.banned_dev.confirmed
             * @property {number} status.banned_dev.changed
             */
            moderators: [],
            searchUserId: '',
            loading: true,
        }
    },
    watch: {
        '$route'(to, from) {
            if (to.name !== from.name) {
                document.location.reload();
            }
        }
    },
    async mounted() {
        await this.getCurrentUser();

        this.getData();
    },
    methods: {
        /* список модераторов */
        getData() {
            this.moderators = [];
            this.loading = true;

            axios.get(this.urlRequest.getData)
                .then((response) => {
                    if (!response.data.hasOwnProperty('moderators')) {
                        return false;
                    }

                    this.moderators = response.data.moderators;
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* поиск фотографий пользователя */
        searchUser() {
            if (this.btnUserSearch()) {
                return false;
            }

            this.$router.push({name: 'StatusPhotosInspectSearch', params: {'id': this.searchUserId}});
        },
        /* доступность кнопки поиска фотографий пользователя */
        btnUserSearch() {
            let btn = false;

            if (isNaN(this.searchUserId) || !(/^[0-9]+$/g).test(this.searchUserId) || this.searchUserId <= 0) {
                btn = true;
            }

            return btn;
        },
        statusLinkHref(admin_id, status) {
            return this.getStatusLink(admin_id, status, 'StatusPhotosInspectShow');
        },
        statusLinkHrefConfirmed(admin_id, status) {
            return this.getStatusLink(admin_id, status, 'StatusPhotosInspectShowConfirmed');
        },
        statusLinkHrefChanged(admin_id, status) {
            return this.getStatusLink(admin_id, status, 'StatusPhotosInspectShowChanged');
        },
        getStatusLink(admin_id, status, name) {
            let route = this.$router.resolve({
                name: name,
                params: {id: admin_id, status: status.replace(/_/g, '-')},
            });

            return route.href;
        },
        statusLinkTitle(status) {
            const titles = {
                'deferred': 'Отложено',
                'verification_main': 'Одобрено (главное)',
                'blocked': 'Временно заблокировано (главное)',
                'verification_inner': 'Одобрено (внутреннее)',
                'forbidden_avatar': 'Запрещено для аватара (внутреннее)',
                'forbidden_show': 'Запрещено для показа (внутреннее)',
                'banned_acc': 'Бан аккаунта',
                'banned_dev': 'Бан устройства',
            };
            let title = status;

            if (titles.hasOwnProperty(status)) {
                title = titles[status];
            }

            return title;
        },
        variantBadge(status) {
            let variant = '';

            switch (status) {
                case 'verification_main':
                case 'verification_inner':
                    variant = 'success';
                    break;
                case 'deferred':
                case 'forbidden_avatar':
                case 'banned_acc':
                    variant = 'warning';
                    break;
                case 'forbidden_show':
                case 'banned_dev':
                    variant = 'danger';
                    break;
                case 'blocked':
                    variant = 'primary';
                    break;
                default:
                    variant = 'light';
                    break;
            }

            return variant
        },
    },
}
</script>