<template>
    <section class="wrapper">
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3>
                        <a :href="listLinkHref()"><i class="fas fa-chevron-circle-left"></i></a>
                        <strong>
                            <template v-if="!user.hasOwnProperty('name')">Поиск фотографий пользователя</template>
                            <template v-else>
                                Фотографии пользователя: {{ user.name }}
                            </template>
                        </strong>
                    </h3>
                </div>
                <div v-if="pageNav.lastPage > 1" class="top-pagination search-block-pagination">
                    <paginate
                            v-model="pageNav.currentPage"
                            :page-count="pageNav.lastPage"
                            :click-handler="getData"
                            :prev-text="pageNav.prev"
                            :next-text="pageNav.next"
                            :page-range="5"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link-item'"
                            :prev-class="'prev-item'"
                            :prev-link-class="'prev-link-item'"
                            :next-class="'next-item'"
                            :next-link-class="'next-link-item'"
                            :break-view-class="'break-view'"
                            :break-view-link-class="'break-view-link'"
                    >
                    </paginate>
                </div>
                <div class="search-block-btns search-verification-photos">
                    <b-button-group class="btns-verification">
                        <b-button variant="success"
                                  title="Одобрить фото"
                                  @click="setVerificationSelected()"
                                  :disabled="!btnVerificationSelected()">
                            <i class="fas fa-user-check"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-photo-status">
                        <b-button variant="orange"
                                  title="Запретить фото для аватара"
                                  @click="setForbiddenAvatarSelected()"
                                  :disabled="!btnForbiddenAvatarSelected()">
                            <i class="fas fa-user-times"></i>
                        </b-button>
                        <b-button variant="danger"
                                  title="Запретить фото для показа"
                                  @click="setForbiddenShowSelected()"
                                  :disabled="!btnForbiddenShowSelected()">
                            <i class="fas fa-user-slash"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-block-account">
                        <b-button variant="primary"
                                  title="Временно заблокировать основное фото"
                                  @click="setBlockedSelected()"
                                  :disabled="!btnBlockedSelected()">
                            <i class="fas fa-exclamation-triangle"></i>
                            <i class="fas fa-ban"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-account">
                        <b-button variant="orange"
                                  title="Забанить аккаунт"
                                  @click="setBannedAccSelected()"
                                  :disabled="!btnBannedAccSelected()">
                            <i class="fas fa-portrait"></i>
                            <i class="fas fa-ban"></i>
                        </b-button>
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="setBannedDevSelected()"
                                  :disabled="!btnBannedDevSelected()">
                            <i class="fas fa-mobile-alt"></i>
                            <i class="fas fa-ban"></i>
                        </b-button>
                    </b-button-group>
                </div>
            </div>
        </b-container>

        <div :id="listBlockId" class="photos-inspect-wrap changed">
            <div v-if="loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div class="m-bot15">
                <b-form inline @submit.prevent="searchUser()">
                    <b-form-input v-model.trim="userId"
                                  placeholder="Id пользователя"></b-form-input>
                    <b-button variant="success"
                              type="submit"
                              :disabled="btnUserSearch()"
                    >Поиск</b-button>
                </b-form>
            </div>

            <div v-if="user.hasOwnProperty('name') && photos.length > 0">
                <div v-for="photo in photos" class="photo-inspect-container">
                    <div class="photo-inspect-container__row">
                        <template v-for="(photo_status, idx_status) in photo.verification">
                            <div class="photo-inspect-container__item">
                                <div class="show-photo">
                                    <span v-if="photo.main_photo === 1" class="text-success">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    <a :href="photo.href"
                                       :id="'photo' + idx_status + photo.photo_id"
                                       :data-lightbox="'photo' + idx_status + photo.photo_id"
                                       :data-title="getPhotoTitle()"
                                    ><i class="far fa-eye"></i></a>
                                </div>
                                <div class="photo-inspect-container__item-photo"
                                     :class="{ 'selected': isSelected(photo.photo_id) && idx_status === photo.verification.length - 1 }"
                                     @click="toggleSelectPhoto(photo)">
                                    <div v-if="photo.deleted_at" class="deleted-corner">
                                        <i class="fas fa-trash-alt"></i>
                                        <div></div>
                                    </div>
                                    <div v-if="photo_status.status !== 0" class="status-corner">
                                        <template v-if="photo_status.status === -1">
                                            <i class="far fa-clock"></i>
                                            <div class="corner-deferred"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 1">
                                            <i class="fas fa-user-check"></i>
                                            <div class="corner-verification"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 2">
                                            <i class="fas fa-user-times"></i>
                                            <div class="corner-forbidden-avatar"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 3">
                                            <i class="fas fa-user-slash"></i>
                                            <div class="corner-forbidden-show"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 4">
                                            <i class="fas fa-exclamation-triangle"></i>
                                            <div class="corner-blocked"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 5">
                                            <i class="fas fa-portrait"></i>
                                            <div class="banned-acc"></div>
                                        </template>
                                        <template v-else-if="photo_status.status === 6">
                                            <template v-if="photo_status.associated === 1">
                                                <i class="fas fa-plus-circle"></i>
                                            </template>
                                            <i class="fas fa-mobile-alt"></i>
                                            <div :class="[photo_status.associated === 1 ? 'banned-dev-associated' : 'banned-dev']"></div>
                                        </template>
                                    </div>
                                    <img v-lazy="{ src: photo.prev, loading: '/images/loading-image.png' }"
                                         :key="photo.prev + '_' + photo_status.date"
                                         :class="{ changed: isChanged(photo, idx_status) }"
                                         src="" alt="">
                                </div>
                                <div class="photo-inspect-container__bottom">
                                    <div class="photo-inspect-container__bottom-status">
                                        <div :class="photoStatusClass(photo_status.status)">
                                            <div><i :class="photoStatusIcon(photo_status.status)"></i></div>
                                            <div>
                                                <div>{{ photoStatusTitle(photo_status.status) }}</div>
                                                <div>
                                                    <time v-if="photo_status.date">
                                                        {{ formatDateTime(photo_status.date) }}
                                                    </time>
                                                    <template v-if="photo_status.admin">
                                                        {{ photo_status.admin }}
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="photo-inspect-container__bottom-user">
                                        <div class="photo-inspect-container__user-avatar">
                                            <img v-lazy="{ src: user.avatar, loading: '/images/loading-avatar.png' }"
                                                 :key="user.avatar" src="" alt="">
                                        </div>
                                        <div>
                                            <div class="photo-inspect-container__user-name">
                                            <span v-if="checkPermission('users__edit')">
                                                <a :href="'/users/user/edit?id=' + user.user_id" target="_blank">{{ user.name }}</a>
                                            </span>
                                                <span v-else>
                                                {{ user.name }}
                                            </span>
                                                <span>({{ user.years }})</span>
                                            </div>
                                            <div v-if="user.city" class="photo-inspect-container__user-city">
                                                {{ user.city }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="photo.verification.length > idx_status + 1" class="photo-inspect-changed__arrow">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
            <div v-else-if="loading === false">
                <b-alert show variant="dark">
                    <template v-if="!user.hasOwnProperty('name')">
                        Пользователь не найден
                    </template>
                    <template v-else>
                        Фотографии пользователя не найдены
                    </template>
                </b-alert>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import Paginate from 'vuejs-paginate'
import VueLazyload from 'vue-lazyload'
import Spinner from 'vue-simple-spinner'
import ElUserPhotoBlock from '../elements/userPhotoBlock'

import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'

Vue.use(VueLazyload, {
    observer: true,
    observerOptions: {
        rootMargin: '100px',
        threshold: 0.1
    }
});
Vue.component('paginate', Paginate);

export default {
    name: 'StatusPhotosSearch',
    mixins: [permissions],
    components: {
        'vue-simple-spinner': Spinner,
        ElUserPhotoBlock
    },
    data() {
        return {
            urlRequest: {
                listData: '/api/status-photos-inspect',
                getData: '/api/status-photos-inspect/moderator',
                setStatus: '/api/status-photos-inspect/set-status',
                confirmStatus: '/api/status-photos-inspect/confirm',
                searchUser: '/api/status-photos-inspect/search',
            },
            listBlockId: 'photos_list',
            pageNav: {
                total: 0,
                from: 0,
                to: 0,
                currentPage: 1,
                lastPage: 1,
                prev: '<i class="fas fa-angle-left"></i>',
                next: '<i class="fas fa-angle-right"></i>',
            },
            status: '',
            statusAvailable: [
                'deferred',
                'verification-main',
                'verification-inner',
                'forbidden-avatar',
                'forbidden-show',
                'blocked',
                'banned-acc',
                'banned-dev',
            ],
            statusAvailableMainPhoto: [
                'deferred',
                'banned-acc',
                'banned-dev',
            ],
            /**
             * @property {number} user_id
             * @property {string} name
             * @property {number} years
             * @property {string} city
             * @property {string} avatar
             * @property {number} vip
             * @property {number} banned_acc
             * @property {number} banned_dev
             * @property {number} devices
             */
            user: {},
            /**
             * @property {number} photos.i.photo_id
             * @property {string} photos.i.prev
             * @property {string} photos.i.href
             * @property {number} photos.i.main_photo
             * @property {string} photos.i.deleted_at
             * @property {object} photos.i.verification
             * @property {object} photos.i.verification.i
             * @property {string} photos.i.verification.i.admin
             * @property {string} photos.i.verification.i.date
             * @property {number} photos.i.verification.i.status
             * @property {object} photos.i.verification_last
             * @property {string} photos.i.verification_last.admin
             * @property {string} photos.i.verification_last.date
             * @property {number} photos.i.verification_last.status
             * @property {number} photos.i.verification_last.status_old
             */
            photos: [],
            selected: [],
            userId: '',
            loading: true,
        }
    },
    created() {
        this.userId = this.$route.params.id;
    },
    async mounted() {
        await this.getCurrentUser();
        await this.getData();
        this.setListPosition();
    },
    watch: {
        '$route'(to, from) {
            if (to.name !== from.name) {
                document.location.reload();
            }
        },
        '$route.params.id'(id) {
            this.userId = id;
            this.getData();
        }
    },
    methods: {
        /* новый поиск фото пользователя */
        searchUser() {
            this.$router.push({
                name: 'StatusPhotosInspectSearch',
                params: {id: this.userId}
            });

            this.getData();
        },
        /* доступность кнопки поиска */
        btnUserSearch() {
            let btn = false;

            if (isNaN(this.userId) || !(/^[0-9]+$/g).test(this.userId) || this.userId <= 0) {
                btn = true;
            }

            return btn;
        },
        /* расчет отступа блока с фото */
        setListPosition() {
            let block = $('#' + this.listBlockId);
            let search = $('.search-block');

            this.$nextTick(() => {
                block.css('margin-top', search.height() + 'px');
            });
        },
        /* список фото и информация о модераторе */
        async getData() {
            if (!this.userId) {
                return false;
            }

            this.user = {};
            this.photos = [];
            this.loading = true;

            await axios.post(this.urlRequest.searchUser, {'user': this.userId, 'page': this.pageNav.currentPage})
                .then((response) => {
                    if (!response.data.hasOwnProperty('data') || !response.data.data.hasOwnProperty('user')
                        || !response.data.data.hasOwnProperty('photos')) {
                        return false;
                    }

                    let photos = [];
                    for (let photo of response.data.data.photos) {
                        if (photo.verification.length > 0) {
                            const lastStatus = photo.verification.map(i => ({ ...i})).slice(-1)[0];

                            photo.verification_last = lastStatus;
                            photo.verification_last['status_old'] = lastStatus.status;
                            photos.push(photo);
                        }
                    }

                    this.user = response.data.data.user;
                    this.photos = photos;
                    this.pageNav = {
                        'from': response.data.from,
                        'to': response.data.to,
                        'total': response.data.total,
                        'currentPage': response.data.current_page,
                        'lastPage': response.data.last_page,
                        prev: this.pageNav.prev,
                        next: this.pageNav.next,
                    };
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* обновление списка фото */
        refreshData() {
            this.getData();
        },
        /* выбор фото */
        toggleSelectPhoto(photo) {
            const index = this.selected.indexOf(photo.photo_id);

            if ((photo.verification_last.admin_id !== this.current_user.id && photo.verification_last.level >= this.current_user.level)
                || photo.verification_last.level > this.current_user.level) {
                return false;
            }

            if (index !== -1) {
                this.selected.splice(index, 1);
            } else {
                this.selected.push(photo.photo_id);
            }
        },
        /* проверка выбора фото */
        isSelected(photo_id) {
            return this.selected.indexOf(photo_id) !== -1;
        },
        /* информация о фото по id */
        getPhotoById(photo_id) {
            const photo = this.photos.find(x => x.photo_id === photo_id);

            if (!photo) {
                return false;
            }

            return photo;
        },
        /* доступность кнопок для выбранных фото */
        bntSelectedAvailable() {
            if (!this.checkPermission('verification_photos__inspect') || this.selected.length === 0 || this.loading !== false) {
                return false;
            }

            for (const index of this.selected) {
                const photo = this.getPhotoById(index);

                if (!photo) {
                    return false;
                }

                if (photo.verification_last.admin_id !== this.current_user.id && photo.verification_last.level >= this.current_user.level) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "проверить" для выбранных фото */
        btnVerificationSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (!photo) {
                    return false;
                }

                if ((status === 1 && photo.verification_last.status === 1) || (status === 0 && photo.verification_last.status !== 1)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрет для аватара" для выбранных фото */
        btnForbiddenAvatarSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 1 || (status === 1 && photo.verification_last.status === 2) || (status === 0 && photo.verification_last.status !== 2)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрет для показа" для выбранных фото */
        btnForbiddenShowSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 1 || (status === 1 && photo.verification_last.status === 3) || (status === 0 && photo.verification_last.status !== 3)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "временная блокировка" для выбранных фото */
        btnBlockedSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 0 || (status === 1 && photo.verification_last.status === 4) || (status === 0 && photo.verification_last.status !== 4)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "бан пользователя" для выбранных фото */
        btnBannedAccSelected() {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.verification_last.status === 5) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "бан устройства" для выбранных фото */
        btnBannedDevSelected() {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.verification_last.status === 6 || this.user.devices === 0) {
                    return false;
                }
            }

            return true;
        },
        /* проверка выбранных фото */
        setVerificationSelected() {
            if (!confirm('Одобрить выбранные фото?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 1})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* запрет аватара выбранных фото */
        setForbiddenAvatarSelected() {
            if (!confirm('Запретить для аватара выбранные фото?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 2})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* запрет показа выбранных фото */
        setForbiddenShowSelected() {
            if (!confirm('Запретить для показа выбранные фото?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 3})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* блокировка выбранных фото */
        setBlockedSelected() {
            if (!confirm('Временно заблокировать выбранные фото?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 4})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан аккаунта отмеченных пользователей */
        setBannedAccSelected() {
            if (!confirm('Забанить аккаунт выбранных пользователей?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 5})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан устройств отмеченных пользователей */
        setBannedDevSelected() {
            if (!confirm('Забанить устройство выбранных пользователей?') || this.loading !== false) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 6})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка нового статуса для выбранных фото */
        updatePhotosStatus(photos) {
            let changed = [];

            for (const stat of photos) {
                const index = this.photos.findIndex(el => el.photo_id === stat.photo_id);

                if (!this.photos.hasOwnProperty(index)) {
                    continue;
                }

                if ((this.photos[index].verification_last.status === 5 && stat.status !== 5) || (this.photos[index].verification_last.status === 6 && stat.status !== 6)) {
                    this.selected = [];
                    this.getData();

                    return true;
                }

                this.photos[index].verification_last.status = stat.status;
                changed.push(stat.photo_id);
            }

            this.selected = [];

            for (let photo of this.photos) {
                if (!changed.includes(photo.photo_id)) {
                    continue;
                }

                let last = photo.verification[photo.verification.length - 1];

                if (last.admin_id === this.current_user.id) {
                    last.status = photo.verification_last.status;
                    last.date = moment().format('YYYY-MM-DD HH:mm:ss');
                } else {
                    let newStatus = {
                        admin_id: this.current_user.id,
                        admin: this.current_user.name,
                        status: photo.verification_last.status,
                        date: moment().format('YYYY-MM-DD HH:mm:ss'),
                    };

                    photo.verification.push(newStatus);
                }
            }

            return false;
        },
        pageTitle() {
            switch (this.status) {
                case 'deferred':
                    return 'Отложено';
                case 'verification-main':
                    return 'Одобрено (главное)';
                case 'verification-inner':
                    return 'Одобрено (внутреннее)';
                case 'forbidden-avatar':
                    return 'Запрещено для аватара (внутреннее)';
                case 'forbidden-show':
                    return 'Запрещено для показа (внутреннее)';
                case 'blocked':
                    return 'Временно заблокировано (главное)';
                case 'banned-acc':
                    return 'Бан аккаунта';
                case 'banned-dev':
                    return 'Бан устройства';
                default:
                    return '';
            }
        },
        pageTitleClass() {
            switch (this.status) {
                case 'verification-main':
                case 'verification-inner':
                    return 'text-success';
                case 'deferred':
                case 'forbidden-avatar':
                case 'banned-acc':
                    return 'text-warning';
                case 'blocked':
                    return 'text-info';
                case 'forbidden-show':
                case 'banned-dev':
                    return 'text-danger';
                default:
                    return '';
            }
        },
        photoStatusTitle(status) {
            if (status === -1) {
                return 'Отложено';
            } else if (status === 0) {
                return 'Не обработано';
            } else if (status === 1) {
                return 'Одобрено';
            } else if (status === 2) {
                return 'Запрещено для аватара';
            } else if (status === 3) {
                return 'Запрещено для показа';
            } else if (status === 4) {
                return 'Врем. заблокировано';
            } else if (status === 5) {
                return 'Бан аккаунта';
            } else if (status === 6) {
                return 'Бан устройства';
            } else {
                return 'Неизвестно';
            }
        },
        photoStatusClass(status) {
            if (status === -1) {
                return 'deferred-photo';
            } else if (status === 0) {
                return 'reset-photo';
            } else if (status === 1) {
                return 'verification';
            } else if (status === 2) {
                return 'forbidden-avatar';
            } else if (status === 3) {
                return 'forbidden-show';
            } else if (status === 4) {
                return 'blocked-photo';
            } else if (status === 5) {
                return 'banned-acc';
            } else if (status === 6) {
                return 'banned-dev';
            } else {
                return '';
            }
        },
        photoStatusIcon(status) {
            if (status === -1) {
                return 'far fa-clock';
            } else if (status === 0) {
                return 'fas fa-undo';
            } else if (status === 1) {
                return 'fas fa-check-circle fa-lg';
            } else if (status === 2) {
                return 'fas fa-user-times';
            } else if (status === 3) {
                return 'fas fa-user-slash';
            } else if (status === 4) {
                return 'fas fa-exclamation-triangle fa-lg';
            } else if (status === 5) {
                return 'fas fa-portrait fa-lg';
            } else if (status === 6) {
                return 'fas fa-mobile-alt fa-lg';
            } else {
                return '';
            }
        },
        isChanged(photo, index) {
            let last = photo.verification.length;

            if (last === 0 || index < last - 1) {
                return false;
            }
            last = last - 1;

            return photo.verification[last].status !== photo.verification_last.status_old;
        },
        listLinkHref() {
            let route = this.$router.resolve({
                name: 'StatusPhotosInspectList',
            });

            return route.href;
        },
        getPhotoTitle() {
            let title = this.user.name + ', ' + this.user.years;

            if (this.user.city !== null && this.user.city.length > 0) {
                title += ' (' + this.user.city + ')';
            }

            return title;
        },
        /* формат даты */
        formatDateTime(value, fmt = 'DD.MM.YY HH:mm') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
    },
}
</script>