<template>
    <section class="wrapper">
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3>
                        <a :href="listLinkHref()"><i class="fas fa-chevron-circle-left"></i></a>
                        <strong><span class="custom-text" :class="pageTitleClass()">{{ pageTitle() }}</span> &mdash;
                            <span class="custom-text text-success">подтвержденные:</span> {{ moderator.name }}
                            <span v-if="moderator.deleted_at" class="photos-inspect__moderator_deleted">(удален)</span>
                            (<span>{{ pageNav.total }}</span>) показано
                            <span>{{ pageNav.from }} - {{ pageNav.to }}</span></strong>
                    </h3>
                </div>
                <div v-if="pageNav.lastPage > 1" class="top-pagination search-block-pagination">
                    <paginate
                            v-model="pageNav.currentPage"
                            :page-count="pageNav.lastPage"
                            :click-handler="getData"
                            :prev-text="pageNav.prev"
                            :next-text="pageNav.next"
                            :page-range="5"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link-item'"
                            :prev-class="'prev-item'"
                            :prev-link-class="'prev-link-item'"
                            :next-class="'next-item'"
                            :next-link-class="'next-link-item'"
                            :break-view-class="'break-view'"
                            :break-view-link-class="'break-view-link'"
                    >
                    </paginate>
                </div>
                <div class="search-block-btns search-verification-photos">
                    <template v-if="changeStatusAvailable === true">
                        <b-button-group class="btns-verification">
                            <b-button variant="success"
                                      title="Одобрить фото"
                                      @click="setVerificationSelected()"
                                      :disabled="!btnVerificationSelected()">
                                <i class="fas fa-user-check"></i>
                            </b-button>
                        </b-button-group>

                        <b-button-group class="btns-photo-status">
                            <b-button variant="orange"
                                      title="Запретить фото для аватара"
                                      @click="setForbiddenAvatarSelected()"
                                      :disabled="!btnForbiddenAvatarSelected()">
                                <i class="fas fa-user-times"></i>
                            </b-button>
                            <b-button variant="danger"
                                      title="Запретить фото для показа"
                                      @click="setForbiddenShowSelected()"
                                      :disabled="!btnForbiddenShowSelected()">
                                <i class="fas fa-user-slash"></i>
                            </b-button>
                        </b-button-group>

                        <b-button-group class="btns-block-account">
                            <b-button variant="primary"
                                      title="Временно заблокировать основное фото"
                                      @click="setBlockedSelected()"
                                      :disabled="!btnBlockedSelected()">
                                <i class="fas fa-exclamation-triangle"></i>
                                <i class="fas fa-ban"></i>
                            </b-button>
                        </b-button-group>

                        <b-button-group class="btns-ban-account">
                            <b-button variant="orange"
                                      title="Забанить аккаунт"
                                      @click="setBannedAccSelected()"
                                      :disabled="!btnBannedAccSelected()">
                                <i class="fas fa-portrait"></i>
                                <i class="fas fa-ban"></i>
                            </b-button>
                            <b-button variant="danger"
                                      title="Забанить устройство"
                                      @click="setBannedDevSelected()"
                                      :disabled="!btnBannedDevSelected()">
                                <i class="fas fa-mobile-alt"></i>
                                <i class="fas fa-ban"></i>
                            </b-button>
                        </b-button-group>
                    </template>
                </div>
            </div>

            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div v-if="statusAvailableMainPhoto.includes(status)" class="param-report-show-main-photo">
                        <label>Главная:</label>
                        <div>
                            <toggle-button
                                    @change="toggleMainPhoto"
                                    :value="filterText.show_main_photo === 1"
                                    :color="{checked: '#53bee6', unchecked: '#a1a1a1'}"
                                    :width="64"
                                    :height="24"
                                    :sync="true"
                                    :key="'main_photo'"
                            />
                            <i class="fas fa-portrait" :class="{ selected: filterText.show_main_photo === 1 }"></i>
                        </div>
                    </div>
                </div>
            </b-row>
        </b-container>

        <div :id="listBlockId" class="photos-inspect-wrap">
            <div v-if="loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>
            <div v-for="photo in photos" class="photo-inspect-container">
                <div class="photo-inspect-container__item">
                    <div class="show-photo text-right">
                        <a :href="photo.href" :id="'photo' + photo.photo_id" :data-lightbox="'photo' + photo.photo_id"
                           :data-title="getPhotoTitle(photo.user)"><i class="far fa-eye"></i></a>
                    </div>
                    <div class="photo-inspect-container__item-photo" :class="{ 'selected': isSelected(photo.photo_id) }" @click="toggleSelectPhoto(photo.photo_id)">
                        <div v-if="photo.deleted_at" class="deleted-corner">
                            <i class="fas fa-trash-alt"></i>
                            <div></div>
                        </div>
                        <div v-if="photo.verification.status !== 0" class="status-corner">
                            <template v-if="photo.verification.status === -1">
                                <i class="far fa-clock"></i>
                                <div class="corner-deferred"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 1">
                                <i class="fas fa-user-check"></i>
                                <div class="corner-verification"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 2">
                                <i class="fas fa-user-times"></i>
                                <div class="corner-forbidden-avatar"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 3">
                                <i class="fas fa-user-slash"></i>
                                <div class="corner-forbidden-show"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 4">
                                <i class="fas fa-exclamation-triangle"></i>
                                <div class="corner-blocked"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 5">
                                <i class="fas fa-portrait"></i>
                                <div class="banned-acc"></div>
                            </template>
                            <template v-else-if="photo.verification.status === 6">
                                <template v-if="photo.verification.associated === 1">
                                    <i class="fas fa-plus-circle"></i>
                                </template>
                                <i class="fas fa-mobile-alt"></i>
                                <div :class="[photo.verification.associated === 1 ? 'banned-dev-associated' : 'banned-dev']"></div>
                            </template>
                        </div>
                        <img v-lazy="{ src: photo.prev, loading: '/images/loading-image.png' }"
                             :key="photo.prev"
                             :class="{ changed: isChanged(photo) }"
                             src="" alt="">
                    </div>
                    <div class="photo-inspect-container__bottom">
                        <div class="photo-inspect-container__bottom-status">
                            <div :class="photoStatusClass(photo.verification.status)">
                                <div><i :class="photoStatusIcon(photo.verification.status)"></i></div>
                                <div>
                                    <div>{{ photoStatusTitle(photo.verification.status) }}</div>
                                    <div>
                                        <time v-if="photo.verification.date">
                                            {{ formatDateTime(photo.verification.date) }}
                                        </time>
                                        <template v-if="photo.verification.admin">
                                            {{ photo.verification.admin }}
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo-inspect-container__bottom-user">
                            <div class="photo-inspect-container__user-avatar">
                                <img v-lazy="{ src: photo.user.avatar, loading: '/images/loading-avatar.png' }"
                                     :key="photo.user.avatar" src="" alt="">
                            </div>
                            <div>
                                <div class="photo-inspect-container__user-name">
                                    <span v-if="checkPermission('users__edit')">
                                        <a :href="'/users/user/edit?id=' + photo.user.user_id" target="_blank">{{ photo.user.name }}</a>
                                    </span>
                                    <span v-else>
                                        {{ photo.user.name }}
                                    </span>
                                    <span>({{ photo.user.years }})</span>
                                </div>
                                <div v-if="photo.user.city" class="photo-inspect-container__user-city">
                                    {{ photo.user.city }}
                                </div>
                            </div>
                        </div>
                        <!--user controls-->
                        <div v-if="changeStatusAvailable === true" class="users-list-photos__user_controls">
                            <div>
                                <b-button-group size="sm">
                                    <b-button variant="success"
                                              title="Одобрить фото"
                                              @click="setVerification(photo)"
                                              :disabled="!availableChangeStatus(photo, photosStatus.verification)">
                                        <i class="fas fa-user-check"></i>
                                    </b-button>
                                </b-button-group>

                                <b-button-group size="sm">
                                    <template v-if="photo.main_photo === 1">
                                        <b-button variant="primary"
                                                  title="Временно заблокировать основное фото"
                                                  @click="setBlocked(photo)"
                                                  :disabled="!availableChangeStatus(photo, photosStatus.blocked)">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </b-button>
                                    </template>
                                    <template v-else>
                                        <b-button variant="orange"
                                                  title="Запретить фото для аватара"
                                                  @click="setForbiddenAvatar(photo)"
                                                  :disabled="!availableChangeStatus(photo, photosStatus.forbidden_avatar)">
                                            <i class="fas fa-user-times"></i>
                                        </b-button>
                                        <b-button variant="danger"
                                                  title="Запретить фото для показа"
                                                  @click="setForbiddenShow(photo)"
                                                  :disabled="!availableChangeStatus(photo, photosStatus.forbidden_show)">
                                            <i class="fas fa-user-slash"></i>
                                        </b-button>
                                    </template>
                                </b-button-group>
                            </div>
                            <div>
                                <b-button-group size="sm">
                                    <b-button variant="orange"
                                              title="Забанить аккаунт"
                                              @click="setBannedAcc(photo)"
                                              :disabled="!availableChangeStatus(photo, photosStatus.banned_acc)">
                                        <i class="fas fa-portrait"></i>
                                    </b-button>
                                    <b-button variant="danger"
                                              title="Забанить устройство"
                                              @click="setBannedDev(photo)"
                                              :disabled="!availableChangeStatus(photo, photosStatus.banned_dev)">
                                        <i class="fas fa-mobile-alt"></i>
                                    </b-button>
                                </b-button-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import Paginate from 'vuejs-paginate'
import VueLazyload from 'vue-lazyload'
import ToggleButton from 'vue-js-toggle-button'
import VueCookie from 'vue-cookie'
import Spinner from 'vue-simple-spinner'
import ElUserPhotoBlock from '../elements/userPhotoBlock'

import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'

Vue.use(VueLazyload, {
    observer: true,
    observerOptions: {
        rootMargin: '100px',
        threshold: 0.1
    }
});
Vue.use(ToggleButton);
Vue.use(VueCookie);
Vue.component('paginate', Paginate);

const cookieShowMainPhoto = 'photos_inspect_main_photo';

export default {
    name: 'StatusPhotosInspectShow',
    mixins: [permissions],
    components: {
        'vue-simple-spinner': Spinner,
        ElUserPhotoBlock
    },
    data() {
        return {
            urlRequest: {
                listData: '/api/status-photos-inspect',
                getData: '/api/status-photos-inspect/moderator',
                setStatus: '/api/status-photos-inspect/set-status',
                confirmStatus: '/api/status-photos-inspect/confirm',
            },
            listBlockId: 'photos_list',
            pageNav: {
                total: 0,
                from: 0,
                to: 0,
                currentPage: 1,
                lastPage: 1,
                prev: '<i class="fas fa-angle-left"></i>',
                next: '<i class="fas fa-angle-right"></i>',
            },
            moderatorId: 0,
            photosStatus: {
                deferred: -1,
                reset: 0,
                verification: 1,
                forbidden_avatar: 2,
                forbidden_show: 3,
                blocked: 4,
                banned_acc: 5,
                banned_dev: 6,
            },
            status: '',
            statusAvailable: [
                'deferred',
                'verification-main',
                'verification-inner',
                'forbidden-avatar',
                'forbidden-show',
                'blocked',
                'banned-acc',
                'banned-dev',
            ],
            statusAvailableMainPhoto: [
                'deferred',
                'banned-acc',
                'banned-dev',
            ],
            filterText: {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                platform: 'na',
                show_main_photo: 0,
            },
            /**
             * @property {number} id
             * @property {string} name
             * @property {number} active
             * @property {string} deleted_at
             */
            moderator: {},
            /**
             * @property {number} photos.i.photo_id
             * @property {string} photos.i.prev
             * @property {string} photos.i.href
             * @property {number} photos.i.main_photo
             * @property {string} photos.i.deleted_at
             * @property {object} photos.i.user
             * @property {number} photos.i.user.user_id
             * @property {string} photos.i.user.name
             * @property {number} photos.i.user.years
             * @property {string} photos.i.user.city
             * @property {string} photos.i.user.avatar
             * @property {number} photos.i.user.vip
             * @property {number} photos.i.user.banned_acc
             * @property {number} photos.i.user.banned_dev
             * @property {number} photos.i.user.devices
             * @property {object} photos.i.verification
             * @property {string} photos.i.verification.admin
             * @property {string} photos.i.verification.date
             * @property {number} photos.i.verification.status
             * @property {number} photos.i.verification.status_old
             * @property {number} photos.i.verification.associated
             */
            photos: [],
            selected: [],
            changeStatusAvailable: false,
            loading: true,
        }
    },
    created() {
        this.moderatorId = this.$route.params.id;
        this.status = this.$route.params.status;
    },
    async mounted() {
        await this.getCurrentUser();

        let showMainPhoto = this.$cookie.get(cookieShowMainPhoto);

        if (showMainPhoto !== 0) {
            this.filterText.show_main_photo = parseInt(showMainPhoto, 10);
        }

        if (!this.statusAvailable.includes(this.status)) {
            alert('Указан неизвестный статус фото. Переход к списку модераторов');
            window.location.href = this.$router.resolve({name: 'StatusPhotosInspectList'}).href;
        } else {
            await this.getData();
            this.changeStatusAvailable = this.getStatusAvailable();
            this.setListPosition();
        }
    },
    methods: {
        /* расчет отступа блока с фото */
        setListPosition() {
            let block = $('#' + this.listBlockId);
            let search = $('.search-block');

            this.$nextTick(() => {
                block.css('margin-top', search.height() + 'px');
            });
        },
        getStatusAvailable() {
            return this.moderatorId !== this.current_user.id && this.moderator.level < this.current_user.level
                && this.checkPermission('verification_photos__inspect');
        },
        /* список фото и информация о модераторе */
        async getData() {
            this.moderator = {};
            this.photos = [];
            this.loading = true;

            const params = {
                page: this.pageNav.currentPage,
                filter: this.filterText,
                mode: 'confirmed',
            };

            await axios.post(this.urlRequest.getData + '/' + this.moderatorId + '/' + this.status, params)
                .then((response) => {
                    if (!response.data.hasOwnProperty('data')) {
                        return false;
                    }

                    let photos = [];
                    for (let photo of response.data.data.photos) {
                        photo.verification['status_old'] = photo.verification.status;

                        photos.push(photo);
                    }

                    this.moderator = response.data.data.moderator;
                    this.photos = photos;
                    this.pageNav = {
                        'from': response.data.from,
                        'to': response.data.to,
                        'total': response.data.total,
                        'currentPage': response.data.current_page,
                        'lastPage': response.data.last_page,
                        prev: this.pageNav.prev,
                        next: this.pageNav.next,
                    };
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* обновление списка фото */
        refreshData() {
            this.getData();
        },
        /*  */
        toggleSelectPhoto(photo_id) {
            if (!this.changeStatusAvailable) {
                return false;
            }

            const index = this.selected.indexOf(photo_id);

            if (index !== -1) {
                this.selected.splice(index, 1);
            } else {
                this.selected.push(photo_id);
            }
        },
        /*  */
        isSelected(photo_id) {
            return this.selected.indexOf(photo_id) !== -1;
        },
        /* */
        getPhotoById(photo_id) {
            const photo = this.photos.find(x => x.photo_id === photo_id);

            if (!photo) {
                return false;
            }

            return photo;
        },
        /* доступность кнопок для выбранных фото */
        bntSelectedAvailable() {
            if (!this.checkPermission('verification_photos__inspect') || this.selected.length === 0) {
                return false;
            }

            return !(this.moderatorId === this.current_user.id || this.moderator.level === this.current_user.level);


        },
        /* доступность кнопки "проверить" для выбранных фото */
        btnVerificationSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (!photo) {
                    return false;
                }

                if ((status === 1 && photo.verification.status === 1) || (status === 0 && photo.verification.status !== 1)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрет для аватара" для выбранных фото */
        btnForbiddenAvatarSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 1 || (status === 1 && photo.verification.status === 2) || (status === 0 && photo.verification.status !== 2)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрет для показа" для выбранных фото */
        btnForbiddenShowSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 1 || (status === 1 && photo.verification.status === 3) || (status === 0 && photo.verification.status !== 3)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "временная блокировка" для выбранных фото */
        btnBlockedSelected(status = 1) {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.main_photo === 0 || (status === 1 && photo.verification.status === 4) || (status === 0 && photo.verification.status !== 4)) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "бан пользователя" для выбранных фото */
        btnBannedAccSelected() {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            let unique = [];
            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.user.banned_acc === 1 || photo.verification.status === 5) {
                    return false;
                }

                // выбрано несколько фото одно пользователя
                if (unique.includes(photo.user.user_id)) {
                    return false;
                }
                unique.push(photo.user.user_id);
            }

            return true;
        },
        /* доступность кнопки "бан устройства" для выбранных фото */
        btnBannedDevSelected() {
            if (!this.bntSelectedAvailable()) {
                return false;
            }

            let unique = [];
            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo === false) {
                    return false;
                }

                if (photo.user.banned_dev === 1 || photo.verification.status === 6 || photo.user.devices === 0) {
                    return false;
                }

                // выбрано несколько фото одно пользователя
                if (unique.includes(photo.user.user_id)) {
                    return false;
                }
                unique.push(photo.user.user_id);
            }

            return true;
        },
        /* проверка выбранных фото */
        setVerificationSelected() {
            if (!confirm('Одобрить выбранные фото?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 1, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* запрет аватара выбранных фото */
        setForbiddenAvatarSelected() {
            if (!confirm('Запретить для аватара выбранные фото?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 2, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* запрет показа выбранных фото */
        setForbiddenShowSelected() {
            if (!confirm('Запретить для показа выбранные фото?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 3, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* блокировка выбранных фото */
        setBlockedSelected() {
            if (!confirm('Временно заблокировать выбранные фото?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 4, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* бан аккаунта отмеченных пользователей */
        setBannedAccSelected() {
            if (!confirm('Забанить аккаунт выбранных пользователей?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 5, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* бан устройств отмеченных пользователей */
        setBannedDevSelected() {
            if (!confirm('Забанить устройство выбранных пользователей?')) {
                return false;
            }
            return axios.post(this.urlRequest.setStatus, {photos: this.selected, status: 6, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        availableChangeStatus(photo, status) {
            return !(this.loading === true || photo.verification.status === status || !this.changeStatusAvailable);
        },
        /* установка статуса "проверено" */
        setVerification(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.verification)) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 1, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "запрещено для аватара" */
        setForbiddenAvatar(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.forbidden_avatar)) {
                return false;
            }

            if (!confirm('Запретить фото для аватара?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 2, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "запрещено для показа" */
        setForbiddenShow(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.forbidden_show)) {
                return false;
            }

            if (!confirm('Запретить фото для показа?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 3, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "временная блокировка" */
        setBlocked(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.blocked)) {
                return false;
            }

            if (!confirm('Временно заблокировать основное фото?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 4, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан аккаунта */
        setBannedAcc(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.banned_acc)) {
                return false;
            }

            if (!confirm('Забанить аккаунт?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 5, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан устройства */
        setBannedDev(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.banned_dev)) {
                return false;
            }

            if (!confirm('Забанить устройство?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 6, admin_id: this.moderatorId})
                .then((response) => {
                    this.updatePhotosStatus(response.data.changed);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка нового статуса для выбранных фото */
        updatePhotosStatus(photos, single = false) {
            for (const photo of photos) {
                const index = this.photos.findIndex(el => el.photo_id === photo.photo_id);

                if (!this.photos.hasOwnProperty(index)) {
                    continue;
                }

                if (this.photos[index].verification.status === 5 && photo.status !== 5 && this.photos[index].user.banned_acc === 1) {
                    this.photos[index].user.banned_acc = 0;
                } else if (this.photos[index].verification.status === 6 && photo.status !== 6 && this.photos[index].user.banned_dev === 1) {
                    this.photos[index].user.banned_dev = 0;
                }

                this.photos[index].verification.status = photo.status;
            }

            if (single === false) {
                this.selected = [];
            }

            for (const photo of this.photos) {
                if (photo.verification.status === photo.verification.status_old) {
                    return true;
                }
            }

            this.getData();

            return false;
        },
        /* показ только основное фото */
        toggleMainPhoto() {
            let show = 1;

            if (this.filterText.show_main_photo === 1) {
                show = 0;
            }

            this.$cookie.set(cookieShowMainPhoto, show);
            this.filterText.show_main_photo = show;

            this.getData();
        },
        pageTitle() {
            switch (this.status) {
                case 'deferred':
                    return 'Отложено';
                case 'verification-main':
                    return 'Одобрено (главное)';
                case 'verification-inner':
                    return 'Одобрено (внутреннее)';
                case 'forbidden-avatar':
                    return 'Запрещено для аватара (внутреннее)';
                case 'forbidden-show':
                    return 'Запрещено для показа (внутреннее)';
                case 'blocked':
                    return 'Временно заблокировано (главное)';
                case 'banned-acc':
                    return 'Бан аккаунта';
                case 'banned-dev':
                    return 'Бан устройства';
                default:
                    return '';
            }
        },
        pageTitleClass() {
            switch (this.status) {
                case 'verification-main':
                case 'verification-inner':
                    return 'text-success';
                case 'deferred':
                case 'forbidden-avatar':
                case 'banned-acc':
                    return 'text-warning';
                case 'blocked':
                    return 'text-info';
                case 'forbidden-show':
                case 'banned-dev':
                    return 'text-danger';
                default:
                    return '';
            }
        },
        photoStatusTitle(status) {
            if (status === -1) {
                return 'Отложено';
            } else if (status === 0) {
                return 'Не обработано';
            } else if (status === 1) {
                return 'Одобрено';
            } else if (status === 2) {
                return 'Запрещено для аватара';
            } else if (status === 3) {
                return 'Запрещено для показа';
            } else if (status === 4) {
                return 'Врем. заблокировано';
            } else if (status === 5) {
                return 'Бан аккаунта';
            } else if (status === 6) {
                return 'Бан устройства';
            } else {
                return 'Неизвестно';
            }
        },
        photoStatusClass(status) {
            if (status === -1) {
                return 'deferred-photo';
            } else if (status === 0) {
                return 'reset-photo';
            } else if (status === 1) {
                return 'verification';
            } else if (status === 2) {
                return 'forbidden-avatar';
            } else if (status === 3) {
                return 'forbidden-show';
            } else if (status === 4) {
                return 'blocked-photo';
            } else if (status === 5) {
                return 'banned-acc';
            } else if (status === 6) {
                return 'banned-dev';
            } else {
                return '';
            }
        },
        photoStatusIcon(status) {
            if (status === -1) {
                return 'far fa-clock';
            } else if (status === 0) {
                return 'fas fa-undo';
            } else if (status === 1) {
                return 'fas fa-check-circle fa-lg';
            } else if (status === 2) {
                return 'fas fa-user-times';
            } else if (status === 3) {
                return 'fas fa-user-slash';
            } else if (status === 4) {
                return 'fas fa-exclamation-triangle fa-lg';
            } else if (status === 5) {
                return 'fas fa-portrait fa-lg';
            } else if (status === 6) {
                return 'fas fa-mobile-alt fa-lg';
            } else {
                return '';
            }
        },
        isChanged(photo) {
            return photo.verification.status !== photo.verification.status_old;
        },
        listLinkHref() {
            let route = this.$router.resolve({
                name: 'StatusPhotosInspectList',
            });

            return route.href;
        },
        getPhotoTitle(user) {
            let title = user.name + ', ' + user.years;

            if (user.city !== null && user.city.length > 0) {
                title += ' (' + user.city + ')';
            }

            return title;
        },
        /* формат даты */
        formatDateTime(value, fmt = 'DD.MM.YY HH:mm') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        /* сообщение об ошибке */
        showResponseError(response) {
            console.log(response);

            if (response.data.hasOwnProperty('error')) {
                alert(response.data.error);
            }
        },
    },
}
</script>