<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3>
                        <strong>Фотографии пользователей (<span>{{ pageNav.total }}</span>) показано
                            <span>{{ pageNav.from }} - {{ pageNav.to }}</span></strong>
                    </h3>
                </div>
                <div v-if="pageNav.lastPage > 1" class="top-pagination search-block-pagination">
                    <paginate
                            v-model="pageNav.currentPage"
                            :page-count="pageNav.lastPage"
                            :click-handler="getData"
                            :prev-text="pageNav.prev"
                            :next-text="pageNav.next"
                            :page-range="5"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link-item'"
                            :prev-class="'prev-item'"
                            :prev-link-class="'prev-link-item'"
                            :next-class="'next-item'"
                            :next-link-class="'next-link-item'"
                            :break-view-class="'break-view'"
                            :break-view-link-class="'break-view-link'"
                    >
                    </paginate>
                </div>
                <div v-if="checkPermission('verification_photos__verification')"
                     class="search-block-btns search-verification-photos">
                    <template v-if="loading === false && current_user.level <= 10">
                        <template v-if="Object.keys(currentShift).length > 0 && currentShiftOwner === false">
                            <b-button variant="warning" @click="setStartedShift()">Начать проверку</b-button>
                        </template>
                        <template v-else-if="Object.keys(currentShift).length > 0 && currentShiftOwner === true">
                            <b-button variant="danger" @click="setFinishedShift()">Закончить проверку</b-button>
                        </template>
                        <template v-else>
                            <b-button variant="success" @click="setStartedShift()">Начать проверку</b-button>
                        </template>
                    </template>

                    <b-button class="btns-verification-recent"
                              variant="success"
                              title="Одобрить все оставшиеся фото на странице"
                              @click="setVerificationRemaining()"
                              :disabled="!btnVerificationRemaining()">
                        <i class="far fa-images"></i>
                        <i class="fas fa-check"></i>
                    </b-button>

                    <b-button-group class="btns-verification">
                        <b-button variant="success"
                                  title="Одобрить фото"
                                  @click="setVerificationSelected"
                                  :disabled="!btnVerificationSelected()">
                            <i class="fas fa-user-check"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-photo-status">
                        <b-button variant="orange"
                                  title="Запретить фото для аватара"
                                  @click="setForbiddenAvatarSelected()"
                                  :disabled="!btnForbiddenAvatarSelected()">
                            <i class="fas fa-user-times"></i>
                        </b-button>
                        <b-button variant="danger"
                                  title="Запретить фото для показа"
                                  @click="setForbiddenShowSelected()"
                                  :disabled="!btnForbiddenShowSelected()">
                            <i class="fas fa-user-slash"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-photo-defer">
                        <b-button variant="orange"
                                  title="Отложить фото"
                                  @click="setDeferredSelected()"
                                  :disabled="!btnDeferredSelected()">
                            <i class="far fa-image"></i>
                            <i class="far fa-clock"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-block-account">
                        <b-button variant="primary"
                                  title="Временно заблокировать основное фото"
                                  @click="setBlockedSelected()"
                                  :disabled="!btnBlockedSelected()">
                            <i class="fas fa-exclamation-triangle"></i>
                            <i class="fas fa-ban"></i>
                        </b-button>
                    </b-button-group>

                <b-button-group class="btns-ban-account">
                        <b-button variant="orange"
                                  title="Забанить аккаунт"
                                  @click="setBannedAccSelected()"
                                  :disabled="!btnBannedAccSelected()">
                            <i class="fas fa-portrait"></i>&nbsp;<i class="fas fa-ban"></i>
                        </b-button>
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="setBannedDevSelected()"
                                  :disabled="!btnBannedDevSelected()">
                            <i class="fas fa-mobile-alt"></i> <i class="fas fa-ban"></i>
                        </b-button>
                    </b-button-group>
                </div>
            </div>

            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text"
                               class="form-control"
                               v-model="filterText.user_id"
                               @keyup.enter="doFilter"
                               placeholder="Id"
                               :disabled="!verificationAvailable">
                    </div>
                    <div class="param-name">
                        <input type="text"
                               class="form-control"
                               v-model="filterText.name"
                               @keyup.enter="doFilter"
                               placeholder="Имя"
                               :disabled="!verificationAvailable">
                    </div>
                    <div class="param-city">
                        <input type="text"
                               class="form-control"
                               v-model="filterText.city"
                               @keyup.enter="doFilter"
                               placeholder="Город"
                               :disabled="!verificationAvailable">
                    </div>
                    <div class="param-gender">
                        <label for="search_form_gender">Пол:</label>
                        <select id="search_form_gender"
                                class="form-control"
                                v-model="filterText.gender"
                                :class="{ changed: onChangeSelect(filterText.gender) }"
                                :disabled="!verificationAvailable">
                            <option v-for="option in genderList" v-bind:value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   v-model="filterText.years_min"
                                   @keyup.enter="doFilter"
                                   placeholder="от"
                                   :disabled="!verificationAvailable">
                            <input type="text"
                                   class="form-control"
                                   v-model="filterText.years_max"
                                   @keyup.enter="doFilter"
                                   placeholder="до"
                                   :disabled="!verificationAvailable">
                        </div>
                    </div>
                    <div class="param-vip">
                        <label for="search_form_vip">VIP:</label>
                        <select id="search_form_vip"
                                class="form-control"
                                v-model="filterText.vip"
                                :class="{ changed: onChangeSelect(filterText.vip) }"
                                :disabled="!verificationAvailable">
                            <option v-for="option in vipList" v-bind:value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-platform">
                        <label for="search_form_online">Платформа:</label>
                        <select id="search_form_online"
                                class="form-control"
                                v-model="filterText.platform"
                                :class="{ changed: onChangeSelect(filterText.platform) }"
                                :disabled="!verificationAvailable">
                            <option v-for="option in platformList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-reg">
                        <template v-if="filterText.show_status === 'na'">
                            <label>Дата загрузки:</label>
                        </template>
                        <template v-else>
                            <label>Дата проверки:</label>
                        </template>

                        <div>
                            <vue-datepicker-local v-model="filterText.created_at_min"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="от"
                                                  :disabled="!verificationAvailable"
                                                  clearable/>
                            <vue-datepicker-local v-model="filterText.created_at_max"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="до"
                                                  :disabled="!verificationAvailable"
                                                  clearable/>
                        </div>
                    </div>
                    <div class="param-verification-photo-status">
                        <label for="search_form_forbidden">Статус:</label>
                        <select id="search_form_forbidden"
                                class="form-control"
                                v-model="filterText.show_status"
                                :class="{ changed: onChangeSelect(filterText.show_status) }"
                                :disabled="!verificationAvailable">
                            <option v-for="option in statusList" :value="option.id" :class="filterPhotoStatusClass(option)">
                                {{ option.name }} ({{ option.count }})
                            </option>
                        </select>
                    </div>
                    <div v-if="mainPhoto" class="param-report-show-main-photo">
                        <label>Главная:</label>
                        <div>
                            <toggle-button
                                    @change="showMainPhoto"
                                    :value="filterText.show_main_photo === 1"
                                    :color="{checked: '#53bee6', unchecked: '#a1a1a1'}"
                                    :width="64"
                                    :height="24"
                                    :sync="true"
                                    :key="'main_photo'"
                                    :disabled="!verificationAvailable"
                            />
                            <i class="fas fa-portrait" :class="{ selected: filterText.show_main_photo === 1 }"></i>
                        </div>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default"
                                  @click="resetFilter"
                                  :disabled="!verificationAvailable"
                        ><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info"
                                  @click="doFilter"
                                  :disabled="!verificationAvailable"
                        >Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="setListPosition"/>
        </b-container>
        <!-- / SEARCH FORM -->

        <div class="users-list-block">
            <div :id="listBlockId">
                <div v-if="loading" class="users-list-spinner">
                    <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
                </div>

                <div v-if="photos.length > 0" class="users-list-photos" :class="{ 'block-list-loading' : loading }">
                    <template v-if="photosRowsCalc === false" v-for="(row, row_idx) in photosRows">
                        <div class="users-list-photos__row-separator"></div>
                        <div class="users-list-photos__row-checkbox">
                            <label>
                                <b-form-checkbox
                                        v-model="row.selected"
                                        :indeterminate="row.indeterminate"
                                        @change="toggleRow(row_idx, $event)"
                                ></b-form-checkbox>
                            </label>
                        </div>
                        <template v-for="k of row.items">
                            <div class="users-list-photos__row-photos" :data-title="photos[k].photo_id">
                                <div class="users-list-photos__item-block">
                                    <!--photo controls-->
                                    <div class="users-list-photos__photo_controls">
                                        <div>
                                            <toggle-button
                                                    v-if="checkPermission('verification_photos__verification')"
                                                    @change="setVerification(photos[k])"
                                                    :value="photos[k].verification.status === 1"
                                                    :color="{checked: '#6dbb4a', unchecked: '#ff6c60'}"
                                                    :width="46"
                                                    :height="20"
                                                    :sync="true"
                                                    :key="'verification'+photos[k].photo_id"
                                                    :disabled="!availableChangeStatus(photos[k], photosStatus.verification)"
                                            />
                                            <template v-if="photos[k].blocked_count > 0 && photos[k].main_photo === 1">
                                                <div class="blocked-photo-count">
                                                    <i class="fas fa-exclamation-triangle"></i> <span>{{ photos[k].blocked_count }}</span>
                                                </div>
                                            </template>
                                            <template v-if="photos[k].reports_count > 0">
                                                <div class="report-photo-count-wrap">
                                                    <div class="report-photo-count">
                                                        <i class="far fa-angry"></i> <span>{{ photos[k].reports_count }}</span>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                        <div class="show-photo">
                                            <a :href="photos[k].href" :id="'photo' + photos[k].user.user_id"
                                               :data-lightbox="'photo' + photos[k].user.user_id"
                                               :data-title="getPhotoTitle(photos[k].user)"><i class="far fa-eye"></i></a>
                                        </div>
                                    </div>

                                    <!--photo-->
                                    <div :class="{ selected: selected.hasOwnProperty(k) }" @click="togglePhoto(k)"
                                         class="users-list-photos__item-photo">
                                        <div v-show="photos[k].verification.status !== 0" class="status-corner">
                                            <template v-if="photos[k].verification.associated === 1">
                                                <i class="fas fa-plus-circle"></i>
                                            </template>
                                            <i :class="photoCornerIcon(photos[k].verification.status)"></i>
                                            <div :class="photoCornerClass(photos[k].verification.status, photos[k].verification.associated)"></div>
                                        </div>
                                        <img v-lazy="{ src: photos[k].prev, loading: '/images/loading-image.png' }"
                                             :key="photos[k].prev"
                                             :class="{ 'user-photo-transparent': isChanged(photos[k]) }"
                                             src="" alt="">
                                    </div>

                                    <!--photo bottom side-->
                                    <div class="users-list-photos__bottom-side">
                                        <!--status-->
                                        <div v-show="photos[k].verification.status !== 0" class="users-list-photos__status_block">
                                            <div :class="photoStatusClass(photos[k].verification.status)">
                                                <div><i :class="photoStatusIcon(photos[k].verification.status)"></i></div>
                                                <div>
                                                    <div>{{ photoStatusTitle(photos[k].verification.status) }}</div>
                                                    <div>
                                                        <time v-if="photos[k].verification.date">
                                                            {{ formatDateTime(photos[k].verification.date) }}
                                                        </time>
                                                        <template v-if="photos[k].verification.admin">
                                                            {{ photos[k].verification.admin }}
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--photo user-->
                                        <div class="users-list-photos__user">
                                            <!--user avatar-->
                                            <div class="users-list-photos__user-avatar">
                                                <img v-lazy="{ src: photos[k].user.avatar, loading: '/images/loading-avatar.png' }"
                                                     :key="photos[k].user.avatar"
                                                     src="" alt="">
                                            </div>
                                            <!--user name-->
                                            <div class="users-list-photos__user-name">
                                                <div>
                                                    <span v-if="checkPermission('users__edit')">
                                                        <a :href="'/users/user/edit?id=' + photos[k].user.user_id" target="_blank">{{ photos[k].user.name }}</a>
                                                    </span>
                                                    <span v-else>{{ photos[k].user.name }}</span>
                                                    <span>({{ photos[k].user.years }})</span>
                                                </div>
                                                <div>{{ photos[k].user.city }}</div>

                                                <div class="users-list-photos__user-name_status">
                                                    <div v-if="photos[k].user.online" class="online">
                                                        <span :class="'online' + photos[k].user.online"></span>
                                                    </div>
                                                    <div v-if="photos[k].user.vip" class="vip">
                                                        <i v-if="photos[k].user.vip" class="fas fa-chess-queen fa-lg"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--user controls-->
                                        <div v-if="checkPermission('verification_photos__verification')" class="users-list-photos__user_controls">
                                            <div>
                                                <b-button-group size="sm">
                                                    <b-button variant="success"
                                                              title="Одобрить фото"
                                                              @click="setVerification(photos[k])"
                                                              :disabled="!availableChangeStatus(photos[k], photosStatus.verification)">
                                                        <i class="fas fa-user-check"></i>
                                                    </b-button>
                                                    <b-button variant="orange"
                                                              title="Отложить фото"
                                                              @click="setDeferred(photos[k])"
                                                              :disabled="!availableChangeStatus(photos[k], photosStatus.deferred)">
                                                        <i class="far fa-clock"></i>
                                                    </b-button>
                                                </b-button-group>

                                                <b-button-group size="sm">
                                                    <template v-if="photos[k].main_photo === 1">
                                                        <b-button variant="primary"
                                                                  title="Временно заблокировать основное фото"
                                                                  @click="setBlocked(photos[k])"
                                                                  :disabled="!availableChangeStatus(photos[k], photosStatus.blocked)">
                                                            <i class="fas fa-exclamation-triangle"></i>
                                                        </b-button>
                                                    </template>
                                                    <template v-else>
                                                        <b-button variant="orange"
                                                                  title="Запретить фото для аватара"
                                                                  @click="setForbiddenAvatar(photos[k])"
                                                                  :disabled="!availableChangeStatus(photos[k], photosStatus.forbidden_avatar)">
                                                            <i class="fas fa-user-times"></i>
                                                        </b-button>
                                                        <b-button variant="danger"
                                                                  title="Запретить фото для показа"
                                                                  @click="setForbiddenShow(photos[k])"
                                                                  :disabled="!availableChangeStatus(photos[k], photosStatus.forbidden_show)">
                                                            <i class="fas fa-user-slash"></i>
                                                        </b-button>
                                                    </template>
                                                </b-button-group>
                                            </div>
                                            <div>
                                                <b-button-group size="sm">
                                                    <b-button variant="orange"
                                                              title="Забанить аккаунт"
                                                              @click="setBannedAcc(photos[k])"
                                                              :disabled="!availableChangeStatus(photos[k], photosStatus.banned_acc)">
                                                        <i class="fas fa-portrait"></i>
                                                    </b-button>
                                                    <b-button variant="danger"
                                                              title="Забанить устройство"
                                                              @click="setBannedDev(photos[k])"
                                                              :disabled="!availableChangeStatus(photos[k], photosStatus.banned_dev)">
                                                        <i class="fas fa-mobile-alt"></i>
                                                    </b-button>
                                                </b-button-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
                <div v-else-if="loading === false" class="users-list-no-photos">
                    <template v-if="checkCurrentShiftOwner()">
                        <p>Фотографии пользователей не найдены</p>
                    </template>
                    <template v-else>
                        <p>Для проверки фотографий необходимо начать свою смену</p>
                        <template v-if="Object.keys(currentShift).length > 0 && currentShift.hasOwnProperty('admin')">
                            <p>Сейчас идет смена модератора: {{ currentShift.admin.name }}</p>
                        </template>
                    </template>
                </div>
            </div>
        </div>
        <resize-observer @notify="refreshPhotosRows"/>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import VueDatepickerLocal from 'vue-datepicker-local'
import Spinner from 'vue-simple-spinner'
import ToggleButton from 'vue-js-toggle-button'
import Paginate from 'vuejs-paginate'
import VueLazyload from 'vue-lazyload'
import VueCookie from 'vue-cookie'
import VueResize from 'vue-resize'
import ElUserPhotoBlock from '../elements/userPhotoBlock'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'

Vue.use(ToggleButton);
Vue.use(VueLazyload, {
    observer: true,
    observerOptions: {
        rootMargin: '100px',
        threshold: 0.1
    }
});
Vue.use(VueCookie);
Vue.use(VueResize);
Vue.component('paginate', Paginate);

const cookieShowMainPhoto = 'photos_show_main_photo';

export default {
    mixins: [permissions],
    components: {
        'vue-simple-spinner': Spinner,
        VueDatepickerLocal,
        ElUserPhotoBlock
    },
    data() {
        return {
            urlRequest: {
                getData: '/api/status-photos/get-data',
                getCountStatus: '/api/status-photos/get-count-status',
                getCountNewPhotos: '/api/status-photos/get-count-new-photos',
                getCurrentShift: '/api/status-photos/get-current-shift',
                setStartedShift: '/api/status-photos/set-started-shift',
                setFinishedShift: '/api/status-photos/set-finished-shift',
                setStatus: '/api/status-photos/status',
                deletePhoto: '/api/status-photos/delete',
                banAcc: '/api/status-photos/ban-acc',
                banDev: '/api/status-photos/ban-dev',
            },
            listBlockId: 'photos_list',
            photosStatus: {
                deferred: -1,
                reset: 0,
                verification: 1,
                forbidden_avatar: 2,
                forbidden_show: 3,
                blocked: 4,
                banned_acc: 5,
                banned_dev: 6,
            },
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок',
            },
            /**
             * @property {number} photos.i.photo_id
             * @property {string} photos.i.prev
             * @property {string} photos.i.href
             * @property {number} photos.i.main_photo
             * @property {number} photos.i.reports_count
             * @property {number} photos.i.blocked_count
             * @property {object} photos.i.verification
             * @property {number} photos.i.verification.status
             * @property {string} photos.i.verification.admin
             * @property {string} photos.i.verification.date
             * @property {number} photos.i.verification.associated
             * @property {object} photos.i.user
             * @property {number} photos.i.user.user_id
             * @property {string} photos.i.user.name
             * @property {number} photos.i.user.years
             * @property {string} photos.i.user.city
             * @property {string} photos.i.user.avatar
             * @property {number} photos.i.user.vip
             * @property {number} photos.i.user.online
             * @property {number} photos.i.row
             * @property {number} photos.i.transparent
             */
            photos: [],
            photosRows: [],
            photosRowsCalc: false,
            photosRowsLimit: 0,
            selected: {},
            pageNav: {
                'total': 0,
                'from': 0,
                'to': 0,
                'currentPage': 1,
                'lastPage': 1,
                'prev': '<i class="fas fa-angle-left"></i>',
                'next': '<i class="fas fa-angle-right"></i>'
            },
            curPermissions: {},
            filterText: {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                platform: 'na',
                show_status: 'na',
                show_main_photo: 0,
                created_at_min: '',
                created_at_max: '',
            },
            /**
             * @mixes filterText
             */
            filterCurrent: {},
            genderList: [
                {id: 'na', name: 'Неважно'},
                {id: '1', name: 'Муж'},
                {id: '2', name: 'Жен'}
            ],
            vipList: [
                {id: 'na', name: 'Неважно'},
                {id: 'yes', name: 'Да'},
                {id: 'no', name: 'Нет'}
            ],
            platformList: [
                {id: 'na', name: 'Неважно'},
                {id: 'android', name: 'Android'},
                {id: 'ios', name: 'IOS'}
            ],
            statusList: [
                {id: 'na', name: 'Не обработано', count: 0},
                {id: 'deferred', name: 'Отложено', count: 0},
                {id: 'verification', name: 'Одобрено', count: 0},
                {id: 'blocked', name: 'Временно заблокировано', count: 0},
                {id: 'forbidden_avatar', name: 'Запрещено для аватара', count: 0},
                {id: 'forbidden_show', name: 'Запрещено для показа', count: 0},
                {id: 'banned_acc', name: 'Бан аккаунта', count: 0},
                {id: 'banned_dev', name: 'Бан устройства', count: 0},
            ],
            filterStatusList: {
                '-1': 'deferred',
                '0': 'na',
                '1': 'verification',
                '2': 'forbidden_avatar',
                '3': 'forbidden_show',
                '4': 'blocked',
                '5': 'banned_acc',
                '6': 'banned_dev',
            },
            loading: true,
            mainPhoto: true,
            reloadData: '',
            faviconChanged: false,
            faviconList: {
                'default': '/images/favicon.png',
                'notify': '/images/favicon-notify.png',
            },
            currentShift: false,
            currentShiftInterval: false,
            verificationAvailable: false,
        }
    },
    created() {
        window.addEventListener('mousemove', this.resetFavicon);
        window.addEventListener("focus", this.resetFavicon);
    },
    destroyed() {
        window.removeEventListener('mousemove', this.resetFavicon);
        window.removeEventListener("focus", this.resetFavicon);
    },
    async mounted() {
        let showMainPhoto = this.$cookie.get(cookieShowMainPhoto);

        if (showMainPhoto !== 0) {
            this.filterText.show_main_photo = parseInt(showMainPhoto, 10);
        }
        this.filterCurrent = Object.assign({}, this.filterText);

        await this.getCurrentUser();

        if (this.current_user.level <= 10) {
            await this.getCurrentShift();
            await this.setCurrentShiftInterval();
        } else {
            this.verificationAvailable = true;
            await this.getData();
        }

        this.setListPosition();
    },
    computed: {
        filterStatus() {
            return this.filterText.show_status;
        },
        currentShiftOwner() {
            return this.currentShift.owner;
        },
    },
    watch: {
        filterText: {
            handler() {
                this.mainPhoto = ['na', 'verification', 'report', 'deferred'].includes(this.filterText.show_status);
            },
            deep: true
        },
        filterStatus() {
            this.doFilter();
        },
        currentShiftOwner(nVal) {
            this.verificationAvailable = nVal === true;
            this.resetFilter();
        },
    },
    methods: {
        /* информация о текущей смене */
        async getCurrentShift() {
            return axios.get(this.urlRequest.getCurrentShift)
                .then((response) => {
                    if (response.hasOwnProperty('data')) {
                        this.currentShift = response.data;
                    } else {
                        this.currentShift = false;
                    }
                })
                .catch((error) => {
                    console.log(JSON.parse(JSON.stringify(error)));
                });
        },
        /* периодическое обновление информации о текущей смене */
        setCurrentShiftInterval() {
            this.currentShiftInterval = setInterval(() => {
                this.getCurrentShift();
            }, 30000);
        },
        /* проверка смены модератора (его смена или нет) */
        checkCurrentShiftOwner() {
            return !(this.current_user.level <= 10 && this.currentShiftOwner !== true);
        },
        /* начать смену */
        setStartedShift() {
            if (this.current_user.level > 10 || this.currentShiftOwner === true) {
                return false;
            }

            if (this.currentShift.hasOwnProperty('admin')) {
                if (!confirm('Сейчас смена модератора: ' + this.currentShift.admin.name + '. Завершить его смену и начать свою?')) {
                    return false;
                }
            }

            return axios.post(this.urlRequest.setStartedShift)
                .then(() => {
                    this.getCurrentShift();
                })
                .catch((error) => {
                    console.log(JSON.parse(JSON.stringify(error)));
                });
        },
        /* закончить смену */
        setFinishedShift() {
            if (this.current_user.level > 10 || this.currentShiftOwner !== true) {
                return false;
            }

            if (!confirm('Завершить свою смену?')) {
                return false;
            }

            return axios.post(this.urlRequest.setFinishedShift)
                .then(() => {
                    this.getCurrentShift();
                })
                .catch((error) => {
                    console.log(JSON.parse(JSON.stringify(error)));
                });
        },
        /* расчет отступа блока с фото */
        setListPosition() {
            let block = $('#' + this.listBlockId);
            let search = $('.search-block');

            this.$nextTick(() => {
                block.css('margin-top', search.height() + 'px');
            });
        },
        /* получение фото */
        async getData() {
            this.selected = {};
            this.loading = true;

            // если это чужая смена
            if (!this.checkCurrentShiftOwner()) {
                this.photos = [];
                this.photosRows = [];
                this.loading = false;
                this.resetCountStatusList();

                return false;
            }

            return axios.get(this.urlRequest.getData, {
                params: {
                    page: this.pageNav.currentPage,
                    filter: this.filterText
                }
            })
                .then((response) => {
                    this.getCountStatusList();

                    if (!response.data.hasOwnProperty('data') || !(Array.isArray(response.data.data)) || response.data.data.length === 0) {
                        this.photos = [];
                        this.photosRows = [];
                    } else {
                        let photos = response.data.data;
                        for (let photo of photos) {
                            photo.verification['status_old'] = photo.verification.status;
                        }

                        this.photos = photos;
                        this.pageNav = {
                            from: response.data.from,
                            to: response.data.to,
                            total: response.data.total,
                            currentPage: response.data.current_page,
                            lastPage: response.data.last_page,
                            prev: this.pageNav.prev,
                            next: this.pageNav.next,
                        };
                        this.photosRowsLimit = this.getPhotosRowsLimit();
                        this.setPhotosRows();
                    }
                })
                .catch((error) => {
                    this.photos = [];

                    console.log(error);
                })
                .finally(() => {
                    this.setListPosition();

                    this.loading = false;
                    this.filterCurrent = Object.assign({}, this.filterText);

                    if (this.reloadData) {
                        clearInterval(this.reloadData);
                    }

                    const filterDefault = {
                        user_id: '',
                        name: '',
                        city: '',
                        gender: 'na',
                        years_min: '',
                        years_max: '',
                        vip: 'na',
                        platform: 'na',
                        show_status: 'na',
                        created_at_min: '',
                        created_at_max: '',
                    };

                    if (this.photos.length === 0) {
                        let reload = true;

                        for (const filter of Object.keys(this.filterCurrent)) {
                            if (filter === 'show_main_photo') {
                                continue;
                            }

                            if (!this.filterCurrent.hasOwnProperty(filter) || !filterDefault.hasOwnProperty(filter)
                                || this.filterCurrent[filter] !== filterDefault[filter]) {
                                reload = false;

                                break;
                            }
                        }

                        if (reload === true) {
                            this.reloadData = setInterval(function() {
                                this.checkNewPhotos();
                            }.bind(this), 60000);
                        }
                    }
                });
        },
        /* проверка наличия новых фото */
        checkNewPhotos() {
            axios.get(this.urlRequest.getCountNewPhotos)
                .then((response) => {
                    const data = response.data;

                    if (data.total > 0) {
                        this.notifyFavicon();

                        if (data.main > 0) {
                            this.filterText.show_main_photo = 0;
                        } else {
                            this.filterText.show_main_photo = 1;
                        }
                        this.showMainPhoto();
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* фильтрация фото */
        doFilter() {
            this.pageNav.total = 0;
            this.pageNav.from = 0;
            this.pageNav.to = 0;
            this.pageNav.currentPage = 1;
            this.pageNav.lastPage = 1;

            this.getData();
        },
        /* сброс фильтра фото */
        resetFilter() {
            this.filterText = {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                platform: 'na',
                show_status: 'na',
                show_main_photo: this.filterCurrent.show_main_photo,
                created_at_min: '',
                created_at_max: '',
            };

            this.doFilter();
        },
        /* количество фото для каждого статуса */
        getCountStatusList() {
            axios.get(this.urlRequest.getCountStatus)
                .then((response) => {
                    for (const index in response.data) {
                        if (!response.data.hasOwnProperty(index)) {
                            continue;
                        }
                        let key = (index !== 'reset') ? index : 'na';

                        this.statusList.find((obj, i) => {
                            if (obj.id === key) {
                                this.statusList[i].count = response.data[index];
                            }
                        });
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        /* сброс значений количества фото для каждого статуса */
        resetCountStatusList() {
            this.statusList.forEach((v, i) => this.statusList[i].count = 0);
        },
        /* разбиение фотографий на строки */
        setPhotosRows() {
            let rows = [];
            let num = 1;
            let row = 0;
            let selected = Object.values(this.selected).length;

            for (let [index, photo] of Object.entries(this.photos)) {
                if (!(row in rows)) {
                    rows[row] = {
                        selected: false,
                        indeterminate: false,
                        items: [],
                        items_selected: [],
                    };
                }
                index = parseInt(index, 10);
                rows[row].items.push(index);

                // если фото выбрано
                if (selected > 0 && this.selected.hasOwnProperty(index)) {
                    rows[row].items_selected.push(index);
                }
                Vue.set(photo, 'row', row);

                if (num === this.photosRowsLimit) {
                    num = 1;
                    row++;
                } else {
                    num++;
                }
            }

            this.photosRows = rows;

            if (selected > 0) {
                for (let index in this.photosRows) {
                    this.checkedRow(index);
                }
            }
        },
        /* перерасчет строк фотографий */
        refreshPhotosRows() {
            let photosRowsLimit = this.getPhotosRowsLimit();

            if (this.photosRowsLimit === photosRowsLimit) {
                return false;
            }

            this.photosRowsLimit = photosRowsLimit;
            this.setPhotosRows();
        },
        /* количество фото в одной строке */
        getPhotosRowsLimit() {
            let width = document.getElementById(this.listBlockId).clientWidth - 20;

            return Math.floor(width / 200);
        },
        /* переключение выбора фото */
        togglePhoto(key) {
            key = parseInt(key, 10);

            if (!this.photos.hasOwnProperty(key)) {
                return false;
            }
            const photo = this.photos[key];

            if (!this.photosRows.hasOwnProperty(photo.row)) {
                return false;
            }
            let row = this.photosRows[photo.row];
            const idx_row = row.items_selected.indexOf(key);

            if (this.selected.hasOwnProperty(key)) {
                Vue.delete(this.selected, key);

                if (idx_row !== -1) {
                    row.items_selected.splice(idx_row, 1);
                }
            } else {
                Vue.set(this.selected, key, key);

                if (idx_row === -1) {
                    row.items_selected.push(key);
                }
            }

            this.checkedRow(photo.row);
        },
        /* переключение выбора строки */
        toggleRow(key, event) {
            if (!this.photosRows.hasOwnProperty(key)) {
                return false;
            }
            let row = this.photosRows[key];

            if (event === true) {
                row.selected = true;
                row.indeterminate = false;
                row.items_selected = row.items.slice();
            } else {
                row.selected = false;
                row.indeterminate = false;
                row.items_selected = [];
            }

            for (let item of row.items) {
                item = parseInt(item, 10);

                if (event === true) {
                    Vue.set(this.selected, item, item);
                } else {
                    Vue.delete(this.selected, item);
                }
            }
        },
        /* параметры выбора строки */
        checkedRow(key) {
            if (!this.photosRows.hasOwnProperty(key)) {
                return false;
            }
            let row = this.photosRows[key];

            if (row.items_selected.length === 0) {
                row.selected = false;
                row.indeterminate = false;
            } else if (row.items_selected.length < row.items.length) {
                row.selected = false;
                row.indeterminate = true;
            } else {
                row.selected = true;
                row.indeterminate = false;
            }
        },
        /* проверить оставшиеся фото на странице */
        setVerificationRemaining() {
            let photos = [];

            if (this.photos.length === 0) {
                return false;
            }

            if (!confirm('Одобрить все оставшиеся фото на странице?')) {
                return false;
            }

            if (this.filterCurrent.show_status !== 'na') {
                alert('Для данного раздела действие "Одобрить все оставшиеся фото" недоступно');

                return false;
            }

            for (const photo of this.photos) {
                if (photo.verification.status === 0 && photo.verification.status === photo.verification.status_old) {
                    photos.push(photo.photo_id);
                }
            }

            if (photos.length === 0) {
                alert('Нет доступных для проверки фото');

                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: photos, status: 1})
                .then(() => {
                    this.getData();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                });
        },
        /* проверка выбранных фото */
        setDeferredSelected() {
            if (!confirm('Отложить выбранные фото?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.deferred);
        },
        /* проверка выбранных фото */
        setVerificationSelected() {
            if (!confirm('Одобрить выбранные фото?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.verification);
        },
        /* запрет аватара выбранных фото */
        setForbiddenAvatarSelected() {
            if (!confirm('Запретить для аватара выбранные фото?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.forbidden_avatar);
        },
        /* запрет показа выбранных фото */
        setForbiddenShowSelected() {
            if (!confirm('Запретить для показа выбранные фото?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.forbidden_show);
        },
        /* блокировка выбранных фото */
        setBlockedSelected() {
            if (!this.checkPermission('verification_photos__block')) {
                return false;
            }

            if (!confirm('Временно заблокировать выбранные фото?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.blocked);
        },
        /* бан аккаунта отмеченных пользователей */
        setBannedAccSelected() {
            if (!this.checkPermission('verification_photos__ban')) {
                return false;
            }

            if (!confirm('Забанить аккаунт выбранных пользователей?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.banned_acc);
        },
        /* бан устройств отмеченных пользователей */
        setBannedDevSelected() {
            if (!this.checkPermission('verification_photos__ban')) {
                return false;
            }

            if (!confirm('Забанить устройство выбранных пользователей?')) {
                return false;
            }
            this.setSelectedStatus(this.photosStatus.banned_dev);
        },
        /* установка статуса для отмеченных фото */
        setSelectedStatus(status) {
            if (Object.keys(this.selected).length === 0) {
                return false;
            }

            let photos = [];
            let users = [];
            for (const key in this.selected) {
                if (!this.selected.hasOwnProperty(key) || !this.photos.hasOwnProperty(key)) {
                    return false;
                }

                if (this.photos[key].verification.status === status) {
                    return false;
                }

                // проверка на дублирование пользователя при бане
                if ((status === 5 || status === 6)) {
                    if (users.includes(this.photos[key].user.user_id)) {
                        return false;
                    }
                    users.push(this.photos[key].user.user_id);
                }

                photos.push(this.photos[key].photo_id);
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: photos, status: status})
                .then((response) => {
                    this.selected = {};
                    this.updatePhotosStatus(response.data);

                    if (status === 5 || status === 6) {
                        for (const photo of response.data) {
                            this.hideOtherUserPhotos(photo.photo_id, photo.user_id);
                        }
                        this.getCountStatusList();
                    }

                    this.setPhotosRows();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "проверено" */
        setVerification(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.verification)) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 1})
                .then((response) => {
                    this.updatePhotosStatus(response.data);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "отложено" */
        setDeferred(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.deferred)) {
                return false;
            }

            if (!confirm('Отложить фото?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: -1})
                .then((response) => {
                    this.updatePhotosStatus(response.data);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "запрещено для аватара" */
        setForbiddenAvatar(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.forbidden_avatar)) {
                return false;
            }

            if (!confirm('Запретить фото для аватара?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 2})
                .then((response) => {
                    this.updatePhotosStatus(response.data);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "запрещено для показа" */
        setForbiddenShow(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.forbidden_show)) {
                return false;
            }

            if (!confirm('Запретить фото для показа?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 3})
                .then((response) => {
                    this.updatePhotosStatus(response.data);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* установка статуса "временная блокировка" */
        setBlocked(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.blocked)) {
                return false;
            }

            if (!confirm('Временно заблокировать основное фото?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 4})
                .then((response) => {
                    this.updatePhotosStatus(response.data);
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан аккаунта */
        setBannedAcc(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.banned_acc)) {
                return false;
            }

            if (!confirm('Забанить аккаунт?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 5})
                .then(() => {
                    photo.verification = {
                        admin: this.current_user.name,
                        date: moment().format('DD.MM.YY HH:mm'),
                        status: 5,
                        status_old: photo.verification.status_old,
                    };
                    this.hideOtherUserPhotos(photo.photo_id, photo.user.user_id);
                    this.setPhotosRows();
                    this.getCountStatusList();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* бан устройства */
        setBannedDev(photo) {
            if (!this.availableChangeStatus(photo, this.photosStatus.banned_dev)) {
                return false;
            }

            if (!confirm('Забанить устройство?')) {
                return false;
            }

            this.loading = true;

            return axios.post(this.urlRequest.setStatus, {photos: [photo.photo_id], status: 6})
                .then(() => {
                    photo.verification = {
                        admin: this.current_user.name,
                        date: moment().format('DD.MM.YY HH:mm'),
                        status: 6,
                        status_old: photo.verification.status_old,
                    };
                    this.hideOtherUserPhotos(photo.photo_id, photo.user.user_id);
                    this.setPhotosRows();
                    this.getCountStatusList();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        this.showResponseError(error.response);
                    } else {
                        console.log(error);
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        /* добавление информации о новом статусе для отмеченных фото */
        updatePhotosStatus(photos) {
            let update = false;

            for (const photo of photos) {
                const index = this.photos.findIndex(el => el.photo_id === photo.photo_id);

                if (!this.photos.hasOwnProperty(index)) {
                    continue;
                }

                const statusBefore = this.photos[index].verification.status;

                this.photos[index].verification = {
                    status: photo.status,
                    status_old: this.photos[index].verification.status_old,
                    admin: this.current_user.name,
                    date: moment().format('DD.MM.YY HH:mm'),
                };

                if (this.filterStatusList.hasOwnProperty(statusBefore)) {
                    this.statusListDecrement(this.filterStatusList[statusBefore]);
                }

                if (this.filterStatusList.hasOwnProperty(photo.status)) {
                    this.statusListIncrement(this.filterStatusList[photo.status]);
                }

                update = true;
            }

            if (update === true) {
                this.reloadPageData();
            }
        },
        statusListIncrement(status, value = 1) {
            const index = this.statusList.findIndex(el => el.id === status);

            if (index !== -1) {
                this.statusList[index].count += value;
            }
        },
        statusListDecrement(status, value = 1) {
            const index = this.statusList.findIndex(el => el.id === status);

            if (index !== -1) {
                if (this.statusList[index].count > value) {
                    this.statusList[index].count -= value;
                }
            }
        },
        /* убрать из списка другие фото этого пользователя */
        hideOtherUserPhotos(photo_id, user_id) {
            this.photosRowsCalc = true;

            let deleted = [];
            this.photosRowsCalc = true;
            this.photos = (this.photos.slice()).filter(function (item, index) {
                if (item.photo_id === photo_id || item.user.user_id !== user_id) {
                    return true;
                }
                deleted.push(index);

                return false;
            });

            if (deleted.length > 0) {
                for (const index of deleted) {
                    this.shiftSelected(index);
                }
            }

            this.photosRowsCalc = false;
        },
        /* сдвиг выбранных фото после удаления элемента */
        shiftSelected(key) {
            for (let select of Object.values(this.selected)) {
                if (this.selected.hasOwnProperty(select)) {
                    if (select === key) {
                        Vue.delete(this.selected, select);
                    } else if (select > key) {
                        const shift = select - 1;

                        if (!this.selected.hasOwnProperty(shift)) {
                            Vue.delete(this.selected, select);
                            Vue.set(this.selected, shift, shift);
                        }
                    }
                }
            }
        },
        /* обновить данные если для всех фото был изменен статус */
        reloadPageData() {
            for (const photo of this.photos) {
                if (photo.verification.status === photo.verification.status_old) {
                    return true;
                }
            }

            this.getData();
        },
        /* доступность кнопок для отмеченных фото */
        btnSelectedAvailable() {
            return !(Object.keys(this.selected).length === 0 || this.loading === true || !this.verificationAvailable);
        },
        changeBannedAvailable(photo) {
            return !([5, 6].includes(photo.verification.status) && !this.checkPermission('verification_photos__change_banned'));
        },
        /* доступность кнопки "проверить оставшихся на странице фото" */
        btnVerificationRemaining() {
            if (this.loading === true || this.filterCurrent.show_status !== 'na' || this.photos.length === 0 || !this.verificationAvailable) {
                return false;
            }

            for (const photo of this.photos) {
                if (photo.verification.status === photo.verification.status_old) {
                    return true;
                }
            }

            this.getData();

            return false;
        },
        /* доступность кнопки "отложить фото" для выбранных фото */
        btnDeferredSelected() {
            if (!this.btnSelectedAvailable()) {
                return false;
            }

            for (const key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key)) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.deferred || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "проверить" для выбранных фото */
        btnVerificationSelected() {
            if (!this.btnSelectedAvailable()) {
                return false;
            }

            for (const key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key)) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.verification || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрещено для аватара" для выбранных фото */
        btnForbiddenAvatarSelected() {
            if (!this.btnSelectedAvailable()) {
                return false;
            }

            for (const key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key) || this.photos[key].main_photo === 1) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.forbidden_avatar || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "запрещено для показа" для выбранных фото */
        btnForbiddenShowSelected() {
            if (!this.btnSelectedAvailable()) {
                return false;
            }

            for (const key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key) || this.photos[key].main_photo === 1) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.forbidden_show || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "блокировка по основному фото" для выбранных фото */
        btnBlockedSelected() {
            if (!this.btnSelectedAvailable() || !this.checkPermission('verification_photos__block')) {
                return false;
            }

            for (const key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key) || this.photos[key].main_photo !== 1) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.blocked || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки "бана аккаунта" для выбранных фото */
        btnBannedAccSelected() {
            if (!this.btnSelectedAvailable() || !this.checkPermission('verification_photos__ban')) {
                return false;
            }

            let unique = [];
            for (let key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key)) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.banned_acc || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }

                // выбрано несколько фото одного пользователя
                if (unique.length > 0 && unique.includes(this.photos[key].user.user_id)) {
                    return false;
                }
                unique.push(this.photos[key].user.user_id);
            }

            return true;
        },
        /* доступность кнопки "бана устройства" для выбранных фото */
        btnBannedDevSelected() {
            if (!this.btnSelectedAvailable() || !this.checkPermission('verification_photos__ban')) {
                return false;
            }

            let unique = [];
            for (let key of Object.keys(this.selected)) {
                if (!this.photos.hasOwnProperty(key)) {
                    return false;
                }

                if (this.photos[key].verification.status === this.photosStatus.banned_dev || !this.changeBannedAvailable(this.photos[key])) {
                    return false;
                }

                // выбрано несколько фото одного пользователя
                if (unique.length > 0 && unique.includes(this.photos[key].user.user_id)) {
                    return false;
                }
                unique.push(this.photos[key].user.user_id);
            }

            return true;
        },
        availableChangeStatus(photo, status) {
            if (this.loading === true || photo.verification.status === status || !this.changeBannedAvailable(photo)) {
                return false;
            }

            if (status === this.photosStatus.blocked && !this.checkPermission('verification_photos__block')) {
                return false;
            }

            return !((status === this.photosStatus.banned_acc || status === this.photosStatus.banned_dev)
                && !this.checkPermission('verification_photos__ban'));
        },
        /* показ только основное фото */
        showMainPhoto() {
            let show = 1;

            if (this.filterText.show_main_photo === 1) {
                show = 0;
            }

            this.$cookie.set(cookieShowMainPhoto, show);
            this.filterText.show_main_photo = show;
            this.filterCurrent = Object.assign({}, this.filterText);

            this.doFilter();
        },
        /* проверка на изменение фильтра */
        onChangeSelect(key) {
            return key !== 'na';
        },
        /* название фото */
        getPhotoTitle(user) {
            let title = user.name + ', ' + user.years;

            if (user.city !== null && user.city.length > 0) {
                title += ' (' + user.city + ')';
            }

            return title;
        },
        /* статус фото был изменен */
        isChanged(photo) {
            return photo.verification.status !== photo.verification.status_old;
        },
        photoCornerClass(status, associated = 0) {
            if (status === -1) {
                return 'corner-deferred';
            } else if (status === 1) {
                return 'corner-verification';
            } else if (status === 2) {
                return 'corner-forbidden-avatar';
            } else if (status === 3) {
                return 'corner-forbidden-show';
            } else if (status === 4) {
                return 'corner-blocked';
            } else if (status === 5) {
                return 'banned-acc';
            } else if (status === 6) {
                return associated === 0 ? 'banned-dev' : 'banned-dev-associated';
            } else {
                return '';
            }
        },
        photoCornerIcon(status) {
            if (status === -1) {
                return 'far fa-clock';
            } else if (status === 1) {
                return 'fas fa-user-check';
            } else if (status === 2) {
                return 'fas fa-user-times';
            } else if (status === 3) {
                return 'fas fa-user-slash';
            } else if (status === 4) {
                return 'fas fa-exclamation-triangle';
            } else if (status === 5) {
                return 'fas fa-portrait';
            } else if (status === 6) {
                return 'fas fa-mobile-alt';
            } else {
                return '';
            }
        },
        photoStatusTitle(status) {
            if (status === -1) {
                return 'Отложено';
            } else if (status === 1) {
                return 'Одобрено';
            } else if (status === 2) {
                return 'Запрещено для аватара';
            } else if (status === 3) {
                return 'Запрещено для показа';
            } else if (status === 4) {
                return 'Врем. заблокировано';
            } else if (status === 5) {
                return 'Бан аккаунта';
            } else if (status === 6) {
                return 'Бан устройства';
            } else {
                return 'Неизвестно';
            }
        },
        photoStatusClass(status) {
            if (status === -1) {
                return 'deferred-photo';
            } else if (status === 1) {
                return 'verification';
            } else if (status === 2) {
                return 'forbidden-avatar';
            } else if (status === 3) {
                return 'forbidden-show';
            } else if (status === 4) {
                return 'blocked-photo';
            } else if (status === 5) {
                return 'banned-acc';
            } else if (status === 6) {
                return 'banned-dev';
            } else {
                return '';
            }
        },
        photoStatusIcon(status) {
            if (status === -1) {
                return 'far fa-clock';
            } else if (status === 1) {
                return 'fas fa-check-circle fa-lg';
            } else if (status === 2) {
                return 'fas fa-user-times';
            } else if (status === 3) {
                return 'fas fa-user-slash';
            } else if (status === 4) {
                return 'fas fa-exclamation-triangle fa-lg';
            } else if (status === 5) {
                return 'fas fa-portrait fa-lg';
            } else if (status === 6) {
                return 'fas fa-mobile-alt fa-lg';
            } else {
                return '';
            }
        },
        /* стиль для фильтра статуса */
        filterPhotoStatusClass(el) {
            return el.count > 0 ? '' : 'option-gray';
        },
        /* смена иконки */
        changeFavicon(index) {
            if (!this.faviconList.hasOwnProperty(index)
                || (this.faviconChanged === true && index === 'notify')
                || (this.faviconChanged === false && index === 'default')) {
                return false;
            }

            let link = document.createElement('link'),
                oldLink = document.getElementById('favicon');
            link.id = 'favicon';
            link.rel = 'icon';
            link.href = this.faviconList[index];

            if (oldLink) {
                document.head.removeChild(oldLink);
            }
            document.head.appendChild(link);

            this.faviconChanged = (index === 'notify');
        },
        notifyFavicon() {
            this.changeFavicon('notify');
        },
        resetFavicon() {
            this.changeFavicon('default');
        },
        /* формат даты */
        formatDateTime(value, fmt = 'DD.MM.YY HH:mm') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        /* сообщение об ошибке */
        showResponseError(response) {
            console.log(response);

            if (response.data.hasOwnProperty('error')) {
                alert(response.data.error);
            }
        },
    },
}
</script>