<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3><strong>
                        <vuetable-pagination-info
                                ref="paginationInfo"
                                info-template="Удаленные пользователи (<span>{total}</span>) показано <span>{from} - {to}</span>"
                                info-class="pagination-info"
                        ></vuetable-pagination-info>
                    </strong></h3>
                </div>
                <div class="top-pagination search-block-pagination">
                    <div class="vuetable-pagination">
                        <vuetable-pagination ref="pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </div>
                </div>
                <div v-if="checkPermission('users_del__edit')" class="search-block-btns">
                    <b-button-group class="btns-ban-device">
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="banDeviceAdd(checked_users)"
                                  :disabled="!bntBannedDevAdd()"
                        ><i class="fas fa-mobile-alt"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить бан устройства"
                                  @click="banDeviceRemove(checked_users)"
                                  :disabled="!bntBannedDevRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>
                </div>
            </div>
            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-city">
                        <input type="text" class="form-control" v-model="filterText.city" @keyup.enter="doFilter" placeholder="Город">
                    </div>
                    <div class="param-gender">
                        <label>Пол:</label>
                        <b-form-select v-model="filterText.gender"
                                       class="form-control"
                                       v-bind:class="{ changed: onChangeSelect(filterText.gender) }"
                                       :options="{ '0': 'Неважно', '1': 'Муж', '2': 'Жен' }">
                        </b-form-select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text" class="form-control" v-model="filterText.years_min" @keyup.enter="doFilter" placeholder="от">
                            <input type="text" class="form-control" v-model="filterText.years_max" @keyup.enter="doFilter" placeholder="до">
                        </div>
                    </div>
                    <div class="param-platform">
                        <label>OS:</label>
                        <b-form-select v-model="filterText.platform"
                                       class="form-control"
                                       v-bind:class="{ changed: onChangeSelect(filterText.platform) }"
                                       :options="{ 'na': 'Неважно', 'android': 'Android', 'ios': 'IOS' }">
                        </b-form-select>
                    </div>
                    <div class="param-vip">
                        <label>VIP:</label>
                        <b-form-select v-model="filterText.vip"
                                       class="form-control"
                                       v-bind:class="{ changed: onChangeSelect(filterText.vip) }"
                                       :options="{ 'na': 'Неважно', 'yes': 'Да', 'no': 'Нет' }">
                        </b-form-select>
                    </div>
                    <div class="param-reg">
                        <label>Дата удаления:</label>
                        <div>
                            <vue-datepicker-local v-model="filterText.deleted_at_min"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="от" clearable/>
                            <vue-datepicker-local v-model="filterText.deleted_at_max"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="до" clearable/>
                        </div>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="showTableHeader"/>
        </b-container>
        <!-- / SEARCH FORM -->

        <div class="users-list-block">
            <div v-if="table.loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div :class="{'table-list-loading' : table.loading}">
                <vuetable ref="vuetable"
                          id="vuetable-container"
                          :api-url="table.apiUrl"
                          :fields="table.fields"
                          :css="table.css.table"
                          :per-page="table.perPage"
                          :sort-order="table.sortOrder"
                          :append-params="table.moreParams"
                          :http-fetch="loadData"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                >
                    <!--checkbox-->
                    <template slot="checked" slot-scope="props">
                        <b-form-checkbox
                                v-if="checkPermission('users_del__edit')"
                                v-model="checked_users"
                                :value="props.rowData.user_id">
                        </b-form-checkbox>
                    </template>

                    <!--avatar-->
                    <template slot="avatar" slot-scope="props">
                        <template v-if="props.rowData.avatar">
                            <template v-if="props.rowData.photo">
                                <a :href="props.rowData.photo"
                                   :data-lightbox="'users-avatar' + props.rowData.user_id"
                                   :data-title="getPhotoTitle(props.rowData)"
                                >
                                    <img :src="props.rowData.avatar" alt="">
                                    <span class="badge" v-show="props.rowData.photos.length > 0">
                                        {{ props.rowData.photos.length + 1 }}
                                    </span>
                                </a>
                                <template v-if="props.rowData.photos.length > 0">
                                    <a v-for="item in props.rowData.photos"
                                       :href="item"
                                       :data-lightbox="'users-avatar' + props.rowData.user_id"
                                       :data-title="getPhotoTitle(props.rowData)"
                                    ></a>
                                </template>
                            </template>
                            <template v-else>
                                <img :src="props.rowData.avatar" alt="">
                            </template>
                        </template>
                    </template>

                    <!--name-->
                    <template slot="name" slot-scope="props">
                        <span :class="{'users-banned':  props.rowData.banned}">
                            <span class="users-online-status" :class="getOnlineClass(props.rowData.last_visit)">
                                <span>{{ props.rowData.name }}</span>
                                <i v-if="props.rowData.fake === 1" class="fab fa-gitkraken"></i>
                            </span>
                        </span>
                    </template>

                    <!--banned-->
                    <template slot="banned" slot-scope="props">
                        <el-field-banned :data="props.rowData"></el-field-banned>
                    </template>

                    <!--gender-->
                    <template slot="gender" slot-scope="props">
                        <i v-if="props.rowData.gender === 1" class="fas fa-mars fa-lg"></i>
                        <i v-if="props.rowData.gender === 2" class="fas fa-venus fa-lg"></i>
                    </template>

                    <!--achievements-->
                    <template slot="achievements" slot-scope="props">
                        <ul class="users-achievements-block">
                            <li v-for="item in props.rowData.achievements">
                                <i class="fas fa-trophy fa-xs"></i> {{ item }}
                            </li>
                        </ul>
                    </template>

                    <!--vip-->
                    <template slot="vip" slot-scope="props">
                        <template v-if="props.rowData.vip.status === 1">
                            <div class="users-vip-block">
                                <template v-if="props.rowData.vip.payment === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-pay"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else-if="props.rowData.vip.vip_adm === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-adm"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else>
                                    <i class="fas fa-chess-queen fa-lg vip-unknown"></i>
                                </template>
                            </div>
                        </template>
                    </template>

                    <!-- deleted_at -->
                    <template slot="deleted_at" slot-scope="props">
                        <span style="color: #264d75">{{ props.rowData.deleted_at }}</span>
                    </template>

                    <!-- deleted_text  -->
                    <template slot="deleted_text" slot-scope="props">
                        <b>{{ props.rowData.deleted_text }}</b>
                    </template>

                    <!--messages-->
                    <template slot="messages" slot-scope="props">
                        <div>
                            <div>
                                <span><i class="far fa-comment"></i> {{ props.rowData.messages }}</span>
                                <span><i class="far fa-list-alt"></i> {{ props.rowData.dialogs }}</span>
                            </div>
                        </div>
                    </template>

                    <!--app_version-->
                    <template slot="app_version" slot-scope="props">
                        <div v-for="item in props.rowData.app_version">
                            {{ item }}
                        </div>
                    </template>

                    <!--controls-->
                    <template slot="controls" slot-scope="props">
                        <div class="users-actions">
                            <template v-if="permEdit === true">
                                <a :href="getEditUri(props.rowData.user_id)"
                                   target="_blank"
                                   class="btn btn-primary btn-xs"
                                   title="Профиль пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-primary btn-xs disabled"
                                   title="Профиль пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                        </div>
                    </template>
                </vuetable>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'

import VueDatepickerLocal from 'vue-datepicker-local'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetablePagination from '../users/UsersPaginationComponent'
import Spinner from 'vue-simple-spinner'
import moment from 'moment'
import VueResize from 'vue-resize'
import ElFieldBanned from '../elements/fieldBanned'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'
import 'floatthead'

Vue.use(VueResize);

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        'vue-simple-spinner': Spinner,
        ElFieldBanned
    },
    data() {
        return {
            user_edit_uri: '/users/user/edit?id=',
            checked_users: [],
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок'
            },
            filterText: {
                id: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                platform: 'na',
                vip: 'na',
                deleted_at_min: '',
                deleted_at_max: '',
            },
            table: {
                apiUrl: '/api/users-deleted/get-data',
                perPage: 200,
                fields: [
                    {
                        name: '__slot:checked',
                        title: '&nbsp;',
                        titleClass: 'users-checkbox',
                        dataClass: 'users-checkbox',
                    },
                    {
                        name: '__slot:avatar',
                        title: '&nbsp;',
                        titleClass: 'users-avatar',
                        dataClass: 'users-avatar text-center'
                    },
                    {
                        name: '__slot:name',
                        title: 'Имя',
                        sortField: 'name',
                        titleClass: 'users-name',
                        dataClass: 'users-name users-name-online'
                    },
                    {
                        name: '__slot:banned',
                        title: '<i class="fas fa-exclamation-circle"></i>',
                        sortField: 'banned_dev,banned_acc,blocked_photo,banned_date',
                        titleClass: 'users-banned text-center',
                        dataClass: 'users-banned text-center'
                    },
                    {
                        name: '__slot:gender',
                        title: 'Пол',
                        titleClass: 'users-gender',
                        dataClass: 'users-gender text-center',
                        sortField: 'sex'
                    },
                    {
                        name: 'years',
                        title: 'Лет',
                        titleClass: 'users-years',
                        dataClass: 'users-years text-center',
                        sortField: 'years'
                    },
                    {
                        name: 'city',
                        title: 'Город',
                        sortField: 'city',
                        titleClass: 'users-city',
                        dataClass: 'users-city',
                    },
                    {
                        name: '__slot:achievements',
                        title: 'Достижения',
                        titleClass: 'users-achievements',
                        dataClass: 'users-achievements',
                    },
                    {
                        name: 'gifts',
                        title: '<i class="fa fa-gift fa-lg"></i>',
                        titleClass: 'users-gifts text-center',
                        dataClass: 'users-gifts text-center',
                        sortField: 'gifts'
                    },
                    {
                        name: 'points',
                        title: '<i class="fab fa-btc fa-lg"></i>',
                        titleClass: 'users-points text-center',
                        dataClass: 'users-points text-center',
                        sortField: 'points'
                    },
                    {
                        name: '__slot:vip',
                        title: '<i class="fas fa-chess-queen fa-lg"></i>',
                        titleClass: 'users-vip text-center',
                        dataClass: 'users-vip text-center',
                        sortField: 'vip,vip_expires'
                    },
                    {
                        name: 'reg_date',
                        title: 'Регистрация',
                        titleClass: 'users-reg-date',
                        dataClass: 'users-reg-date',
                        sortField: 'reg_date',
                        callback: 'formatDateTime'
                    },
                    {
                        name: 'deleted_at',
                        title: 'Удаление',
                        titleClass: 'users-deleted-at',
                        dataClass: 'users-deleted-at',
                        sortField: 'deleted_at',
                        callback: 'formatDateTime'
                    },
                    {
                        name: 'deleted_text',
                        title: 'Причина удаления',
                        titleClass: 'users-deleted-text',
                        dataClass: 'users-deleted-text',
                    },
                    {
                        name: '__slot:messages',
                        title: '<i class="fas fa-comments fa-lg"></i>',
                        titleClass: 'users-messages text-center',
                        dataClass: 'users-messages',
                        sortField: 'messages,dialogs'
                    },
                    {
                        name: '__slot:app_version',
                        title: 'Версия',
                        titleClass: 'users-app-version',
                        dataClass: 'users-app-version'
                    },
                    {
                        name: '__slot:controls',
                        title: '&nbsp;',
                        titleClass: 'users-controls',
                        dataClass: 'users-controls'
                    }
                ],
                sortOrder: [
                    {
                        field: 'deleted_at',
                        direction: 'desc'
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table b-table table-striped table-hover users-list',
                        ascendingClass: 'current-sort',
                        descendingClass: 'current-sort',
                        ascendingIcon: 'glyphicon glyphicon-chevron-down',
                        descendingIcon: 'glyphicon glyphicon-chevron-up',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                        renderIcon: function(classes) {
                            return `<span class="${classes.join(' ')}"></span>`
                        }
                    }
                },
                moreParams: {},
                loading: false,
            },
            permEdit: false,
        }
    },
    async mounted() {
        await this.getCurrentUser();
        this.permEdit = this.checkPermission('users__edit');

        this.showTableHeader();
    },
    methods: {
        showTableHeader() {
            let table = $('table#vuetable-container');
            let header = $('header.header');
            let search = $('.search-block');

            table.css('margin-top', search.height() + 'px');
            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function() {
                    return header.outerHeight() + search.outerHeight();
                }
            });
            table.trigger('reflow');
        },
        loadData(apiUrl, httpOptions) {
            /**
             * @property {number} total
             * @property {number} per_page
             * @property {number} current_page
             * @property {number} last_page
             * @property {number} next_page_url
             * @property {number} prev_page_url
             * @property {number} from
             * @property {number} to
             * @property {number} data.user_id
             * @property {string} data.avatar
             * @property {string} data.photo
             * @property {string} data.name
             * @property {number} data.gender
             * @property {number} data.years
             * @property {string} data.city
             * @property {string} data.achievements
             * @property {number} data.gifts
             * @property {number} data.points
             * @property {object} data.vip
             * @property {number} data.vip.status
             * @property {number} data.vip.payment
             * @property {number} data.vip.expires
             * @property {number} data.vip.vip_adm
             * @property {string} data.reg_date
             * @property {string} data.deleted_at
             * @property {number} deleted_code
             * @property {string} deleted_text
             * @property {number} data.messages
             * @property {number} data.dialogs
             * @property {string} data.app_version
             * @property {boolean} data.banned
             * @property {numeric} data.banned_acc
             * @property {numeric} data.banned_dev
             * @property {string} data.banned_date
             * @property {string} data.banned_admin
             * @property {array} data.photos
             * @property {string} data.photos.i
             */
            return axios.get(apiUrl, httpOptions);
        },
        onLoading() {
            this.table.loading = true;
        },
        onLoaded() {
            this.table.loading = false;
            this.showTableHeader();
        },
        onPaginationData(paginationData) {
            if (paginationData.to > paginationData.total) {
                paginationData.to = paginationData.total;
            }
            this.$refs.pagination.setPaginationData(paginationData);
            this.$refs.paginationInfo.setPaginationData(paginationData);
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page);
        },
        refreshTable() {
            Vue.nextTick(() => this.$refs.vuetable.reload());
        },
        doFilter() {
            this.table.moreParams = {
                'filter': this.filterText
            };
            this.$refs.vuetable.changePage(1);
            this.checked_users = [];
            this.refreshTable();
        },
        resetFilter() {
            this.filterText = {
                user_id: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                platform: 'na',
                vip: 'na',
                deleted_at_min: '',
                deleted_at_max: ''
            };
            this.doFilter();
        },
        getEditUri(user_id) {
            return this.user_edit_uri + user_id;
        },
        formatDateTime(value, fmt = 'DD.MM.YYYY HH:mm:ss') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        getPhotoTitle(row) {
            let title = row.name + ', ' + row.years;

            if (row.city !== null && row.city.length > 0) {
                title += ' (' + row.city + ')';
            }

            return title;
        },
        getOnlineClass(value) {
            let className = 'online-status-';

            if (value == null) {
                className += 'offline';
            } else {
                let online = moment.duration(moment().diff(moment(value))).asMinutes();

                if (online < 10) {
                    className += 'online';
                } else if (online < 360) {
                    className += 'visited';
                } else {
                    className += 'offline';
                }
            }

            return className;
        },
        banDeviceAdd(users) {
            if(confirm('Забанить устройство выбранных пользователей?')) {
                return axios.post('/api/users-deleted/ban-device-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceRemove(users) {
            if(confirm('Удалить бан устройства выбранных пользователей?')) {
                return axios.post('/api/users-deleted/ban-device-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        isCheckedUsers() {
            return this.checked_users.length > 0;
        },
        bntBannedDevAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedDevRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_dev === 0 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        onChangeSelect(index) {
            return index !== 'na' && index !== '0';
        }
    }
}
</script>
