<template>
    <div class="vuetable-pagination">
        <nav aria-label="Table Navigation">
            <ul class="pagination">

                <li :class="{'disabled': isOnFirstPage}" class="page-item">
                    <a class="page-link"
                       href="#"
                       @click.prevent="loadPage('prev')">
                        <span><i class="fas fa-angle-left"></i></span>
                    </a>
                </li>

                <template v-if="this.tablePagination !== null && !notEnoughPages && this.tablePagination.current_page > 3">
                    <li class="page-item">
                        <a class="page-link"
                           href="#"
                           @click.prevent="loadPage(1)"
                           v-html="1"></a>
                    </li>
                    <li v-if="this.tablePagination.current_page > 4" class="disabled page-item">
                        <a class="page-link">...</a>
                    </li>
                </template>

                <template v-if="notEnoughPages">
                    <li v-for="n in totalPage"
                        :key="n"
                        :class="{'active': isCurrentPage(n)}"
                        class="page-item">
                        <a class="page-link"
                           href="#"
                           @click.prevent="loadPage(n)"
                           v-html="n"></a>
                    </li>
                </template>
                <template v-else>
                    <li v-for="n in windowSize"
                        :key="n"
                        :class="{'active': isCurrentPage(windowStart+n-1)}"
                        class="page-item">
                        <a class="page-link"
                           href="#"
                           @click.prevent="loadPage(windowStart+n-1)"
                           v-html="windowStart+n-1"></a>
                    </li>
                </template>

                <template v-if="this.tablePagination !== null && !notEnoughPages && this.tablePagination.current_page < totalPage-2">
                    <li v-if="this.tablePagination.current_page < totalPage-3" class="disabled page-item">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="#"
                           @click.prevent="loadPage(totalPage)"
                           v-html="totalPage"></a>
                    </li>
                </template>

                <li :class="{'disabled': isOnLastPage}" class="page-item">
                    <a class="page-item"
                       href="#"
                       @click.prevent="loadPage('next')">
                        <span><i class="fas fa-angle-right"></i></span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</template>

<script>
    import {VuetablePaginationMixin} from 'vuetable-2'

    export default {
        mixins: [VuetablePaginationMixin]
    }
</script>