<template>
    <section class="wrapper">
        <div class="row">
            <div>
                <section v-if="user.user_id" class="panel user-dialog">
                    <div class="user-dialog__side">
                        <div class="user-dialog__header">
                            <div>
                                <div class="user-dialog__header-avatar">
                                    <img :src="user.avatar" :alt="user.name">
                                </div>
                                <div>
                                    <div><strong>{{ user.name }}</strong> ({{ user.age }})</div>
                                    <div>{{ user.city }}</div>
                                </div>
                                <div>
                                    <div>Ищет: {{ searchGender }}</div>
                                    <div>Возраст: {{ user.search.age_min }} - {{ user.search.age_max }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="timeline-messages">
                                <div v-for="item in dialogs" :key="item.id"
                                     :class="[dialog_active === item.id ? 'dialog-active' : '', 'msg-time-chat']">
                                    <a v-if="item.user.avatar !== ''" class="message-img" :href="'/users/user/edit?id='+item.user.user_id" target="_blank">
                                        <img alt="" v-bind:src="item.user.avatar" class="avatar">
                                    </a>
                                    <a v-if="item.user.avatar === ''" class="message-img"></a>
                                    <div class="message-body msg-in" @click="getMessages(item.user.user_id, item.id)">
                                        <div class="text">
                                            <p class="attribution">
                                                <a>
                                                    <div v-if="item.user.online > 0"
                                                         :class="[item.user.online === 2 ? 'online' : 'recently', 'message-online']"></div>
                                                    <i v-if="item.user.vip === 1" class="fas fa-chess-queen fa-lg"></i>
                                                    {{ item.user.name }} ({{ item.user.age }})
                                                </a>
                                                {{ fromUnixTimestamp(item.last_message.date) }}
                                                <span v-show="item.unreads > 0" class="badge">{{ item.unreads }}</span>
                                            </p>
                                            <!--last message-->
                                            <p>
                                                <span :class="getMessageStatusClass(item.last_message)">
                                                    <template v-if="item.last_message.sender_id === user_id">
                                                        <i v-if="item.last_message.status === 0" class="fas fa-check"></i>
                                                        <i v-else-if="item.last_message.status === 1 || item.last_message.status === 2" class="fas fa-check-double"></i>
                                                    </template>
                                                </span>

                                                <template v-if="item.last_message.deleted === 0">
                                                    <template v-if="item.last_message.type === 1">
                                                        <template v-if="item.last_message.hasOwnProperty('message_translation')">
                                                            {{ item.last_message.message_translation }}
                                                        </template>
                                                        <template v-else>
                                                            {{ item.last_message.message }}
                                                        </template>
                                                    </template>
                                                    <template v-else>
                                                        <span class="not-txt">
                                                            <template v-if="item.last_message.type === 2"><i class="far fa-file"></i> Фотография</template>
                                                            <template v-else-if="item.last_message.type === 3"><i class="far fa-file"></i> Местоположение</template>
                                                            <template v-else-if="item.last_message.type === 4"><i class="far fa-file"></i> Аудиосообщение</template>
                                                            <template v-else-if="item.last_message.type === 5"><i class="far fa-file"></i> Музыка</template>
                                                            <template v-else-if="item.last_message.type === 6"><i class="far fa-file"></i> Видео</template>
                                                            <template v-else><i class="fas fa-question"></i> Неизвестный тип сообщения</template>
                                                        </span>
                                                    </template>
                                                </template>
                                                <template v-else>
                                                    <span class="deleted">Сообщение удалено</span>
                                                </template>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-dialog__content">
                        <div class="user-dialog__create">
                            <b-form-input placeholder="ID пользователя"
                                          v-model="create_dialog.user_id"
                                          @keyup.enter.native="createDialog"
                                          :disabled="wsAlive !== true"></b-form-input>
                            <b-form-input placeholder="Сообщение"
                                          v-model="create_dialog.message"
                                          @keyup.enter.native="createDialog"
                                          :disabled="wsAlive !== true"></b-form-input>
                            <b-button variant="primary" @click="createDialog" :disabled="wsAlive !== true">Начать диалог</b-button>
                        </div>
                        <div v-if="dialog_active" class="user-dialog__messages">
                            <section id="userDialogMessages">
                                <div class="panel-body profile-activity" v-images-loaded.on="imageLoading">
                                    <div v-for="ms in dialog_messages" :key="ms.id" class="activity"
                                         v-bind:class="[interlocutor.user_id === ms.sender_id ? '' : 'alt']">
                                        <a v-if="interlocutor.user_id === ms.sender_id" class="ava-img ava-img-left">
                                            <img alt="" v-bind:src="interlocutor.avatar" class="avatar avatar-rounded">
                                        </a>
                                        <a v-else class="ava-img ava-img-right">
                                            <img alt="" v-bind:src="user.avatar" class="avatar avatar-rounded">
                                        </a>
                                        <div class="activity-desk">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <div v-bind:class="[interlocutor.user_id === ms.sender_id ? 'arrow' : 'arrow-alt']"></div>
                                                    <template v-if="ms.deleted === 1">
                                                        <p class="message-deleted">Сообщение удалено</p>
                                                    </template>
                                                    <template v-else>
                                                        <template v-if="parseInt(ms.type, 10) === 1">
                                                            <template v-if="ms.hasOwnProperty('messageTextTranslation')">
                                                                <p class="message-translate-source" v-html="formatTextMessage(ms.messageText)"></p>
                                                                <p v-html="formatTextMessage(ms.messageTextTranslation)"></p>
                                                            </template>
                                                            <template v-else>
                                                                <p v-html="formatTextMessage(ms.messageText)"></p>
                                                            </template>
                                                        </template>
                                                        <template v-else-if="parseInt(ms.type, 10) === 2">
                                                            <div class="dialog-image">
                                                                <a :href="ms.imageURL" :data-lightbox="'dialog-user-'+ms.sender_id"
                                                                   :data-title="getMessageTitle(ms)">
                                                                    <img :src="ms.thumbImageURL" alt=""/>
                                                                </a>
                                                            </div>
                                                        </template>
                                                        <template v-else-if="parseInt(ms.type, 10) === 3">
                                                            <GmapMap
                                                                    :center="{ lat:ms.latitude, lng:ms.longitude }"
                                                                    :zoom="13"
                                                                    map-type-id="terrain"
                                                                    class="dialog-geo"
                                                            >
                                                                <GmapMarker
                                                                        :position="{ lat:ms.latitude, lng:ms.longitude }"
                                                                        :clickable="true"
                                                                        :draggable="true"
                                                                        :icon="{ url:'https://static.skylove.su/vnd/misc/ic_marker.png' }"
                                                                />
                                                            </GmapMap>
                                                        </template>
                                                        <template v-else-if="parseInt(ms.type, 10) === 4">
                                                            <div class="dialog-audio">
                                                                <div>
                                                                    <i class="fas fa-file-audio"></i>
                                                                    <template v-if="ms.audioTitle">{{ ms.audioTitle }}</template>
                                                                    <template v-else>Без названия</template>
                                                                </div>
                                                                <audio controls>
                                                                    <source v-bind:src="ms.audioURL">
                                                                    Тег audio не поддерживается вашим браузером.
                                                                </audio>
                                                            </div>
                                                        </template>
                                                        <template v-else-if="parseInt(ms.type, 10) === 5">
                                                            <div class="dialog-music">
                                                                <div>
                                                                    <i class="fas fa-music"></i>
                                                                    <template v-if="ms.musicTitle">{{ ms.musicTitle }}</template>
                                                                    <template v-else>Без названия</template>
                                                                </div>
                                                                <audio controls>
                                                                    <source v-bind:src="ms.musicURL">
                                                                    Тег audio не поддерживается вашим браузером.
                                                                </audio>
                                                            </div>
                                                        </template>
                                                        <template v-else-if="parseInt(ms.type, 10) === 6">
                                                            <div class="dialog-video">
                                                                <video v-bind:poster="ms.thumbVideoURL" controls>
                                                                    <source v-bind:src="ms.videoURL">
                                                                    Тег video не поддерживается вашим браузером.
                                                                </video>
                                                            </div>
                                                        </template>
                                                    </template>
                                                    <div class="message-time" :class="getMessageStatusClass(ms)">
                                                        <time>{{ fromUnixTimestamp(ms.date) }}</time>
                                                        <template v-if="ms.sender_id === user_id">
                                                            <i v-if="ms.status === 0" class="fas fa-check"></i>
                                                            <i v-else-if="ms.status === 1 || ms.status === 2" class="fas fa-check-double"></i>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div>
                                <textarea-autosize
                                        placeholder="Введите сообщение..."
                                        ref="someName"
                                        v-model="message"
                                        :min-height="34"
                                        :max-height="210"
                                        rows="1"
                                        class="form-control"
                                        @keydown.enter.native.exact.prevent
                                        @keydown.enter.native.exact="wsSendMessage"
                                        @keydown.enter.ctrl.native.exact="newlineMessage"
                                        @keydown.enter.shift.exact="newlineMessage"
                                        @keydown.esc.native.exact="resetMessage"
                                        :disabled="wsAlive !== true"
                                ></textarea-autosize>
                                <a class="btn btn-danger" @click="wsSendMessage" :disabled="wsAlive !== true">Отправить</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'
import AsyncComputed from 'vue-async-computed'
import config from '../../config.js'
import axios from '../../utils/axios'
import moment from 'moment'
import * as VueGoogleMaps from 'vue2-google-maps'
import VueNativeSock from 'vue-native-websocket'
import imagesLoaded from 'vue-images-loaded'
import VueTextareaAutosize from 'vue-textarea-autosize'

import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'

Vue.use(AsyncComputed);
Vue.use(VueTextareaAutosize);
Vue.use(VueGoogleMaps, {
    load: {
        key: config.GOOGLE_API_KEY,
        libraries: 'places',
    },
});

export default {
    directives: {
        imagesLoaded,
    },
    data() {
        return {
            user_id: 0,
            user: {
                user_id: 0,
                name: '',
                sex: 0,
                city: '',
                age: 0,
                photo: '',
                avatar: '',
                search: {
                    gender: 0,
                    age_min: 0,
                    age_max: 0
                }
            },
            /**
             * @mixes user
             */
            interlocutor: {},
            dialogs: [],
            dialog_messages: [],
            dialog_active: 0,
            dialog_load: false,
            message: '',
            user_token: '',
            create_dialog: {
                user_id: '',
                message: '',
            },
            ws_url: config.WS_URL,
            queue_key: '',
            wsAlive: false,
            wsReconnectInterval: false,
            wsReconnectAttemptCurrent: 0,
            wsReconnectAttemptLimit: 10,
            wsReconnectAttemptInterval: 1000,
        }
    },
    created() {
        if (this.$route.query.hasOwnProperty('id')) {
            let user_id = parseInt(this.$route.query.id, 10);

            if (user_id > 0) {
                this.user_id = user_id;
            }
        }
    },
    mounted() {
        if (!this.user_id) {
            console.log('Error: cannot get user_id');

            return false;
        }

        this.queue_key = process.env.MIX_CHAT_QUEUE_KEY;
    },
    computed: {
        searchGender() {
            if (this.user.search.gender === 0) {
                return 'Всех';
            } else if (this.user.search.gender === 1) {
                return 'М';
            } else if (this.user.search.gender === 2) {
                return 'Ж';
            }

            return '';
        },
    },
    watch: {
        user: {
            async handler() {
                await this.getDialogs();
                await this.wsConnect();

                if (this.wsAlive !== true) {
                    this.wsReconnect();
                }
            },
            deep: true
        },
        user_id() {
            this.getToken();
        },
        user_token() {
            this.getUser();
        },
        dialog_messages() {
            this.dialog_load = false;
        },
        dialog_active(val) {
            this.interlocutor = [];

            if (val > 0) {
                for (let dialog of this.dialogs) {
                    if (dialog.id === val) {
                        this.interlocutor = dialog.user;

                        return true;
                    }
                }
            }

            return false;
        },
        dialog_load(val) {
            if (val === true) {
                this.scrollBottomDialog();
            }
        },
        wsAlive(nVal) {
            if (nVal === false) {
                this.wsReconnect();
            }
        },
    },
    methods: {
        getToken() {
            return axios.get('/api/user/get-token/' + this.user_id)
                .then((response) => {
                    this.user_token = response.data;
                })
                .catch((error) => {
                    alert('Не удалось получить токен пользователя');
                    this.jsonLog(error);
                });
        },
        wsConnect() {
            if (this.user_token) {
                Vue.use(VueNativeSock, this.ws_url, {
                    connectManually: true,
                    format: 'json',
                });
                this.$connect();

                console.info('WebSocket connection...');

                this.$socket.onopen = () => {
                    this.wsAlive = true;
                    clearInterval(this.wsReconnectInterval);

                    console.info('WebSocket open');

                    this.$socket.sendObj({
                        command: 'authentication',
                        data: {
                            token: this.user_token
                        }
                    });

                    this.$socket.onmessage = (data) => {
                        let response = {};

                        try {
                            response = JSON.parse(data.data);
                        } catch (e) {
                            alert('Некорректный формат ответа');
                            console.error(data.data);

                            return false;
                        }

                        if (response.hasOwnProperty('command') === false) {
                            return false;
                        }

                        if (response.command === 'authentication') {
                            if (response.status !== 'ok') {
                                alert('Не удалось авторизоваться при подключении к WebSocket');

                                return false;
                            }
                        } else if (response.command === 'new_message' || response.command === 'msg_sync' || response.command === 'send_message') {
                            if (response.command === 'send_message' && response.status === 'error') {
                                let msg = '';

                                if (response.data.hasOwnProperty('error')) {
                                    const err = response.data.error;

                                    if (err === 9) {
                                        msg = 'Ошибка сервера';
                                    } else if (err === 40) {
                                        msg = '';
                                    } else if (err === 42) {
                                        msg = 'Собеседник заблокировал вас';
                                    } else if (err === 43) {
                                        msg = 'Собеседник еще не ответил на первое сообщение';
                                    } else if (err === 44) {
                                        msg = 'Вы не попадаете в диапазон поиска собеседника по возрасту или полу';
                                    } else if (err === 45) {
                                        msg = 'Недопустимый текст сообщения';
                                    } else if (err === 46) {
                                        msg = 'Отправка сообщений ограничена на 10 минут';
                                    } else if (err === 425) {
                                        msg = 'Необходимо подтвердить свой e-mail';
                                    } else {
                                        msg = err;
                                    }
                                }

                                alert('Не удалось отправить сообщение' + (msg ? ': ' + msg : ''));
                                this.jsonLog(response);

                                return false;
                            }

                            let msg = response.data.message;
                            let idx = this.dialogs.findIndex(i => i.id === msg.chat_id);

                            if (idx >= 0) {
                                this.updateDialog(msg);
                                if (msg.chat_id === this.dialog_active) {
                                    msg.date = moment().unix();

                                    this.dialog_messages.push(msg);
                                }
                            } else {
                                // если новый диалог, то обновляем весь список
                                this.getDialogs();
                            }
                        } else if (response.command === 'chat_read') {
                            /**
                             * @namespace
                             * @property {Object} response.data
                             * @property {number} response.data.chat_id
                             */
                            if (response.data.chat_id === this.dialog_active) {
                                for (let message of this.dialog_messages) {
                                    if (message.sender_id === this.user_id) {
                                        message.status = 2;
                                    }
                                }
                            }

                            let idx = this.dialogs.findIndex(i => i.id === response.data.chat_id);
                            if (idx >= 0) {
                                this.dialogs[idx].last_message.status = 2;
                            } else {
                                this.getDialogs();
                            }
                        } else if (response.command === 'msg_status') {
                            /**
                             * @namespace
                             * @property {Object} response.data.msg_status
                             * @property {number} response.data.msg_status.chat_id
                             * @property {number} response.data.msg_status.msg_id
                             * @property {number} response.data.msg_status.msg_status
                             */
                            let msg = response.data.msg_status;
                            let idx = this.dialogs.findIndex(i => i.id === msg.chat_id);

                            // обновление статуса сообщения в списке диалогов
                            if (idx >= 0) {
                                if (this.dialogs[idx].last_message.lastMsg_id === msg.msg_id) {
                                    this.dialogs[idx].last_message.status = msg.msg_status;
                                }
                            } else {
                                this.getDialogs();
                            }

                            // обновление статуса сообщения в списке сообщений
                            if (msg.chat_id === this.dialog_active) {
                                let idx = this.dialog_messages.findIndex(i => i.msg_id === msg.msg_id);

                                if (idx >= 0) {
                                    this.dialog_messages[idx].status = msg.msg_status;
                                }
                            }
                        }
                    }
                };

                this.$socket.onclose = () => {
                    this.wsAlive = false;
                };
            } else {
                alert('Не удалось подключиться к WebSocket (отсутствует токен)');

                return false;
            }

            return true;
        },
        wsReconnect() {
            this.wsReconnectAttemptCurrent = 0;

            this.wsReconnectInterval = setInterval(function () {
                this.wsReconnectAttemptCurrent++;

                console.info(`Reconnecting ws attempt: ${this.wsReconnectAttemptCurrent}`);

                if (this.wsReconnectAttemptCurrent >= this.wsReconnectAttemptLimit) {
                    alert('Не удалось подключиться к WebSocket');

                    clearInterval(this.wsReconnectInterval);
                }
                this.wsConnect();
            }.bind(this), this.wsReconnectAttemptInterval);
        },
        getUser() {
            return axios.get('/api/user/get-user/' + this.user_id)
                .then((response) => {
                    /**
                     * @property {number} response.data.user_id
                     * @property {string} response.data.name
                     * @property {number} response.data.sex
                     * @property {string} response.data.city
                     * @property {number} response.data.age
                     * @property {string} response.data.photo
                     * @property {string} response.data.avatar
                     * @property {array} response.data.search
                     * @property {number} response.data.search.gender
                     * @property {number} response.data.search.age_min
                     * @property {number} response.data.search.age_max
                     */
                    this.user = response.data;
                })
                .catch((error) => {
                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        let err = error.response.data.error;
                        if (err === 403) {
                            msg = 'Пользователь забанен';
                        } else if (err === 425) {
                            msg = 'Необходимо подтвердить свой e-mail';
                        } else {
                            msg = err;
                        }
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось получить информацию о пользователе' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                });
        },
        getDialogs() {
            return axios.get('/api/user/get-dialogs/' + this.user_id)
                .then((response) => {
                    /**
                     * @property {array} response.data.chats
                     * @property {number} response.data.chats.i.id
                     * @property {array} response.data.chats.i.user
                     * @property {number} response.data.chats.i.user.user_id
                     * @property {string} response.data.chats.i.user.name
                     * @property {string} response.data.chats.i.user.avatar
                     * @property {number} response.data.chats.i.user.age
                     * @property {number} response.data.chats.i.user.online
                     * @property {number} response.data.chats.i.user.last_visit
                     * @property {number} response.data.chats.i.user.vip
                     * @property {number} response.data.chats.i.unreads
                     * @property {array} response.data.chats.i.last_message
                     * @property {number} response.data.chats.i.last_message.lastMsg_id
                     * @property {number} response.data.chats.i.last_message.type
                     * @property {number} response.data.chats.i.last_message.sender_id
                     * @property {number} response.data.chats.i.last_message.status
                     * @property {number} response.data.chats.i.last_message.date
                     * @property {string} response.data.chats.i.last_message.tz
                     * @property {number} response.data.chats.i.last_message.shared
                     * @property {number} response.data.chats.i.last_message.deleted
                     * @property {string} response.data.chats.i.last_message.message
                     * @property {string} response.data.chats.i.last_message.message_translation
                     */
                    let dialogs = response.data;

                    if (dialogs.hasOwnProperty('chats')) {
                        this.dialogs = dialogs.chats;
                    }
                })
                .catch((error) => {
                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        msg = error.response.data.error;
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось получить диалоги' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                });
        },
        updateDialog(message) {
            let idx = this.dialogs.findIndex(i => i.id === message.chat_id);

            if (idx >= 0) {
                let dialog = this.dialogs[idx];

                dialog.last_message.date = moment().unix();
                dialog.last_message.lastMsg_id = message.msg_id;
                dialog.last_message.sender_id = message.sender_id;
                dialog.last_message.status = message.status;
                dialog.last_message.type = parseInt(message.type, 10);
                dialog.last_message.shared = parseInt(message.shared, 10);
                dialog.last_message.deleted = 0;
                dialog.last_message.message = dialog.last_message.type === 1
                    ? dialog.last_message.message = message.messageText
                    : '';
                if (message.sender_id !== this.user_id) {
                    if (message.chat_id === this.dialog_active) {
                        this.setStatusMessage(message.msg_id, 2);
                    } else {
                        this.setStatusMessage(message.msg_id, 1);
                        dialog.unreads++;
                    }

                    dialog.user.online = 2;
                }

                // перемещение диалога в начало списка
                if (idx !== 0) {
                    this.dialogs.splice(0, 0, this.dialogs.splice(idx, 1)[0]);
                }
            }
        },
        getMessages(user_id, dialog_id) {
            axios.get('/api/user/dialog/get/' + this.user_id + '/' + dialog_id)
                .then((response) => {
                    /**
                     * @namespace
                     * @property {Object[]} messages
                     * @property {number} messages.msg_id
                     * @property {number} messages.sender_id
                     * @property {number} messages.date
                     * @property {string} messages.tz
                     * @property {number} messages.shared
                     * @property {number} messages.status
                     * @property {number} messages.deleted
                     * @property {string} messages.type
                     * @property {string} messages.messageText
                     * @property {string} messages.messageTextTranslation
                     * @property {string} [messages.imageURL]
                     * @property {string} [messages.thumbImageURL]
                     * @property {string} [messages.audioURL]
                     * @property {string} [messages.audioTitle]
                     * @property {string} [messages.musicURL]
                     * @property {string} [messages.musicTitle]
                     * @property {string} [messages.musicLength]
                     * @property {string} [messages.videoURL]
                     * @property {string} [messages.thumbVideoURL]
                     * @property {string} [messages.videoLength]
                     * @property {string} [messages.fileURL]
                     * @property {number} [messages.longitude]
                     * @property {number} [messages.latitude]
                     */
                    let messages = response.data.messages;
                    this.dialog_messages = [];

                    if (this.dialog_active !== dialog_id) {
                        this.dialog_active = dialog_id;
                    }

                    if (messages.length > 0) {
                        this.dialog_messages = messages.reverse();
                        this.readDialog(dialog_id);
                    }
                })
                .catch((error) => {
                    this.dialog_active = 0;

                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        msg = error.response.data.error;
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось получить сообщения диалога' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                })
        },
        resetMessage() {
            if (this.message !== '' && confirm('Удалить набранное сообщение?')) {
                this.message = '';
            }
        },
        newlineMessage() {
            this.message = this.message + "\n";
        },
        /* Отправка сообщения через web-socket */
        wsSendMessage() {
            if (!this.message || !this.dialog_active || !this.interlocutor) {
                return false;
            }

            const data = {
                command: 'send_message',
                data: {
                    message: {
                        chat_id: this.dialog_active,
                        user_id: this.interlocutor.user_id,
                        type: 1,
                        messageText: this.message,
                        queue_key: this.queue_key,
                    },
                }
            };
            this.$socket.send(JSON.stringify(data));

            this.message = '';
        },
        /* Отправка сообщения через api */
        sendMessage() {
            if (!this.message || !this.dialog_active) {
                return false;
            }

            axios.post('/api/user/dialog/send/' + this.user_id, {
                chat_id: this.dialog_active,
                type: 1,
                messageText: this.message,
                queue_key: this.queue_key,
            })
                .catch((error) => {
                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        let err = error.response.data.error;
                        if (err === 42) {
                            msg = 'Собеседник заблокировал вас';
                        } else if (err === 43) {
                            msg = 'Собеседник еще не ответил на первое сообщение';
                        } else if (err === 44) {
                            msg = 'Вы не попадаете в диапазон поиска собеседника по возрасту или полу';
                        } else if (err === 45) {
                            msg = 'Недопустимый текст сообщения';
                        } else if (err === 46) {
                            msg = 'Отправка сообщений ограничена на 10 минут';
                        } else if (err === 425) {
                            msg = 'Необходимо подтвердить свой e-mail';
                        } else {
                            msg = err;
                        }
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось отправить сообщение' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                })
                .finally(() => {
                    this.message = '';
                })
        },
        setStatusMessage(message_id, status) {
            axios.post('/api/user/dialog/status/' + this.user_id, {
                message_id: message_id,
                status: status,
            })
                .catch((error) => {
                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        msg = error.response.data.error;
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось установить статус сообщения' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                })
        },
        readDialog(dialog_id) {
            axios.get('/api/user/dialog/read/' + this.user_id + '/' + dialog_id)
                .then(() => {
                    for (let dialog of this.dialogs) {
                        if (dialog.id === dialog_id) {
                            dialog.unreads = 0;

                            return true;
                        }
                    }
                })
                .catch((error) => {
                    let msg = '';
                    if (error.response.data.hasOwnProperty('error')) {
                        msg = error.response.data.error;
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось пометить сообщения как прочитанные' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                });

            return false;
        },
        createDialog() {
            let user = parseInt(this.create_dialog.user_id, 10);

            if (user <= 0) {
                alert('Для начала диалога укажите ID пользователя');

                return false;
            }

            if (!this.create_dialog.message) {
                alert('Для начала диалога введите текст сообщения');

                return false;
            }

            axios.post('/api/user/dialog/create/' + this.user_id, {
                user_id: user,
                type: 1,
                messageText: this.create_dialog.message,
                queue_key: this.queue_key,
            })
                .then((response) => {
                    /**
                     * @namespace
                     * @property {Object[]} data.message
                     * @property {number} data.message.msg_id
                     * @property {number} data.message.sender_id
                     * @property {number} data.message.date
                     * @property {string} data.message.tz
                     * @property {number} data.message.date
                     * @property {number} data.message.status
                     * @property {number} data.message.type
                     * @property {number} data.message.shared
                     * @property {number} data.message.chat_id
                     * @property {string} data.message.messageText
                     * @property {number} data.error
                     */
                    let data = JSON.parse(response.data);

                    this.create_dialog = {
                        user_id: '',
                        message: ''
                    };

                    if (this.dialog_active !== data.message.chat_id) {
                        this.getMessages(this.user, data.message.chat_id);
                    }
                })
                .catch((error) => {
                    let msg = '';

                    if (error.response.data.hasOwnProperty('error')) {
                        const err = error.response.data.error;

                        if (err === 9) {
                            msg = 'Ошибка сервера';
                        } else if (err === 40) {
                            msg = '';
                        } else if (err === 42) {
                            msg = 'Собеседник заблокировал вас';
                        } else if (err === 43) {
                            msg = 'Собеседник еще не ответил на первое сообщение';
                        } else if (err === 44) {
                            msg = 'Вы не попадаете в диапазон поиска собеседника по возрасту или полу';
                        } else if (err === 45) {
                            msg = 'Недопустимый текст сообщения';
                        } else if (err === 46) {
                            msg = 'Отправка сообщений ограничена на 10 минут';
                        } else if (err === 425) {
                            msg = 'Необходимо подтвердить свой e-mail';
                        } else {
                            msg = err;
                        }
                    } else if (error.hasOwnProperty('message')) {
                        msg = error.message;
                    }

                    alert('Не удалось начать диалог' + (msg ? ': ' + msg : ''));
                    this.jsonLog(error);
                });
        },
        imageLoading() {
            this.dialog_load = true;
        },
        scrollBottomDialog() {
            this.$nextTick(() => {
                let userDialogMessages = this.$el.querySelector("#userDialogMessages");

                userDialogMessages.scrollTop = userDialogMessages.scrollHeight;
            });
        },
        getMessageTitle(message) {
            let name = '';

            if (message.sender_id === this.user_id) {
                name = this.user.name;
            } else {
                for (let dialog of this.dialogs) {
                    if (message.sender_id === dialog.user.user_id) {
                        name = dialog.user.name;

                        break;
                    }
                }
            }

            return name ? name + ' - ' + this.fromUnixTimestamp(message.date) : '';
        },
        getMessageStatusClass(message) {
            if (message.sender_id === this.user_id) {
                if (message.status === 0) {
                    return 'message-status-send';
                } else if (message.status === 1) {
                    return 'message-status-received';
                } else if (message.status === 2) {
                    return 'message-status-read';
                }
            }

            return '';
        },
        formatTextMessage(message) {
            return message.replace(/(\r\n|\n|\r)/gm, '<br>');
        },
        fromUnixTimestamp(date, format = 'DD.MM.YYYY HH:mm') {
            return moment.unix(date).format(format);
        },
        jsonLog(json) {
            console.error(JSON.parse(JSON.stringify(json)));
        }
    },
}
</script>
