<template>
    <section class="wrapper">
        <!-- SEARCH FORM -->
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3><strong>
                        <vuetable-pagination-info
                                ref="paginationInfo"
                                info-template="Пользователи (<span>{total}</span>) показано <span>{from} - {to}</span>"
                                info-class="pagination-info"
                        ></vuetable-pagination-info>
                    </strong></h3>
                </div>
                <div class="top-pagination search-block-pagination">
                    <div class="vuetable-pagination">
                        <vuetable-pagination ref="pagination"
                                             @vuetable-pagination:change-page="onChangePage"
                        ></vuetable-pagination>
                    </div>
                </div>
                <div v-if="permEdit === true" class="search-block-btns search-users">
                    <b-button-group class="btns-gender">
                        <b-button variant="danger"
                                  title="Изменить пол на женский"
                                  @click="changeGender(checked_users, 2)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-venus fa-lg"></i></b-button>
                        <b-button variant="info"
                                  title="Изменить пол на мужской"
                                  @click="changeGender(checked_users, 1)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-mars fa-lg"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-points">
                        <b-button variant="points"
                                  title="Подарить баллы"
                                  data-toggle="modal"
                                  data-target="#pointsAddModal"
                                  @click="pointsAmountReset"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fab fa-btc"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-vip">
                        <b-button variant="warning"
                                  title="Добавить vip статус"
                                  data-toggle="modal"
                                  data-target="#vipAddModal"
                                  @click="vipDaysReset"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-chess-queen"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить vip статус"
                                  @click="vipRemoveUsers(checked_users)"
                                  :disabled="!isCheckedUsers()"
                        ><i class="fas fa-trash-alt"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-report-message-alert">
                        <b-button variant="orange"
                                  title="Отправить предупреждение"
                                  @click="showAlertMessage()"
                                  :disabled="!isCheckedUsers()">
                            <i class="fas fa-pencil-alt"></i>
                            <i class="fas fa-bullhorn"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-block-account">
                        <b-button variant="primary"
                                  title="Временно заблокировать основное фото"
                                  @click="blockedAdd(checked_users)"
                                  :disabled="!bntBlockedAdd()"
                        ><i class="fas fa-exclamation-triangle"></i>&nbsp;<i class="fas fa-ban"></i>
                        </b-button>
                        <b-button variant="default"
                                  title="Удалить временную блокировку основного фото"
                                  @click="blockedRemove(checked_users)"
                                  :disabled="!bntBlockedRemove()"
                        ><i class="fas fa-eraser"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-account">
                        <b-button variant="orange"
                                  title="Забанить аккаунт"
                                  @click="banUserAdd(checked_users)"
                                  :disabled="!bntBannedAccAdd()"
                        ><i class="fas fa-portrait"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить бан аккаунта"
                                  @click="banUserRemove(checked_users)"
                                  :disabled="!bntBannedAccRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-device">
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="banDeviceAdd(checked_users)"
                                  :disabled="!bntBannedDevAdd()"
                        ><i class="fas fa-mobile-alt"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                        <b-button variant="default"
                                  title="Удалить бан устройства"
                                  @click="banDeviceRemove(checked_users)"
                                  :disabled="!bntBannedDevRemove()"
                        ><i class="fas fa-eraser"></i></b-button>
                    </b-button-group>
                </div>
            </div>
            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-email">
                        <input type="text" class="form-control" v-model="filterText.email" @keyup.enter="doFilter" placeholder="E-mail">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-city">
                        <input type="text" class="form-control" v-model="filterText.city" @keyup.enter="doFilter" placeholder="Город">
                    </div>
                    <div class="param-gender">
                        <label>Пол:</label>
                        <b-form-select v-model="filterText.gender"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.gender) }"
                                       :options="{ '0': 'Неважно', '1': 'Муж', '2': 'Жен' }">
                        </b-form-select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text" class="form-control" v-model="filterText.years_min" @keyup.enter="doFilter" placeholder="от">
                            <input type="text" class="form-control" v-model="filterText.years_max" @keyup.enter="doFilter" placeholder="до">
                        </div>
                    </div>
                    <div class="param-platform">
                        <label>OS:</label>
                        <b-form-select v-model="filterText.platform"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.platform) }"
                                       :options="{ 'na': 'Неважно', 'android': 'Android', 'ios': 'IOS' }">
                        </b-form-select>
                    </div>
                    <div class="param-vip">
                        <label>VIP:</label>
                        <b-form-select v-model="filterText.vip"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.vip) }"
                                       :options="{ 'na': 'Неважно', 'yes': 'Да', 'no': 'Нет' }">
                        </b-form-select>
                    </div>
                    <div class="param-reg">
                        <label>Дата регистрации:</label>
                        <div>
                            <vue-datepicker-local v-model="filterText.reg_at_min"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="от" clearable/>
                            <vue-datepicker-local v-model="filterText.reg_at_max"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="до" clearable/>
                        </div>
                    </div>
                    <div class="param-reg">
                        <label>Дата входа:</label>
                        <div>
                            <vue-datepicker-local v-model="filterText.enter_at_min"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="от" clearable/>
                            <vue-datepicker-local v-model="filterText.enter_at_max"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="до" clearable/>
                        </div>
                    </div>
                    <div class="param-online">
                        <label>Online:</label>
                        <b-form-select v-model="filterText.online"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.online) }"
                                       :options="{ 'na': 'Неважно', 'online': 'Online', 'visited': 'Был недавно', 'offline': 'Offline' }">
                        </b-form-select>
                    </div>
                    <div class="param-online">
                        <label>UTM:</label>
                        <b-form-select v-model="filterText.utm"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.utm) }"
                                       :options="{ 'na': 'Неважно', 'yes': 'Любой', 'adwords': 'AdWords', 'google-play': 'Google Play', 'youtube': 'YouTube', 'no': 'Нет' }">
                        </b-form-select>
                    </div>
                    <div class="param-online">
                        <label>Вериф.:</label>
                        <b-form-select v-model="filterText.verification"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.verification) }"
                                       :options="{ 'na': 'Неважно', 'yes': 'Да', 'no': 'Нет' }">
                        </b-form-select>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="showTableHeader"/>
        </b-container>
        <!-- / SEARCH FORM -->

        <div class="users-list-block">
            <div v-if="table.loading" class="users-list-spinner">
                <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
            </div>

            <div :class="{'table-list-loading' : table.loading}">
                <vuetable ref="vuetable"
                          id="vuetable-container"
                          :api-url="table.apiUrl"
                          :fields="table.fields"
                          :css="table.css.table"
                          :per-page="table.perPage"
                          :sort-order="table.sortOrder"
                          :append-params="table.moreParams"
                          :http-fetch="loadData"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                >
                    <!--checkbox-->
                    <template slot="checked" slot-scope="props">
                        <b-form-checkbox
                                v-if="permEdit === true"
                                v-model="checked_users"
                                :value="props.rowData.user_id">
                        </b-form-checkbox>
                    </template>

                    <!--avatar-->
                    <template slot="avatar" slot-scope="props">
                        <template v-if="props.rowData.avatar">
                            <template v-if="props.rowData.photo">
                                <a :href="props.rowData.photo"
                                   :data-lightbox="'users-avatar' + props.rowData.user_id"
                                   :data-title="getPhotoTitle(props.rowData)"
                                >
                                    <img :src="props.rowData.avatar" alt="">
                                    <span class="badge" v-show="props.rowData.photos.length > 0">
                                        {{ props.rowData.photos.length + 1 }}
                                    </span>
                                    <span class="verification" v-if="props.rowData.verification === 1">
                                        <i class="fas fa-shield-alt"></i>
                                    </span>
                                </a>
                                <template v-if="props.rowData.photos.length > 0">
                                    <a v-for="item in props.rowData.photos"
                                       :href="item"
                                       :data-lightbox="'users-avatar' + props.rowData.user_id"
                                       :data-title="getPhotoTitle(props.rowData)"
                                    ></a>
                                </template>
                            </template>
                            <template v-else>
                                <img :src="props.rowData.avatar" alt="">
                            </template>
                        </template>
                    </template>

                    <!--name-->
                    <template slot="name" slot-scope="props">
                        <span :class="{'users-banned':  props.rowData.banned}">
                            <span class="users-online-status" :class="getOnlineClass(props.rowData.last_visit)">
                                <span>{{ props.rowData.name }}</span>
                                <i v-if="props.rowData.fake === 1" class="fab fa-gitkraken"></i>
                            </span>
                        </span>
                    </template>

                    <!--banned-->
                    <template slot="banned" slot-scope="props">
                        <el-field-banned :data="props.rowData"></el-field-banned>
                    </template>

                    <!--gender-->
                    <template slot="gender" slot-scope="props">
                        <i v-if="props.rowData.gender === 1" class="fas fa-mars fa-lg"></i>
                        <i v-if="props.rowData.gender === 2" class="fas fa-venus fa-lg"></i>
                    </template>

                    <!--total amount-->
                    <template slot="total_amount" slot-scope="props">
                        <template v-if="props.rowData.total_amount.sum > 0">
                            <div><span><i class="fas fa-chess-queen fa-lg"></i></span> {{ props.rowData.total_amount.vip.toLocaleString('ru-RU') }}</div>
                            <div><span><i class="fab fa-btc fa-lg"></i></span> {{ props.rowData.total_amount.points.toLocaleString('ru-RU') }}</div>
                            <div><span><i class="far fa-eye"></i></span> {{ props.rowData.total_amount.reveal.toLocaleString('ru-RU') }}</div>
                            <div><span><i class="fas fa-ruble-sign fa-lg"></i></span> {{ props.rowData.total_amount.sum.toLocaleString('ru-RU') }}</div>
                        </template>
                    </template>

                    <!--vk-->
                    <template slot="vk" slot-scope="props">
                        <i v-if="props.rowData.vk === 1" class="fab fa-vk fa-lg"></i>
                    </template>

                    <!--fb-->
                    <template slot="fb" slot-scope="props">
                        <i v-if="props.rowData.fb === 1" class="fab fa-facebook-f fa-lg"></i>
                    </template>

                    <!--utm-->
                    <template slot="utm" slot-scope="props">
                        <div v-html="parseUTM(props.rowData.utm)"></div>
                    </template>

                    <!--vip-->
                    <template slot="vip" slot-scope="props">
                        <template v-if="props.rowData.vip.status === 1">
                            <div class="users-vip-block">
                                <template v-if="props.rowData.vip.payment === 1">
                                    <i class="fas fa-chess-queen fa-lg vip-pay"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                                <template v-else>
                                    <i class="fas fa-chess-queen fa-lg vip-adm"></i>
                                    <div>{{ props.rowData.vip.expires }}</div>
                                </template>
                            </div>
                        </template>
                    </template>

                    <!--custom_alerts_count-->
                    <template slot="custom_alert_count" slot-scope="props">
                        <div v-if="props.rowData.custom_alert_count"
                             :class="{ 'custom-alert-count-read': props.rowData.custom_alert_count === props.rowData.custom_alert_read }">
                            <div><i class="fas fa-bullhorn"></i></div>
                            <span>{{ props.rowData.custom_alert_count }}</span>
                        </div>
                    </template>

                    <!--messages-->
                    <template slot="messages" slot-scope="props">
                        <div>
                            <div>
                                <span><i class="far fa-comment"></i> {{ props.rowData.messages }}</span>
                                <span><i class="far fa-list-alt"></i> {{ props.rowData.dialogs }}</span>
                            </div>
                        </div>
                    </template>

                    <!--app_version-->
                    <template slot="app_version" slot-scope="props">
                        <div v-for="item in props.rowData.app_version">
                            {{ item }}
                        </div>
                    </template>

                    <!--controls-->
                    <template slot="controls" slot-scope="props">
                        <div class="users-actions">
                            <template v-if="permEdit === true
                                && props.rowData.banned_acc === 0 && props.rowData.banned_dev === 0 && props.rowData.blocked_photo === 0"
                            >
                                <a :href="getDialogsUri(props.rowData.user_id)"
                                   target="_blank"
                                   class="btn btn-info btn-xs"
                                   title="Переписка пользователя"
                                ><i class="fas fa-comments"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-info btn-xs disabled"
                                   title="Переписка пользователя"
                                ><i class="fas fa-comments"></i></a>
                            </template>

                            <template v-if="permEdit === true">
                                <a :href="getEditUri(props.rowData.user_id)"
                                   target="_blank"
                                   class="btn btn-primary btn-xs"
                                   title="Профиль пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-primary btn-xs disabled"
                                   title="Профиль пользователя"
                                ><i class="fas fa-pencil-alt"></i></a>
                            </template>

                            <template v-if="checkPermission('users__delete')">
                                <a @click="deleteUser(props.rowData.user_id, props.rowData.name)"
                                   class="btn btn-danger btn-xs"
                                   title="Удалить пользователя"
                                ><i class="fas fas fa-trash-alt"></i></a>
                            </template>
                            <template v-else>
                                <a href="#"
                                   class="btn btn-danger btn-xs disabled"
                                   title="Удалить пользователя"
                                ><i class="fas fas fa-trash-alt"></i></a>
                            </template>
                        </div>
                    </template>
                </vuetable>
            </div>
        </div>

        <!-- Vip add modal -->
        <div id="vipAddModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавить vip статус</h4>
                    </div>
                    <div class="modal-body">
                        <b-form-group>
                            <label>Период:</label>
                            <b-form-input v-model="vip_days" placeholder="дней"></b-form-input>
                        </b-form-group>
                    </div>
                    <div class="modal-footer">
                        <b-button @click="vipAddUsers(checked_users, vip_days)" variant="primary">Добавить</b-button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Vip add modal -->

        <!-- Points add modal -->
        <div id="pointsAddModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Подарить баллы</h4>
                    </div>
                    <div class="modal-body">
                        <b-form-group>
                            <label>Количество:</label>
                            <b-form-input v-model="points_amount" placeholder="баллов"></b-form-input>
                        </b-form-group>
                    </div>
                    <div class="modal-footer">
                        <b-button @click="pointsAddUsers(checked_users, points_amount)" variant="primary">Добавить</b-button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Points add modal -->

        <!-- Alert modal -->
        <div id="modalAlertMessage" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <b-form-group>
                            <label>Заголовок:</label>
                            <b-form-input v-model="alertMessage.title" :maxlength="alertMessageLimit.title"></b-form-input>
                        </b-form-group>

                        <b-form-group>
                            <label>Сообщение:</label>
                            <b-form-textarea v-model="alertMessage.message"
                                             @keydown.enter.prevent
                                             :maxlength="alertMessageLimit.message"
                                             :rows="5"
                                             :max-rows="5"
                                             :no-resize="true"></b-form-textarea>
                        </b-form-group>

                        <div class="d-flex">
                            <div class="flex-1">
                                <b-form-checkbox v-model="alertMessageCreate">
                                    Добавить в шаблоны
                                </b-form-checkbox>
                            </div>
                            <b-button-group class="user-alert-btns-priority ">
                                <b-button @click="alertMessage.priority = 100" variant="success"
                                          :class="{ 'alert-active': alertMessage.priority === 100 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                                <b-button @click="alertMessage.priority = 200" variant="warning"
                                          :class="{ 'alert-active': alertMessage.priority === 200 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                                <b-button @click="alertMessage.priority = 300" variant="danger"
                                          :class="{ 'alert-active': alertMessage.priority === 300 }">
                                    <i class="fas fa-bullhorn"></i>
                                </b-button>
                            </b-button-group>
                        </div>

                        <b-form-group>
                            <label>Шаблоны:</label>
                            <div class="d-flex">
                                <div class="flex-1">
                                    <b-form-select v-model="alertMessagesSelect"
                                                   class="form-control"
                                                   :options="alertMessagesOptions"></b-form-select>
                                </div>
                                <div>&nbsp;</div>
                                <div>
                                    <b-button variant="danger"
                                              @click="deleteAlertMessage()"
                                              :disabled="alertMessagesSelect === 0"
                                    >Удалить</b-button>
                                </div>
                            </div>
                        </b-form-group>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex">
                            <div class="flex-1 text-left">
                                <b-button variant="success"
                                          @click="updateAlertMessage()"
                                          :disabled="!changedAlertMessage()"
                                >Сохранить</b-button>
                            </div>
                            <div>
                                <b-button variant="primary"
                                          @click="sendAlertMessage()"
                                          :disabled="!alertTextTitle || !alertTextMessage"
                                >Отправить</b-button>
                                <b-button variant="default" data-dismiss="modal">Закрыть</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Alert modal -->
    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'

import VueDatepickerLocal from 'vue-datepicker-local'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import VuetablePagination from '../users/UsersPaginationComponent'
import Spinner from 'vue-simple-spinner'
import moment from 'moment'
import VueResize from 'vue-resize'
import ElFieldBanned from '../elements/fieldBanned'

import 'vue-resize/dist/vue-resize.css'
import 'lightbox2/dist/css/lightbox.min.css'
import 'lightbox2/dist/js/lightbox.min.js'
import 'floatthead'

Vue.use(VueResize);

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
        Vuetable,
        VuetablePagination,
        VuetablePaginationInfo,
        'vue-simple-spinner': Spinner,
        ElFieldBanned
    },
    data() {
        return {
            user_edit_uri: '/users/user/edit?id=',
            user_dialogs_uri: '/users/user/dialogs?id=',
            checked_users: [],
            vip_days: 0,
            points_amount: 0,
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок',
            },
            isFixed: false,
            filterText: {
                id: '',
                email: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                platform: 'na',
                vip: 'na',
                reg_at_min: '',
                reg_at_max: '',
                enter_at_min: '',
                enter_at_max: '',
                online: 'na',
                utm: 'na',
                verification: 'na',
            },
            table: {
                apiUrl: '/api/users/get-data',
                perPage: 200,
                fields: [
                    {
                        name: '__slot:checked',
                        title: '&nbsp;',
                        titleClass: 'users-checkbox',
                        dataClass: 'users-checkbox',
                    },
                    {
                        name: '__slot:avatar',
                        title: '&nbsp;',
                        titleClass: 'users-avatar',
                        dataClass: 'users-avatar text-center'
                    },
                    {
                        name: '__slot:name',
                        title: 'Имя',
                        sortField: 'name',
                        titleClass: 'users-name',
                        dataClass: 'users-name users-name-online'
                    },
                    {
                        name: '__slot:banned',
                        title: '<i class="fas fa-exclamation-circle"></i>',
                        sortField: 'banned_dev,banned_acc,blocked_photo,banned_date',
                        titleClass: 'users-banned text-center',
                        dataClass: 'users-banned text-center'
                    },
                    {
                        name: '__slot:gender',
                        title: 'Пол',
                        titleClass: 'users-gender',
                        dataClass: 'users-gender text-center',
                        sortField: 'sex'
                    },
                    {
                        name: 'years',
                        title: 'Лет',
                        titleClass: 'users-years',
                        dataClass: 'users-years text-center',
                        sortField: 'years'
                    },
                    {
                        name: 'city',
                        title: 'Город',
                        sortField: 'city',
                        titleClass: 'users-city',
                        dataClass: 'users-city',
                    },
                    {
                        name: '__slot:total_amount',
                        title: '<i class="fas fa-ruble-sign fa-lg"></i>',
                        sortField: 'total_amount_sum',
                        titleClass: 'users-total-amount text-center',
                        dataClass: 'users-total-amount',
                    },
                    {
                        name: '__slot:vk',
                        title: '<i class="fab fa-vk fa-lg"></i>',
                        titleClass: 'users-vk text-center',
                        dataClass: 'users-vk text-center',
                    },
                    {
                        name: '__slot:fb',
                        title: '<i class="fab fa-facebook-f fa-lg"></i>',
                        titleClass: 'users-fb text-center',
                        dataClass: 'users-fb text-center',
                    },
                    {
                        name: '__slot:utm',
                        title: 'UTM-метки',
                        titleClass: 'users-utm',
                        dataClass: 'users-utm',
                    },
                    {
                        name: 'gifts',
                        title: '<i class="fa fa-gift fa-lg"></i>',
                        titleClass: 'users-gifts text-center',
                        dataClass: 'users-gifts text-center',
                        sortField: 'gifts'
                    },
                    {
                        name: 'points',
                        title: '<i class="fab fa-btc fa-lg"></i>',
                        titleClass: 'users-points text-center',
                        dataClass: 'users-points text-center',
                        sortField: 'points'
                    },
                    {
                        name: '__slot:vip',
                        title: '<i class="fas fa-chess-queen fa-lg"></i>',
                        titleClass: 'users-vip text-center',
                        dataClass: 'users-vip text-center',
                        sortField: 'vip,vip_expires'
                    },
                    {
                        name: 'online_total',
                        title: '<i class="far fa-clock fa-lg"></i>',
                        titleClass: 'users-online-total text-center',
                        dataClass: 'users-online-total text-center',
                        sortField: 'online_total'
                    },
                    {
                        name: '__slot:custom_alert_count',
                        title: '<i class="fas fa-pencil-alt"></i> <i class="fas fa-bullhorn"></i>',
                        titleClass: 'custom-alert-count',
                        dataClass: 'custom-alert-count text-center',
                    },
                    {
                        name: 'reg_date',
                        title: 'Рег-ия',
                        titleClass: 'users-reg-date',
                        dataClass: 'users-reg-date',
                        sortField: 'reg_date',
                        callback: 'formatDateTime'
                    },
                    {
                        name: 'last_visit',
                        title: 'Вход',
                        titleClass: 'users-last-visit',
                        dataClass: 'users-last-visit',
                        sortField: 'last_visit',
                        callback: 'formatDateTime'
                    },
                    {
                        name: '__slot:messages',
                        title: '<i class="fas fa-comments fa-lg"></i>',
                        titleClass: 'users-messages text-center',
                        dataClass: 'users-messages',
                        sortField: 'messages,dialogs'
                    },
                    {
                        name: '__slot:app_version',
                        title: 'Версия',
                        titleClass: 'users-app-version',
                        dataClass: 'users-app-version'
                    },
                    {
                        name: '__slot:controls',
                        title: '&nbsp;',
                        titleClass: 'users-controls',
                        dataClass: 'users-controls'
                    }
                ],
                sortOrder: [
                    {
                        field: 'reg_date',
                        direction: 'desc'
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table b-table table-striped table-hover users-list',
                        ascendingClass: 'current-sort',
                        descendingClass: 'current-sort',
                        ascendingIcon: 'glyphicon glyphicon-chevron-down',
                        descendingIcon: 'glyphicon glyphicon-chevron-up',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                        renderIcon: function(classes) {
                            return `<span class="${classes.join(' ')}"></span>`
                        }
                    }
                },
                moreParams: {},
                loading: false
            },
            alertMessage: {
                title: '',
                message: '',
                priority: 200,
                message_id: 0,
            },
            alertMessageLimit: {
                title: 60,
                message: 200
            },
            alertMessageCreate: true,
            alertMessagesList: {},
            alertMessagesSelect: 0,
            alertMessagesOptions: {},
            permEdit: false,
        }
    },
    async mounted() {
        await this.getCurrentUser();
        this.permEdit = this.checkPermission('users__edit');

        this.showTableHeader();
    },
    computed: {
        alertTextTitle() {
            return this.alertMessage.title;
        },
        alertTextMessage() {
            return this.alertMessage.message;
        },
    },
    watch: {
        alertTextTitle() {
            this.alertMessage.title = this.alertTextTitle.replace(/\r?\n|\r|\s{2,}/gm, ' ');
        },
        alertTextMessage() {
            this.alertMessage.message = this.alertTextMessage.replace(/\r?\n|\r|\s{2,}/gm, ' ');
        },
        alertMessagesSelect() {
            if (this.alertMessagesList.hasOwnProperty(this.alertMessagesSelect)) {
                let index = this.alertMessagesSelect;

                this.alertMessage = _.clone(this.alertMessagesList[index]);
                this.alertMessageCreate = false;
            } else {
                this.resetAlertMessage();
            }
        }
    },
    methods: {
        showTableHeader() {
            let table = $('table#vuetable-container');
            let header = $('header.header');
            let search = $('.search-block');

            table.css('margin-top', search.height() + 'px');
            table.floatThead({
                position: 'fixed',
                zIndex: 2,
                top: function() {
                    return header.outerHeight() + search.outerHeight();
                }
            });
            table.trigger('reflow');
        },
        loadData(apiUrl, httpOptions) {
            /**
             * @property {number} total
             * @property {number} per_page
             * @property {number} current_page
             * @property {number} last_page
             * @property {number} next_page_url
             * @property {number} prev_page_url
             * @property {number} from
             * @property {number} to
             * @property {number} data.user_id
             * @property {string} data.avatar
             * @property {string} data.photo
             * @property {string} data.name
             * @property {number} data.gender
             * @property {number} data.years
             * @property {string} data.city
             * @property {number} data.verification
             * @property {number} data.vk
             * @property {number} data.fb
             * @property {object} data.utm
             * @property {string} data.utm.source
             * @property {string} data.utm.medium
             * @property {string} data.utm.term
             * @property {number} data.gifts
             * @property {number} data.points
             * @property {object} data.vip
             * @property {number} data.vip.status
             * @property {string} data.vip.expires
             * @property {number} data.vip.payment
             * @property {number} data.online_total
             * @property {object} data.search_params
             * @property {number} data.search_params.gender
             * @property {string} data.search_params.age_range
             * @property {number} data.search_params.radius
             * @property {string} data.reg_date
             * @property {string} data.last_visit
             * @property {number} data.messages
             * @property {number} data.dialogs
             * @property {string} data.app_version
             * @property {number} data.banned
             * @property {number} data.banned_dev
             * @property {number} data.banned_acc
             * @property {string} data.banned_date
             * @property {string} data.banned_admin
             * @property {number} data.custom_alert_count
             * @property {number} data.custom_alert_read
             * @property {object} data.total_amount
             * @property {number} data.total_amount.points
             * @property {number} data.total_amount.vip
             * @property {number} data.total_amount.reveal
             * @property {number} data.total_amount.sum
             * @property {array} data.photos
             * @property {string} data.photos.i
             */
            return axios.get(apiUrl, httpOptions);
        },
        onLoading() {
            this.table.loading = true;
        },
        onLoaded() {
            this.table.loading = false;
            this.showTableHeader();
        },
        onPaginationData(paginationData) {
            if (paginationData.to > paginationData.total) {
                paginationData.to = paginationData.total;
            }
            this.$refs.pagination.setPaginationData(paginationData);
            this.$refs.paginationInfo.setPaginationData(paginationData);
        },
        onChangePage(page) {
            this.$refs.vuetable.changePage(page);
        },
        refreshTable() {
            Vue.nextTick(() => this.$refs.vuetable.reload());
        },
        doFilter() {
            this.table.moreParams = {
                'filter': this.filterText
            };
            this.$refs.vuetable.changePage(1);
            this.checked_users = [];
            this.refreshTable();
        },
        resetFilter() {
            this.filterText = {
                user_id: '',
                email: '',
                name: '',
                city: '',
                gender: '0',
                years_min: '',
                years_max: '',
                platform: 'na',
                vip: 'na',
                reg_at_min: '',
                reg_at_max: '',
                enter_at_min: '',
                enter_at_max: '',
                online: 'na',
                utm: 'na',
                verification: 'na',
            };
            this.doFilter();
        },
        getEditUri(user_id) {
            return this.user_edit_uri + user_id;
        },
        getDialogsUri(user_id) {
            return this.user_dialogs_uri + user_id;
        },
        formatDateTime(value, fmt = 'DD.MM.YYYY HH:mm:ss') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
        getPhotoTitle(row) {
            let title = row.name + ', ' + row.years;

            if (row.city !== null && row.city.length > 0) {
                title += ' (' + row.city + ')';
            }

            return title;
        },
        getOnlineClass(value) {
            let className = 'online-status-';

            if (value == null) {
                className += 'offline';
            } else {
                let online = moment.duration(moment().diff(moment(value))).asMinutes();

                if (online < 10) {
                    className += 'online';
                } else if (online < 360) {
                    className += 'visited';
                } else {
                    className += 'offline';
                }
            }

            return className;
        },
        parseUTM(utm) {
            let html = '';

            if (utm.source) {
                let div = $('<div>', { 'class': 'utm-block' });

                if (utm.source === 'AdWords') {
                    div.addClass('utm-adwords');
                } else if (utm.source === 'YouTube') {
                    div.addClass('utm-youtube');
                } else {
                    div.addClass('utm-default');
                }

                div.append($('<div>').text(utm.source));
                div.append($('<div>').text(utm.medium));
                div.append($('<div>').text(utm.term));

                html = div[0].outerHTML;
            }

            return html;
        },
        deleteUser(uid, name) {
            if(confirm('Удалить пользователя ' + name + '?')) {
                axios.delete('/api/user/' + uid)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
            }
        },
        vipAddUsers(users, period) {
            if (typeof period === 'undefined' || period === parseInt(period, 10) || period < 1) {
                alert('Не выбран период vip статуса.');
                return false;
            }

            if (typeof users !== 'undefined' && users.length > 0) {
                if(confirm('Добавить vip статус (' + period + ' дней) выбранным пользователям?')) {
                    $('#vipAddModal').modal('toggle');

                    axios.post('/api/users/vip-add', {
                        'users': users,
                        'period': period
                    })
                        .then(() => {
                            this.checked_users = [];
                            this.refreshTable();
                        })
                        .catch((error) => {
                            console.log("axios error: ", error);
                        });
                }
            } else {
                $('#vipAddModal').modal('toggle');
                alert('Нет выбранных пользователей.');
            }
        },
        vipRemoveUsers(users) {
            if(confirm('Удалить vip статус выбранным пользователям?')) {
                return axios.post('/api/users/vip-remove', {'users': users})
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
            }
        },
        blockedAdd(users) {
            if (this.checked_users.length > 0) {
                if (confirm('Временно заблокировать основное фото выбранных пользователей?')) {
                    return axios.post('/api/users/blocked-user-add', users)
                        .then(() => {
                            this.checked_users = [];
                            this.refreshTable();
                        })
                        .catch((error) => {
                            if (error.hasOwnProperty('response')) {
                                alert(error.response.data.error);
                            }
                            console.log(error);
                        });
                }
            }
        },
        blockedRemove(users) {
            if (this.checked_users.length > 0) {
                if (confirm('Удалить временную блокировку основного фото выбранных пользователей?')) {
                    return axios.post('/api/users/blocked-user-remove', users)
                        .then(() => {
                            this.checked_users = [];
                            this.refreshTable();
                        })
                        .catch((error) => {
                            if (error.hasOwnProperty('response')) {
                                alert(error.response.data.error);
                            }
                            console.log(error.response.data);
                        });
                }
            }
        },
        banUserAdd(users) {
            if(confirm('Забанить аккаунт выбранных пользователей?')) {
                return axios.post('/api/users/ban-user-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banUserRemove(users) {
            if(confirm('Удалить бан аккаунта выбранных пользователей?')) {
                return axios.post('/api/users/ban-user-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceAdd(users) {
            if(confirm('Забанить устройство выбранных пользователей?')) {
                return axios.post('/api/users/ban-device-add', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        banDeviceRemove(users) {
            if(confirm('Удалить бан устройства выбранных пользователей?')) {
                return axios.post('/api/users/ban-device-remove', users)
                    .then(() => {
                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        if (error.hasOwnProperty('response')) {
                            alert(error.response.data.error);
                        }
                        console.log(error);
                    });
            }
        },
        changeGender(users, gender) {
            if(confirm('Изменить пол выбранных пользователей?')) {
                return axios.post('/api/users/change-gender', {
                    users: users,
                    gender: gender
                })
                    .then((response) => {
                        console.log("changeGender response: ", response);

                        this.checked_users = [];
                        this.refreshTable();
                    })
                    .catch((error) => {
                        console.log("changeGender error: ", error);
                    });
            }
        },
        pointsAddUsers(users, points) {
            if (typeof points === 'undefined' || points === parseInt(points, 10) || points < 1) {
                alert('Не указанно количество баллов.');
                return false;
            }

            if (typeof users !== 'undefined' && users.length > 0) {
                if(confirm('Добавить баллы (' + points + ') выбранным пользователям?')) {
                    $('#pointsAddModal').modal('toggle');

                    axios.post('/api/users/points-add', {
                        'users': users,
                        'points': points
                    })
                        .then(() => {
                            this.checked_users = [];
                            this.refreshTable();
                        })
                        .catch((error) => {
                            console.log("axios error: ", error);
                        });
                }
            } else {
                $('#pointsAddModal').modal('toggle');
                alert('Нет выбранных пользователей.');
            }
        },
        pointsAmountReset() {
            this.points_amount = '';
        },
        vipDaysReset() {
            this.vip_days = '';
        },
        showAlertMessage() {
            if (this.isCheckedUsers()) {
                this.getAlertMessages();
                this.resetAlertMessage();

                $('#modalAlertMessage').modal('show');
            }
        },
        resetAlertMessage() {
            this.alertMessage = {
                title: '',
                message: '',
                priority: 200,
                message_id: 0,
            };
            this.alertMessageCreate = true;
        },
        getAlertMessages(reset_select = true) {
            return axios.get('/api/users/alert-messages-list')
                .then((response) => {
                    if (reset_select) {
                        this.alertMessagesSelect = 0;
                    }
                    this.alertMessagesList = {};
                    this.alertMessagesOptions = [];
                    this.alertMessagesOptions.push({
                        value: 0,
                        text: ''
                    });

                    for (let message of response.data.messages) {
                        let msgTitle = message.title;
                        let msgBody = message.message;

                        if (msgTitle.length > 40) {
                            msgTitle = msgTitle.substring(0, 40) + '...';
                        }

                        if (msgBody.length > 40) {
                            msgBody = msgBody.substring(0, 40) + '...';
                        }

                        this.alertMessagesList[message.message_id] = message;
                        this.alertMessagesOptions.push({
                            value: message.message_id,
                            text: msgTitle + ' | ' + msgBody
                        });
                    }
                })
                .catch((error) => {
                    console.log('alert messages list error: ', error);
                })
        },
        changedAlertMessage() {
            let index = this.alertMessagesSelect;

            if (this.alertMessageCreate === true) {
                return false;
            } else if (this.alertMessage.message_id === 0 || this.alertMessagesSelect === 0) {
                return false;
            } else if (this.alertMessagesList.hasOwnProperty(index) === false) {
                return false;
            } else if (this.alertMessage.title === this.alertMessagesList[index].title
                && this.alertMessage.message === this.alertMessagesList[index].message
                && this.alertMessage.priority === this.alertMessagesList[index].priority
            ) {
                return false;
            }

            return true;
        },
        updateAlertMessage() {
            if (this.changedAlertMessage() === false) {
                return false;
            }

            return axios.put('/api/users/alert-message', this.alertMessage)
                .catch((error) => {
                    console.log('update alert message error: ', error);
                })
                .finally(() => {
                    this.getAlertMessages(false);
                });
        },
        deleteAlertMessage() {
            if (!this.alertMessagesSelect || !this.alertMessagesList.hasOwnProperty(this.alertMessagesSelect)) {
                return false;
            }

            return axios.delete('/api/users/alert-message', {
                data: {
                    message_id: this.alertMessagesSelect
                }
            })
                .catch((error) => {
                    console.log('delete alert message error: ', error);
                })
                .finally(() => {
                    this.getAlertMessages();
                });
        },
        sendAlertMessage() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            if (this.alertMessage.title === '' || this.alertMessage.message === '') {
                return false;
            }

            let create = true;

            if (this.alertMessageCreate === true) {
                axios.post('/api/users/alert-message', {
                    title: this.alertMessage.title,
                    message: this.alertMessage.message,
                    priority: this.alertMessage.priority,
                })
                    .catch((error) => {
                        create = false;
                        console.log('create alert message error: ', error);
                    });
            }

            if (!create) {
                alert('Ошибка добавления шаблона');

                return false;
            }

            return axios.post('/api/users/alert-message-send', {
                users: this.checked_users,
                title: this.alertMessage.title,
                message: this.alertMessage.message,
                priority: this.alertMessage.priority,
            })
                .then(() => {
                    this.checked_users = [];
                    this.resetAlertMessage();
                })
                .catch((error) => {
                    alert('Ошибка отправки сообщения');
                    console.log('send alert message error: ', error);
                })
                .finally(() => {
                    $('#modalAlertMessage').modal('hide');
                });
        },
        onChangeSelect(index) {
            return index !== 'na' && index !== '0';
        },
        isCheckedUsers() {
            return this.checked_users.length > 0;
        },
        bntBlockedAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1 || user.blocked_photo === 1) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBlockedRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.blocked_photo === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedAccAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedAccRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedDevAdd() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_acc === 1 || user.banned_dev === 1 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        bntBannedDevRemove() {
            if (!this.isCheckedUsers()) {
                return false;
            }

            for (let select of this.checked_users) {
                const user = this.$refs.vuetable.$data.tableData.find(obj => {
                    return obj.user_id === select
                });

                if (user) {
                    if (user.banned_dev === 0 || user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
    }
}
</script>