<template>
    <section class="wrapper">
        <b-container fluid class="search-block">
            <div class="border-head-no-line search-block-top">
                <div class="search-block-title">
                    <h3>Верификация профиля (<span>{{ pageNav.total }}</span>) показано <span>{{ pageNav.from }} - {{ pageNav.to }}</span></h3>
                </div>
                <!--pagenav-->
                <div v-if="pageNav.lastPage > 1" class="top-pagination search-block-pagination">
                    <paginate
                            v-model="pageNav.currentPage"
                            :page-count="pageNav.lastPage"
                            :click-handler="refreshData"
                            :prev-text="pageNav.prev"
                            :next-text="pageNav.next"
                            :page-range="5"
                            :container-class="'pagination'"
                            :page-class="'page-item'"
                            :page-link-class="'page-link-item'"
                            :prev-class="'prev-item'"
                            :prev-link-class="'prev-link-item'"
                            :next-class="'next-item'"
                            :next-link-class="'next-link-item'"
                            :break-view-class="'break-view'"
                            :break-view-link-class="'break-view-link'"
                    >
                    </paginate>
                </div>
                <!--buttons-->
                <div class="search-block-btns search-verification-photos">
                    <b-button-group class="btns-verification">
                        <b-button variant="success" title="Верифицировать" v-on:click="verificationSelected(1)"
                                  :disabled="!checkPermission('verification_photos__verification') || !isVerificationSelected(1)">
                            <i class="fas fa-user-shield"></i>
                        </b-button>
                        <b-button variant="orange" title="Отклонить верификацию" v-on:click="verificationSelected(2)"
                                  :disabled="!checkPermission('verification_photos__verification') || !isVerificationSelected(2)">
                            <i class="far fa-window-close"></i>
                        </b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-account">
                        <b-button variant="orange"
                                  title="Забанить аккаунт"
                                  @click="banUserAddSelected()"
                                  :disabled="!bntBannedAccAddSelected()"
                        ><i class="fas fa-portrait"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                    </b-button-group>

                    <b-button-group class="btns-ban-device">
                        <b-button variant="danger"
                                  title="Забанить устройство"
                                  @click="banDeviceAddSelected()"
                                  :disabled="!bntBannedDevAddSelected()"
                        ><i class="fas fa-mobile-alt"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                    </b-button-group>
                </div>
            </div>

            <b-row class="search-block-params">
                <div class="search-block-params-wrap">
                    <div class="param-id">
                        <input type="text" class="form-control" v-model="filterText.user_id" @keyup.enter="doFilter" placeholder="Id">
                    </div>
                    <div class="param-name">
                        <input type="text" class="form-control" v-model="filterText.name" @keyup.enter="doFilter" placeholder="Имя">
                    </div>
                    <div class="param-city">
                        <input type="text" class="form-control" v-model="filterText.city" @keyup.enter="doFilter" placeholder="Город">
                    </div>
                    <div class="param-gender">
                        <label for="search_form_gender">Пол:</label>
                        <select id="search_form_gender" class="form-control" v-model="filterText.gender"
                                :class="{ changed: onChangeSelect(filterText.gender) }">
                            <option v-for="option in genderList" v-bind:value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-age">
                        <label>Возраст:</label>
                        <div>
                            <input type="text" class="form-control" v-model="filterText.years_min" @keyup.enter="doFilter" placeholder="от">
                            <input type="text" class="form-control" v-model="filterText.years_max" @keyup.enter="doFilter" placeholder="до">
                        </div>
                    </div>
                    <div class="param-vip">
                        <label for="search_form_vip">VIP:</label>
                        <select id="search_form_vip" class="form-control" v-model="filterText.vip"
                                :class="{ changed: onChangeSelect(filterText.vip) }">
                            <option v-for="option in vipList" v-bind:value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-platform">
                        <label for="search_form_platform">Платформа:</label>
                        <select id="search_form_platform" class="form-control" v-model="filterText.platform"
                                :class="{ changed: onChangeSelect(filterText.platform) }">
                            <option v-for="option in platformList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="param-online">
                        <label for="search_form_online">Online:</label>
                        <b-form-select v-model="filterText.online"
                                       id="search_form_online"
                                       class="form-control"
                                       :class="{ changed: onChangeSelect(filterText.online) }"
                                       :options="{ 'na': 'Неважно', 'online': 'Online', 'visited': 'Был недавно', 'offline': 'Offline' }">
                        </b-form-select>
                    </div>
                    <div class="param-reg">
                        <label>Дата верификации:</label>
                        <div>
                            <vue-datepicker-local v-model="filterText.created_at_min"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="от" clearable/>
                            <vue-datepicker-local v-model="filterText.created_at_max"
                                                  :local="datepicker_local"
                                                  :format="'DD.MM.YYYY'"
                                                  placeholder="до" clearable/>
                        </div>
                    </div>
                    <div class="param-verification">
                        <label for="search_form_verification">Статус:</label>
                        <select id="search_form_verification" class="form-control" v-model="filterText.verification"
                                :class="{ changed: onChangeSelect(filterText.verification) }">
                            <option v-for="option in verificationList" :value="option.id">{{ option.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="search-block-btns">
                    <b-button-group>
                        <b-button variant="default" @click="resetFilter"><i class="fas fa-eraser"></i></b-button>
                        <b-button variant="info" @click="doFilter">Поиск</b-button>
                    </b-button-group>
                </div>
            </b-row>
            <div class="search-block-params-bline"></div>

            <resize-observer @notify="listPosition"/>
        </b-container>

        <div class="users-list-block">
            <div :id="listBlockId">
                <div v-if="loading" class="users-list-spinner">
                    <vue-simple-spinner :size="64" :line-size="7" :speed="1.5" line-bg-color="#bec3c7" line-fg-color="#428bca"></vue-simple-spinner>
                </div>

                <div v-if="photos.length > 0" class="users-verification-list" :class="{ 'block-list-loading' : loading }">
                    <template v-for="(photo, i) in photos">
                        <div class="users-verification-list__item">
                            <!--photo top-->
                            <div class="users-verification-list__item-top" @click="selectedPhoto(photo.photo_id)"
                                 :class="{ selected: isSelectedPhoto(photo.photo_id) }">
                                <!--photo-->
                                <div class="users-verification-list__item-img">
                                    <div>
                                        <span>Фото профиля</span>
                                        <div>
                                            <img v-lazy="{ src: photo.photo_prev, loading: '/images/loading-image.png' }" src="" alt=""
                                                 :key="photo.photo_prev">
                                        </div>
                                    </div>
                                    <div>
                                        <span>Селфи</span>
                                        <div>
                                            <img v-lazy="{ src: photo.selfie_prev, loading: '/images/loading-image.png' }" src="" alt=""
                                                 :key="photo.selfie_prev">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--photo bottom-->
                            <div class="users-verification-list__bottom">
                                <div class="users-verification-list__status">
                                    <!--status info-->
                                    <div class="users-verification-list__status-info">
                                        <div class="status-request">
                                            <div><i class="far fa-clock"></i></div>
                                            <div>
                                                <span>Заявка</span>
                                                <time v-if="photo.verification.created_at">
                                                    {{ formatDateTime(photo.verification.created_at) }}
                                                </time>
                                            </div>
                                        </div>
                                        <div v-if="photo.verification.status === 1" class="status-accept">
                                            <div><i class="fas fa-user-shield"></i></div>
                                            <div>
                                                <span>Верифицирована</span>
                                                <time v-if="photo.verification.verified_at">
                                                    {{ formatDateTime(photo.verification.verified_at) }}
                                                </time>
                                                <template v-if="photo.verification.admin">
                                                    <br>{{ photo.verification.admin }}
                                                </template>
                                            </div>
                                        </div>
                                        <div v-else-if="photo.verification.status === 2" class="status-reject">
                                            <div><i class="far fa-window-close"></i></div>
                                            <div>
                                                <span>Отклонена</span>
                                                <time v-if="photo.verification.verified_at">
                                                    {{ formatDateTime(photo.verification.verified_at) }}
                                                </time>
                                                <template v-if="photo.verification.admin">
                                                    <br>{{ photo.verification.admin }}
                                                </template>
                                            </div>
                                        </div>
                                    </div>

                                    <!--status buttons-->
                                    <div class="users-verification-list__status-btns">
                                        <div>
                                            <b-button-group size="sm">
                                                <b-button variant="success"
                                                          title="Верифицировать"
                                                          @click="verification(photo, 1)"
                                                          :disabled="photo.verification.status === 1">
                                                    <i class="fas fa-user-shield"></i>
                                                </b-button>
                                                <b-button variant="orange"
                                                          title="Отклонить верификацию"
                                                          @click="verification(photo, 2)"
                                                          :disabled="photo.verification.status === 2">
                                                    <i class="far fa-window-close"></i>
                                                </b-button>
                                            </b-button-group>
                                        </div>
                                        <div>
                                            <b-button size="sm" variant="primary" @click="showComparePhotos(i)" title="Просмотр">
                                                <i class="far fa-eye"></i>
                                            </b-button>
                                        </div>
                                    </div>
                                </div>

                                <!--photo user-->
                                <div class="users-verification-list__user">
                                    <div class="users-verification-list__user-block">
                                        <!--user avatar-->
                                        <div class="users-verification-list__user-avatar">
                                            <img v-lazy="{ src: photo.user.avatar, loading: '/images/loading-avatar.png' }" src="" alt=""
                                                 :key="photo.user.avatar">
                                        </div>
                                        <div class="users-verification-list__user-info">
                                            <!--user name-->
                                            <div class="users-verification-list__user-name">
                                                <template v-if="checkPermission('users__edit')">
                                                    <a :href="'/users/user/edit?id=' + photo.user.user_id" target="_blank">{{ photo.user.name }}</a>
                                                </template>
                                                <template v-else>{{ photo.user.name }}</template>
                                                <span>({{ photo.user.years }})</span>
                                            </div>
                                            <!--user city-->
                                            <div class="users-verification-list__user-city">{{ photo.user.city }}</div>
                                            <!--user status-->
                                            <div class="users-verification-list__user-status">
                                                <div v-if="photo.user.online" class="online">
                                                    <span :class="'online' + photo.user.online"></span>
                                                </div>
                                                <div v-if="photo.user.vip" class="vip">
                                                    <i v-if="photo.user.vip" class="fas fa-chess-queen fa-lg"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="users-verification-list__user-side">
                                        <b-button-group size="sm">
                                            <b-button variant="orange"
                                                      title="Забанить аккаунт"
                                                      @click="banUserAdd(photo)"
                                                      :disabled="photo.user.banned_acc === 1 || photo.user.banned_dev === 1"
                                            ><i class="fas fa-portrait"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                                            <b-button variant="danger"
                                                      title="Забанить устройство"
                                                      @click="banDeviceAdd(photo)"
                                                      :disabled="photo.user.banned_acc === 1 || photo.user.banned_dev === 1"
                                            ><i class="fas fa-mobile-alt"></i>&nbsp;<i class="fas fa-ban"></i></b-button>
                                        </b-button-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <!--modal compare image-->
        <div :ref="compareModal" class="modal fade users-verification-compare" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img :src="comparePhoto" alt="" v-show="comparePhoto !== ''">
                        <img :src="compareSelfie" alt="" v-show="compareSelfie !== ''">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
import Vue from 'vue'
import axios from '../../utils/axios'
import permissions from '../mixins/permissions'
import moment from 'moment'
import VueDatepickerLocal from 'vue-datepicker-local'
import Spinner from 'vue-simple-spinner'
import Paginate from 'vuejs-paginate'
import VueLazyload from 'vue-lazyload'
import VueResize from 'vue-resize'

import 'vue-resize/dist/vue-resize.css'

Vue.use(VueLazyload, {
    observer: true,
    observerOptions: {
        rootMargin: '100px',
        threshold: 0.1
    }
});
Vue.use(VueResize);
Vue.component('paginate', Paginate);

export default {
    mixins: [permissions],
    components: {
        VueDatepickerLocal,
        'vue-simple-spinner': Spinner
    },
    data() {
        return {
            listBlockId: 'photos_list',
            /**
             * @property {number} photos.i.photo_id
             * @property {string} photos.i.photo_prev
             * @property {string} photos.i.photo_href
             * @property {string} photos.i.selfie_prev
             * @property {string} photos.i.selfie_href
             * @property {object} photos.i.verification
             * @property {number} photos.i.verification.status
             * @property {string} photos.i.verification.admin
             * @property {string} photos.i.verification.created_at
             * @property {string} photos.i.verification.verified_at
             * @property {object} photos.i.user
             * @property {number} photos.i.user.user_id
             * @property {string} photos.i.user.name
             * @property {number} photos.i.user.years
             * @property {string} photos.i.user.city
             * @property {string} photos.i.user.avatar
             * @property {number} photos.i.user.vip
             * @property {number} photos.i.user.online
             */
            photos: {},
            pageNav: {
                total: 0,
                from: 0,
                to: 0,
                currentPage: 1,
                lastPage: 1,
                prev: '<i class="fas fa-angle-left"></i>',
                next: '<i class="fas fa-angle-right"></i>'
            },
            datepicker_local: {
                dow: 1,
                yearSuffix: ' г.',
                monthsHead: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
                months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'),
                weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'),
                cancelTip: 'Отмена',
                submitTip: 'Ок',
            },
            compareModal: 'compareModal',
            comparePhoto: '',
            compareSelfie: '',
            filterText: {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                platform: 'na',
                online: 'na',
                created_at_min: '',
                created_at_max: '',
                verification: 'na',
            },
            /**
             * @mixes filterText
             */
            filterCurrent: {},
            genderList: [
                {id: 'na', name: 'Неважно'},
                {id: '1', name: 'Муж'},
                {id: '2', name: 'Жен'}
            ],
            vipList: [
                {id: 'na', name: 'Неважно'},
                {id: 'yes', name: 'Да'},
                {id: 'no', name: 'Нет'}
            ],
            platformList: [
                {id: 'na', name: 'Неважно'},
                {id: 'android', name: 'Android'},
                {id: 'ios', name: 'IOS'}
            ],
            verificationList: [
                {id: 'na', name: 'Запрос'},
                {id: 'accept', name: 'Верифицирована'},
                {id: 'reject', name: 'Отклонена'},
                {id: 'all', name: 'Неважно'}
            ],
            selected: [],
            loading: true,
        };
    },
    async mounted() {
        $(this.$refs[this.compareModal]).on('hidden.bs.modal', this.hideComparePhotos);

        await this.getCurrentUser();

        this.getData();
    },
    computed: {
        filterVerification() {
            return this.filterText.verification;
        }
    },
    watch: {
        filterVerification() {
            this.doFilter();
        },
    },
    methods: {
        /* запрос фото */
        getData() {
            this.loading = true;

            axios.get('/api/verification/get-data', {
                params: {
                    page: this.pageNav.currentPage,
                    filter: this.filterText
                }
            })
                .then((response) => {
                    if (!response.data.hasOwnProperty('data') || response.data.data.length === 0) {
                        this.photos = [];

                        return false;
                    }

                    this.photos = response.data.data;
                    this.pageNav = {
                        'from': response.data.from,
                        'to': response.data.to,
                        'total': response.data.total,
                        'currentPage': response.data.current_page,
                        'lastPage': response.data.last_page
                    };
                    this.filterCurrent = Object.assign({}, this.filterText);
                })
                .catch((error) => {
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false;
                    this.listPosition();
                });
        },
        /* расчет отступа блока с фото */
        listPosition() {
            let block = $('#' + this.listBlockId);
            let search = $('.search-block');

            this.$nextTick(() => {
                block.css('margin-top', search.height() + 'px');
            });
        },
        /* обновление списка фото */
        refreshData() {
            this.selected = [];
            this.getData();
        },
        /* фильтрация */
        doFilter() {
            this.selected = [];
            this.pageNav.total = 0;
            this.pageNav.from = 0;
            this.pageNav.to = 0;
            this.pageNav.currentPage = 1;
            this.pageNav.lastPage = 1;
            this.getData();
        },
        /* сброс фильтра */
        resetFilter() {
            this.filterText = {
                user_id: '',
                name: '',
                city: '',
                gender: 'na',
                years_min: '',
                years_max: '',
                vip: 'na',
                platform: 'na',
                online: 'na',
                created_at_min: '',
                created_at_max: '',
                verification: 'na',
            };

            this.doFilter();
        },
        /* проверка на изменение фильтра */
        onChangeSelect(index) {
            return index !== 'na';
        },
        /* проверка фото */
        verification(photo, status) {
            this.sendVerification([photo.photo_id], status);
            this.selectedPhotoAfterAction(photo);
        },
        /* проверка выбранных фото */
        verificationSelected(status) {
            if (status === 1) {
                if (!confirm('Верифицировать выбранные фото?')) {
                    return false;
                }
            } else if (status === 2) {
                if (!confirm('Отклонить верификацию выбранных фото?')) {
                    return false;
                }
            }

            this.sendVerification(this.selected, status);
            this.selected = [];
        },
        /* запрос на проверку */
        sendVerification(photos, status) {
            return axios.post('/api/verification/verification', {photos: photos, status: status})
                .then(() => {
                    this.getData();
                })
                .catch((error) => {
                    console.log(error.response);
                });
        },
        /* забанить аккаунт */
        banUserAdd(photo) {
            if (confirm('Забанить аккаунт?')) {
                this.banUserAddSend([photo.user.user_id]);
                this.selectedPhotoAfterAction(photo);
            }
        },
        /* забанить выбранные аккаунты */
        banUserAddSelected() {
            const users = this.getSelectedUsers();

            if (users.length === 0) {
                return false;
            }

            if (confirm('Забанить аккаунт выбранных пользователей?')) {
                this.banUserAddSend(users);
                this.selected = [];
            }
        },
        /* забанить указанные аккаунты */
        banUserAddSend(users) {
            return axios.post('/api/verification/ban-user-add', users)
                .then(() => {
                    this.getData();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        alert(error.response.data.error);
                    }
                    console.log(error);
                });
        },
        /* забанить устройство */
        banDeviceAdd(photo) {
            if (confirm('Забанить устройство?')) {
                this.banDeviceAddSend([photo.user.user_id]);
                this.selectedPhotoAfterAction(photo);
            }
        },
        /* забанить выбранные устройства */
        banDeviceAddSelected() {
            const users = this.getSelectedUsers();

            if (users.length === 0) {
                return false;
            }

            if (confirm('Забанить устройство выбранных пользователей?')) {
                this.banDeviceAddSend(users);
                this.selected = [];
            }
        },
        /* забанить указанные устройства */
        banDeviceAddSend(users) {
            return axios.post('/api/verification/ban-device-add', users)
                .then(() => {
                    this.getData();
                })
                .catch((error) => {
                    if (error.hasOwnProperty('response')) {
                        alert(error.response.data.error);
                    }
                    console.log(error);
                });
        },
        /* доступность кнопки проверки выбранных фото */
        isVerificationSelected(status) {
            if (this.selected.length === 0) {
                return false;
            }

            for (let photo_id of this.selected) {
                if (this.photos.find(photo => photo.photo_id === photo_id).verification.status !== status) {
                    return true;
                }
            }

            return false;
        },
        /* доступность кнопки забанить аккаунт */
        bntBannedAccAddSelected() {
            if (this.selected.length === 0) {
                return false;
            }

            for (let select of this.selected) {
                const photo = this.getPhotoById(select);

                if (photo !== false) {
                    if (photo.user.banned_acc === 1) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        /* доступность кнопки забанить устройство */
        bntBannedDevAddSelected() {
            if (this.selected.length === 0) {
                return false;
            }

            for (let select of this.selected) {
                const photo = this.getPhotoById(select);

                if (photo !== false) {
                    if (photo.user.banned_acc === 1 || photo.user.banned_dev === 1 || photo.user.app_version.length === 0) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        },
        /* выбрать фото */
        selectedPhoto(photo_id) {
            photo_id = parseInt(photo_id, 10);

            if (this.photos.find(photo => photo.photo_id === photo_id) === undefined) {
                return false;
            }

            let index = this.selected.indexOf(photo_id);
            if (index === -1) {
                this.selected.push(photo_id);
            } else {
                this.selected.splice(index, 1);
            }
        },
        /* удалить указанное фото из выбранных */
        selectedPhotoAfterAction(photo) {
            let index = this.selected.indexOf(photo.photo_id);

            if (index !== -1) {
                this.selected.splice(index, 1);
            }
        },
        getPhotoById(photo_id) {
            const photo = this.photos.find(obj => {
                return obj.photo_id === photo_id
            });

            if (photo instanceof Object) {
                return photo;
            }

            return false;
        },
        getSelectedUsers() {
            let users = [];

            for (const photo_id of this.selected) {
                const photo = this.getPhotoById(photo_id);

                if (photo) {
                    users.push(photo.user.user_id);
                }
            }

            return users;
        },
        /* класс для выбранного фото */
        isSelectedPhoto(photo_id) {
            return this.selected.includes(photo_id);
        },
        /* показ сравнения фото */
        showComparePhotos(index) {
            if (this.photos.hasOwnProperty(index)) {
                this.comparePhoto = this.photos[index].photo_href;
                this.compareSelfie = this.photos[index].selfie_href;

                this.$nextTick(() => {
                    $(this.$refs[this.compareModal]).modal('show');
                });
            }
        },
        /* скрыть сравнение фото */
        hideComparePhotos() {
            this.comparePhoto = '';
            this.compareSelfie = '';
        },
        /* формат даты */
        formatDateTime(value, fmt = 'DD.MM.YY HH:mm') {
            return (value == null)
                ? ''
                : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
        },
    }
}
</script>